Workflow-China_charge_seriver-draft-9380/workflow/charge_charging_v15.yml
app:
  description: '充电桩客服 v15 - 对齐架构框架: L1板块路由(流程1+流程2) → FAQ快路径 → L3意图识别(4路) → A/B/C/D处理路径, 含转人工出口'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: charge_charging_v15
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/volcengine_maas:0.0.51@10500d8c8e350242a0db2dda11c276685ab947ec0b41f9b94ea73c2919aacab7
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - JPG
      - PNG
      - JPEG
      - WEBP
      - PDF
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    # ===== L0/L1 主干 =====
    - data: {sourceType: any, targetType: any}
      id: e-5001-5002
      source: '5001'
      sourceHandle: source
      target: '5002'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5002-5101
      source: '5002'
      sourceHandle: source
      target: '5101'
      targetHandle: target
      type: custom
    # L1 板块路由三分支
    - data: {sourceType: any, targetType: any}
      id: e-5101-5104
      source: '5101'
      sourceHandle: class_unclear
      target: '5104'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5101-5105
      source: '5101'
      sourceHandle: class_custom
      target: '5105'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5101-5102
      source: '5101'
      sourceHandle: class_basic
      target: '5102'
      targetHandle: target
      type: custom
    # FAQ 快路径
    - data: {sourceType: any, targetType: any}
      id: e-5102-5103
      source: '5102'
      sourceHandle: source
      target: '5103'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5103-5106
      source: '5103'
      sourceHandle: 'true'
      target: '5106'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5103-5201
      source: '5103'
      sourceHandle: 'false'
      target: '5201'
      targetHandle: target
      type: custom
    # L3 意图识别四路分发
    - data: {sourceType: any, targetType: any}
      id: e-5201-5210
      source: '5201'
      sourceHandle: class_a
      target: '5210'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5201-5220
      source: '5201'
      sourceHandle: class_b
      target: '5220'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5201-5230
      source: '5201'
      sourceHandle: class_c
      target: '5230'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5201-5240
      source: '5201'
      sourceHandle: class_d
      target: '5240'
      targetHandle: target
      type: custom
    # 路径 A: 生成词条 → 检索菜单 → 输出≤5菜单
    - data: {sourceType: any, targetType: any}
      id: e-5210-5211
      source: '5210'
      sourceHandle: source
      target: '5211'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5211-5212
      source: '5211'
      sourceHandle: source
      target: '5212'
      targetHandle: target
      type: custom
    # 路径 B / C 串行
    - data: {sourceType: any, targetType: any}
      id: e-5220-5221
      source: '5220'
      sourceHandle: source
      target: '5221'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5230-5231
      source: '5230'
      sourceHandle: source
      target: '5231'
      targetHandle: target
      type: custom
    # 路径 D: 查询 → 命中汇报进度 / 未命中记录
    - data: {sourceType: any, targetType: any}
      id: e-5240-5241
      source: '5240'
      sourceHandle: source
      target: '5241'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5241-5242
      source: '5241'
      sourceHandle: 'false'
      target: '5242'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5241-5243
      source: '5241'
      sourceHandle: 'true'
      target: '5243'
      targetHandle: target
      type: custom
    # 所有叶子汇聚到 选最优答案
    - data: {sourceType: any, targetType: any}
      id: e-5104-5098
      source: '5104'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5105-5098
      source: '5105'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5106-5098
      source: '5106'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5212-5098
      source: '5212'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5221-5098
      source: '5221'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5231-5098
      source: '5231'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5242-5098
      source: '5242'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5243-5098
      source: '5243'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data: {sourceType: any, targetType: any}
      id: e-5098-5099
      source: '5098'
      sourceHandle: source
      target: '5099'
      targetHandle: target
      type: custom
    nodes:
    # ============ 5001 入口 (L0 第一轮对话确认) ============
    - data:
        selected: false
        title: 接收多模态输入
        type: start
        variables:
        - default: ''
          label: 用户文本
          max_length: 4000
          required: false
          type: paragraph
          variable: input_text
        - default: ''
          label: 语言(可选)
          options: [zh, en, vi, '']
          required: false
          type: select
          variable: input_language
        - label: 图片(可选)
          required: false
          type: file-list
          variable: input_img_id
        - default: 1
          label: 轮次
          required: false
          type: number
          variable: input_turn
        - default: ''
          label: 会话ID
          required: false
          type: text-input
          variable: input_session_id
        - default: ''
          label: 端类型
          options: [user, butler, pc, '']
          required: false
          type: select
          variable: input_hint_endpoint
        - default: ''
          label: 地域
          options: [cn, overseas, '']
          required: false
          type: select
          variable: input_hint_region
      height: 265
      id: '5001'
      position: {x: -700, y: 0}
      positionAbsolute: {x: -700, y: 0}
      selected: false
      type: custom
      width: 242
    # ============ 5002 自动检测语言 ============
    - data:
        code: "\ndef main(input_text: str, input_language: str) -> dict:\n    if input_language\
          \ and input_language.strip():\n        return {\"input_language\": input_language,\
          \ \"detected\": False}\n    text = input_text or \"\"\n    cjk_count = sum(1\
          \ for c in text if '\\u4e00' <= c <= '\\u9fff')\n    vi_chars = \"ăâđêôơưĂÂĐÊÔƠƯáàảãạắằẳẵặấầẩẫậéèẻẽẹếềểễệíìỉĩịóòỏõọốồổỗộớờởỡợúùủũụứừửữựýỳỷỹỵ\"\
          \n    has_vi = any(c in vi_chars for c in text)\n    if has_vi: lang = \"\
          vi\"\n    elif cjk_count > 0: lang = \"zh\"\n    else: lang = \"en\"\n \
          \   return {\"input_language\": lang, \"detected\": True}\n"
        code_language: python3
        outputs:
          detected: {children: null, type: boolean}
          input_language: {children: null, type: string}
        selected: false
        title: code_自动检测语言
        type: code
        variables:
        - value_selector: ['5001', input_text]
          variable: input_text
        - value_selector: ['5001', input_language]
          variable: input_language
      height: 52
      id: '5002'
      position: {x: -430, y: 0}
      positionAbsolute: {x: -430, y: 0}
      selected: false
      type: custom
      width: 242
    # ============ 5101 L1 板块路由 (流程1: 是否清楚板块 + 流程2: 是否基础功能) ============
    - data:
        classes:
        - id: class_basic
          name: basic_feature
        - id: class_custom
          name: custom_feature
        - id: class_unclear
          name: unclear_module
        instruction: '基于语义理解,先做"流程1:是否清楚功能板块",再做"流程2:是否属于基础功能",给出唯一分类。


          **判定规则**:

          1. 用户模糊/太短/无法判断涉及哪个功能板块 → class_unclear

          2. 用户清楚表达了功能板块,且属于标准基础功能(计费/订单/设备/场地/用户/财务/报表等平台通用功能) → class_basic

          3. 用户问的是项目级/定制/增值/对接类功能(非标准基础功能,通常需产品或商务确认) → class_custom

          4. 不要用关键词匹配,要理解用户意图的语义

          5. 只能选一个分类'
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        query_variable_selector: ['5001', input_text]
        selected: false
        title: L1 板块路由 (流程1+流程2)
        type: question-classifier
      height: 304
      id: '5101'
      position: {x: -160, y: 0}
      positionAbsolute: {x: -160, y: 0}
      selected: false
      type: custom
      width: 242
    # ============ 5104 流程1-N: 再问对话提问 (澄清追问) ============
    - data:
        context: {enabled: false, variable_selector: []}
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: l1-unclear-sys
          role: system
          text: '你是充电桩智能客服。用户输入模糊或无法判断功能板块,需要礼貌追问以确认功能板块(对应架构"流程1-N:再问对话提问")。


            **规则**:

            1. 严格只输出追问文本

            2. 引导用户说明:涉及哪个功能板块(如计费/订单/设备/场地/用户/财务)以及具体问题

            3. 简洁,不超过80字


            用户问: {{#5001.input_text#}}

            板块判定: {{#5101.class_name#}}'
        - id: l1-unclear-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: 流程1-N 再问对话提问
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5104'
      position: {x: 130, y: -360}
      positionAbsolute: {x: 130, y: -360}
      selected: false
      type: custom
      width: 242
    # ============ 5105 流程2-N: 非基础功能 → 介绍+提示产品商务沟通+二次确认 ============
    - data:
        context: {enabled: false, variable_selector: []}
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: l1-custom-sys
          role: system
          text: '你是充电桩智能客服。用户询问的是项目级/定制/增值功能(非标准基础功能,对应架构"流程2-N")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 简要介绍该功能的定位(基于已知信息,不编造)

            3. 提示:该功能需与产品和商务进一步沟通确认

            4. 提示:如该功能在本项目已开通,请二次确认项目名称

            5. 简洁,150字以内


            用户问: {{#5001.input_text#}}

            板块判定: {{#5101.class_name#}}'
        - id: l1-custom-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: 流程2-N 非基础功能(转产品/商务)
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5105'
      position: {x: 130, y: -150}
      positionAbsolute: {x: 130, y: -150}
      selected: false
      type: custom
      width: 242
    # ============ 5102 流程2-Y: 查询常见问题 (FAQ 快路径) ============
    - data:
        dataset_ids:
        - VcBiFnZNjdnZ2cxehDh+oNlTGHwBN3UMDpHNHj012ETQjjZYo/L3gyOmbvdcZm5e
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
          query_attachment_selector: []
        query_variable_selector: ['5001', input_text]
        retrieval_mode: multiple
        selected: false
        title: KR 常见问题 (FAQ快路径)
        type: knowledge-retrieval
      height: 118
      id: '5102'
      position: {x: 130, y: 60}
      positionAbsolute: {x: 130, y: 60}
      selected: false
      type: custom
      width: 242
    # ============ 5103 FAQ 是否命中 (菱形判断) ============
    - data:
        cases:
        - case_id: faq_hit
          logical_operator: and
          conditions:
          - variable_selector: ['5102', result]
            comparison_operator: not empty
        selected: false
        title: FAQ 是否命中
        type: if-else
      height: 118
      id: '5103'
      position: {x: 400, y: 60}
      positionAbsolute: {x: 400, y: 60}
      selected: false
      type: custom
      width: 242
    # ============ 5106 FAQ 命中: 输出答案 + 询问是否其他问题 ============
    - data:
        context:
          enabled: true
          variable_selector: ['5102', result]
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: faq-sys
          role: system
          text: '你是充电桩智能客服,基于下方常见问题知识库回答(对应架构"FAQ命中:输出问题答案,并询问是否有其他问题")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 必须基于知识库检索结果,严禁编造

            3. 若上下文为空,说:"该问题暂未收录,建议联系平台客服"

            4. 回答后追问:"请问还有其他问题吗?"

            5. 简洁,150字以内


            用户问: {{#5001.input_text#}}

            常见问题检索结果:

            {{#context#}}'
        - id: faq-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: FAQ 命中答案
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5106'
      position: {x: 670, y: -80}
      positionAbsolute: {x: 670, y: -80}
      selected: false
      type: custom
      width: 242
    # ============ 5201 L3 意图识别 (4路分发枢纽) ============
    - data:
        classes:
        - id: class_a
          name: path_a_location
        - id: class_b
          name: path_b_business
        - id: class_c
          name: path_c_process
        - id: class_d
          name: path_d_bug
        instruction: '基于语义理解,在已确认的基础功能板块内,判断用户问题属于哪条意图路径(对应架构"模块1:意图识别")。


          **重要规则**:

          1. 不要用关键词匹配,要理解用户意图的语义

          2. 用户发图片(截屏反馈),通常是想反馈 bug/问题 → path_d_bug

          3. 用户问"怎么/如何 + 操作(添加/设置/配置/创建/启用)" → path_b_business

          4. 用户被系统阻止("拦截/卡住/失败/报错") → path_c_process

          5. 用户问"在哪/怎么找/怎么进入" → path_a_location

          6. 用户报告"bug/错误/不工作" → path_d_bug'
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        query_variable_selector: ['5001', input_text]
        selected: false
        title: L3 意图识别 (4路分发)
        type: question-classifier
      height: 304
      id: '5201'
      position: {x: 670, y: 220}
      positionAbsolute: {x: 670, y: 220}
      selected: false
      type: custom
      width: 242
    # ============ 路径 A: 功能查找位置 ============
    # 5210 A2: 生成短词条
    - data:
        context: {enabled: false, variable_selector: []}
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: a2-sys
          role: system
          text: '你是充电桩功能导航助手。根据用户问题和可能的功能模块,生成用于菜单路径检索的短词条(对应架构"路径A-流程1:生成可能的存在性短词条")。


            **规则**:

            1. 输出3-6个短词条,用逗号分隔,只输出词条本身

            2. 词条应为功能/菜单名称的同义词和可能叫法(如"计费模板""节日计费""场地设置")

            3. 不要输出解释、编号或引号


            用户问: {{#5001.input_text#}}'
        - id: a2-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: A2 生成短词条
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5210'
      position: {x: 940, y: -360}
      positionAbsolute: {x: 940, y: -360}
      selected: false
      type: custom
      width: 242
    # 5211 A3: 根据词条查询菜单路径并合并
    - data:
        dataset_ids:
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        - qiObsMxLa6goPNUgmSUP80dC+6bIiCDN0j3GzwiSDfKjL3jJ1iJeBXBbavRn5n+U
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 5
        query_attachment:
          enabled: false
          query_attachment_selector: []
        query_variable_selector: ['5210', text]
        retrieval_mode: multiple
        selected: false
        title: A3 查询菜单路径
        type: knowledge-retrieval
      height: 118
      id: '5211'
      position: {x: 1210, y: -360}
      positionAbsolute: {x: 1210, y: -360}
      selected: false
      type: custom
      width: 242
    # 5212 A4: 输出 ≤5 菜单路径
    - data:
        context:
          enabled: true
          variable_selector: ['5211', result]
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: a4-sys
          role: system
          text: '你是充电桩功能导航助手,根据菜单路径检索结果,告诉用户功能设置在哪里操作(对应架构"路径A4:输出菜单路径,上限五个菜单以内")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 基于检索结果,按菜单路径输出,**最多5条**

            3. 格式示例:

            1. 如果你要查找计费模板在哪设置,可以在 充电桩>计费模板管理 查找

            2. 如果你要查找节日计费模板,可以在 充电桩>场地设置

            4. 若检索结果为空,说:"未找到该功能的菜单路径,建议联系平台客服"

            5. 简洁


            用户问: {{#5001.input_text#}}

            菜单路径检索结果:

            {{#context#}}'
        - id: a4-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: A4 输出菜单路径(≤5)
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5212'
      position: {x: 1480, y: -360}
      positionAbsolute: {x: 1480, y: -360}
      selected: false
      type: custom
      width: 242
    # ============ 路径 B: 业务/规则询问 ============
    # 5220 B2: 查询功能清单并整理
    - data:
        dataset_ids:
        - mMBLSIkOryH2hTIeO9w2Z1NlM+zsD4Vnd3Uf1sr+/GbrMq1Cr1JZt0obm2pXQzbX
        - qJS3GAAPpZkv7N/VhqjoRyr6iwCE2kAaDBcZSVx2EM6B5YfaxSMgw+DH9DITM5Dh
        - qiObsMxLa6goPNUgmSUP80dC+6bIiCDN0j3GzwiSDfKjL3jJ1iJeBXBbavRn5n+U
        - d2U6w4rM7sVExIzdVsjbNplOMWIVFQ80hm85Etd1g5zp12TMoIrmHwNVYXahlpjC
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
          query_attachment_selector: []
        query_variable_selector: ['5001', input_text]
        retrieval_mode: multiple
        selected: false
        title: B2 查询功能清单
        type: knowledge-retrieval
      height: 174
      id: '5220'
      position: {x: 940, y: -120}
      positionAbsolute: {x: 940, y: -120}
      selected: false
      type: custom
      width: 242
    # 5221 B3: 输出答案 + 是否需要产品沟通
    - data:
        context:
          enabled: true
          variable_selector: ['5220', result]
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: b3-sys
          role: system
          text: '你是充电桩智能客服,基于功能清单回答业务规则/功能内容问题(对应架构"路径B3:输出问题答案并回复是否需要产品沟通")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 必须基于上下文,严禁编造

            3. 若上下文为空,说:"该问题暂未收录到公开知识库,建议联系平台客服获取详细指引"

            4. 回答后主动询问:"是否需要进一步与产品沟通?"

            5. 150字以内,引用原文


            用户问: {{#5001.input_text#}}

            功能清单检索结果:

            {{#context#}}'
        - id: b3-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: B3 业务答案(转产品沟通)
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5221'
      position: {x: 1210, y: -120}
      positionAbsolute: {x: 1210, y: -120}
      selected: false
      type: custom
      width: 242
    # ============ 路径 C: 流程卡点诊断 ============
    # 5230 C2: 查询当前流程及前置流程操作
    - data:
        dataset_ids:
        - d2U6w4rM7sVExIzdVsjbNplOMWIVFQ80hm85Etd1g5zp12TMoIrmHwNVYXahlpjC
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
          query_attachment_selector: []
        query_variable_selector: ['5001', input_text]
        retrieval_mode: multiple
        selected: false
        title: C2 查询流程操作
        type: knowledge-retrieval
      height: 118
      id: '5230'
      position: {x: 940, y: 120}
      positionAbsolute: {x: 940, y: 120}
      selected: false
      type: custom
      width: 242
    # 5231 C3: 输出缺失操作 + 是否需要产品沟通
    - data:
        context:
          enabled: true
          variable_selector: ['5230', result]
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: c3-sys
          role: system
          text: '你是充电桩智能客服,诊断用户操作被拦截/卡住的流程问题(对应架构"路径C2:查询当前流程及前面流程的操作;C3:输出可能需要补充的操作流程,并回复是否需要产品沟通")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 基于上下文,指出当前流程及前置流程可能缺失/未完成的操作步骤

            3. 若上下文为空,说:"该流程问题暂未收录,建议提供具体操作页面和错误提示"

            4. 回答后主动询问:"是否需要进一步与产品沟通?"

            5. 简洁


            用户问: {{#5001.input_text#}}

            流程库检索结果:

            {{#context#}}'
        - id: c3-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: C3 流程卡点诊断(转产品沟通)
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5231'
      position: {x: 1210, y: 120}
      positionAbsolute: {x: 1210, y: 120}
      selected: false
      type: custom
      width: 242
    # ============ 路径 D: bug问题追踪 (查询-录入二态) ============
    # 5240 D2: 查询问题追踪表是否存在该问题
    - data:
        dataset_ids:
        - VcBiFnZNjdnZ2cxehDh+oNlTGHwBN3UMDpHNHj012ETQjjZYo/L3gyOmbvdcZm5e
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
          query_attachment_selector: []
        query_variable_selector: ['5001', input_text]
        retrieval_mode: multiple
        selected: false
        title: D2 查询问题追踪表
        type: knowledge-retrieval
      height: 118
      id: '5240'
      position: {x: 940, y: 360}
      positionAbsolute: {x: 940, y: 360}
      selected: false
      type: custom
      width: 242
    # 5241 D2 菱形: 是否已存在该问题
    - data:
        cases:
        - case_id: bug_exist
          logical_operator: and
          conditions:
          - variable_selector: ['5240', result]
            comparison_operator: not empty
        selected: false
        title: D2 是否已存在该问题
        type: if-else
      height: 118
      id: '5241'
      position: {x: 1210, y: 360}
      positionAbsolute: {x: 1210, y: 360}
      selected: false
      type: custom
      width: 242
    # 5242 D3 (N): 记录问题并输出记录结果
    - data:
        context: {enabled: false, variable_selector: []}
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: d3-sys
          role: system
          text: '你是充电桩智能客服,处理用户bug反馈且问题追踪表未命中(对应架构"路径D2-N:记录问题,并输出记录结果")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 礼貌确认已记录该问题,会转交技术团队跟进

            3. 简要复述用户反馈的问题点

            4. 简洁,100字以内


            用户问: {{#5001.input_text#}}'
        - id: d3-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: D3 记录新问题
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5242'
      position: {x: 1480, y: 240}
      positionAbsolute: {x: 1480, y: 240}
      selected: false
      type: custom
      width: 242
    # 5243 D4 (Y): 汇报该问题的项目进度
    - data:
        context:
          enabled: true
          variable_selector: ['5240', result]
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: d4-sys
          role: system
          text: '你是充电桩智能客服,汇报已记录问题的项目进度(对应架构"路径D2-Y:汇报该问题的项目进度")。


            **规则**:

            1. 严格只输出最终答案文本

            2. 基于问题追踪表检索结果,汇报该问题的当前状态(待处理/处理中/已修复/已关闭)

            3. 若上下文为空,说:"暂未查询到该问题的进度"

            4. 简洁


            用户问: {{#5001.input_text#}}

            问题追踪表检索结果:

            {{#context#}}'
        - id: d4-user
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: D4 汇报问题进度
        type: llm
        vision:
          configs: {detail: high, variable_selector: ['5001', input_img_id]}
          enabled: true
      height: 88
      id: '5243'
      position: {x: 1480, y: 420}
      positionAbsolute: {x: 1480, y: 420}
      selected: false
      type: custom
      width: 242
    # ============ 5098 汇聚: 选最优答案 ============
    - data:
        code: "\ndef main(unclear_text, custom_text, faq_text,\n         a_text, b_text,\
          \ c_text, d_rec_text, d_prog_text,\n         faq_kb, a_kb, b_kb, c_kb, d_kb,\n\
          \         t_unclear, t_custom, t_faq, t_a, t_b, t_c, t_drec, t_dprog):\n\
          \    items = [\n        (unclear_text, [], t_unclear),\n        (custom_text,\
          \ [], t_custom),\n        (faq_text, faq_kb, t_faq),\n        (a_text, a_kb,\
          \ t_a),\n        (b_text, b_kb, t_b),\n        (c_text, c_kb, t_c),\n  \
          \      (d_rec_text, d_kb, t_drec),\n        (d_prog_text, d_kb, t_dprog),\n\
          \    ]\n    for text, kb, thinking in items:\n        s = (text or \"\").strip()\n\
          \        if s and s != \"NOT_MY_PATH\":\n            return {\"text\": text,\
          \ \"knowledge\": kb or [], \"thinking\": thinking or \"\"}\n    return {\n\
          \        \"text\": \"抱歉,我没理解您的问题。请问您想咨询:1)功能位置 2)业务规则 3)流程问题 4)Bug反馈?\"\
          ,\n        \"knowledge\": [],\n        \"thinking\": \"\",\n    }\n"
        code_language: python3
        outputs:
          knowledge: {children: null, type: 'array[object]'}
          text: {children: null, type: string}
          thinking: {children: null, type: string}
        selected: false
        title: code_选择最优答案
        type: code
        variables:
        - value_selector: ['5104', text]
          variable: unclear_text
        - value_selector: ['5105', text]
          variable: custom_text
        - value_selector: ['5106', text]
          variable: faq_text
        - value_selector: ['5212', text]
          variable: a_text
        - value_selector: ['5221', text]
          variable: b_text
        - value_selector: ['5231', text]
          variable: c_text
        - value_selector: ['5242', text]
          variable: d_rec_text
        - value_selector: ['5243', text]
          variable: d_prog_text
        - value_selector: ['5102', result]
          variable: faq_kb
        - value_selector: ['5211', result]
          variable: a_kb
        - value_selector: ['5220', result]
          variable: b_kb
        - value_selector: ['5230', result]
          variable: c_kb
        - value_selector: ['5240', result]
          variable: d_kb
        - value_selector: ['5104', reasoning_content]
          variable: t_unclear
        - value_selector: ['5105', reasoning_content]
          variable: t_custom
        - value_selector: ['5106', reasoning_content]
          variable: t_faq
        - value_selector: ['5212', reasoning_content]
          variable: t_a
        - value_selector: ['5221', reasoning_content]
          variable: t_b
        - value_selector: ['5231', reasoning_content]
          variable: t_c
        - value_selector: ['5242', reasoning_content]
          variable: t_drec
        - value_selector: ['5243', reasoning_content]
          variable: t_dprog
      height: 52
      id: '5098'
      position: {x: 1780, y: 0}
      positionAbsolute: {x: 1780, y: 0}
      selected: false
      type: custom
      width: 242
    # ============ 5099 输出 ============
    - data:
        outputs:
        - value_selector: ['5098', knowledge]
          value_type: array[object]
          variable: knowledge
        - value_selector: ['5098', thinking]
          value_type: string
          variable: reasoning_content
        - value_selector: ['5098', text]
          value_type: string
          variable: text
        selected: false
        title: 输出 AI 回答
        type: end
      height: 89
      id: '5099'
      position: {x: 2050, y: 0}
      positionAbsolute: {x: 2050, y: 0}
      selected: false
      type: custom
      width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.5
  rag_pipeline_variables: []
