Workflow-China_charge_seriver-draft-9380/workflow/charge_charging_v14.yml
app:
  description: 充电桩客服 v12 - 路径A/B 改用 feature KB,涵盖 C端App+B端运营商+完整操作流程
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: charge_charging_v14
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/volcengine_maas:0.0.51@10500d8c8e350242a0db2dda11c276685ab947ec0b41f9b94ea73c2919aacab7
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - JPG
      - PNG
      - JPEG
      - WEBP
      - PDF
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: any
        targetType: any
      id: e-5001-5002
      source: '5001'
      sourceHandle: source
      target: '5002'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5002-5003
      source: '5002'
      sourceHandle: source
      target: '5003'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5003-5010
      source: '5003'
      sourceHandle: class_a
      target: '5010'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5003-5020
      source: '5003'
      sourceHandle: class_b
      target: '5020'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5003-5030
      source: '5003'
      sourceHandle: class_c
      target: '5030'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5003-5040
      source: '5003'
      sourceHandle: class_d
      target: '5040'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5003-5004
      source: '5003'
      sourceHandle: class_e
      target: '5004'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5010-5011
      source: '5010'
      sourceHandle: source
      target: '5011'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5020-5021
      source: '5020'
      sourceHandle: source
      target: '5021'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5030-5031
      source: '5030'
      sourceHandle: source
      target: '5031'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5040-5041
      source: '5040'
      sourceHandle: source
      target: '5041'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5011-5098
      source: '5011'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5021-5098
      source: '5021'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5031-5098
      source: '5031'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5041-5098
      source: '5041'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5004-5098
      source: '5004'
      sourceHandle: source
      target: '5098'
      targetHandle: target
      type: custom
    - data:
        sourceType: any
        targetType: any
      id: e-5098-5099
      source: '5098'
      sourceHandle: source
      target: '5099'
      targetHandle: target
      type: custom
    nodes:
    - data:
        selected: false
        title: 接收多模态输入
        type: start
        variables:
        - default: ''
          label: 用户文本
          max_length: 4000
          required: false
          type: paragraph
          variable: input_text
        - default: ''
          label: 语言(可选)
          options:
          - zh
          - en
          - vi
          - ''
          required: false
          type: select
          variable: input_language
        - label: 图片(可选)
          required: false
          type: file-list
          variable: input_img_id
        - default: 1
          label: 轮次
          required: false
          type: number
          variable: input_turn
        - default: ''
          label: 会话ID
          required: false
          type: text-input
          variable: input_session_id
        - default: ''
          label: 端类型
          options:
          - user
          - butler
          - pc
          - ''
          required: false
          type: select
          variable: input_hint_endpoint
        - default: ''
          label: 地域
          options:
          - cn
          - overseas
          - ''
          required: false
          type: select
          variable: input_hint_region
      height: 265
      id: '5001'
      position:
        x: -435.5076582555361
        y: -131.46074065759467
      positionAbsolute:
        x: -435.5076582555361
        y: -131.46074065759467
      selected: false
      type: custom
      width: 242
    - data:
        code: "\ndef main(input_text: str, input_language: str) -> dict:\n    if input_language\
          \ and input_language.strip():\n        return {\"input_language\": input_language,\
          \ \"detected\": False}\n    text = input_text or \"\"\n    cjk_count = sum(1\
          \ for c in text if '\\u4e00' <= c <= '\\u9fff')\n    vi_chars = \"ăâđêôơưĂÂĐÊÔƠƯáàảãạắằẳẵặấầẩẫậéèẻẽẹếềểễệíìỉĩịóòỏõọốồổỗộớờởỡợúùủũụứừửữựýỳỷỹỵ\"\
          \n    has_vi = any(c in vi_chars for c in text)\n    if has_vi: lang = \"\
          vi\"\n    elif cjk_count > 0: lang = \"zh\"\n    else: lang = \"en\"\n \
          \   return {\"input_language\": lang, \"detected\": True}\n"
        code_language: python3
        outputs:
          detected:
            children: null
            type: boolean
          input_language:
            children: null
            type: string
        selected: false
        title: code_自动检测语言
        type: code
        variables:
        - value_selector:
          - '5001'
          - input_text
          variable: input_text
        - value_selector:
          - '5001'
          - input_language
          variable: input_language
      height: 52
      id: '5002'
      position:
        x: -161.27458327437787
        y: -110.46074065759466
      positionAbsolute:
        x: -161.27458327437787
        y: -110.46074065759466
      selected: false
      type: custom
      width: 242
    - data:
        classes:
        - id: class_a
          name: path_a_location
        - id: class_b
          name: path_b_business
        - id: class_c
          name: path_c_process
        - id: class_d
          name: path_d_bug
        - id: class_e
          name: path_e_unclear
        instruction: '基于语义理解,判断用户问题属于哪个分类。


          **重要规则**:

          1. 不要用关键词匹配,要理解用户意图的语义

          2. 用户发了图片(说明截屏反馈),通常是想反馈 bug/问题 → path_d_bug

          3. 用户问 ''怎么/如何 + 操作(添加/设置/配置/创建/启用)'' → path_b_business

          4. 用户被系统阻止(''拦截/卡住/失败/报错'') → path_c_process

          5. 用户问 ''在哪/怎么找/怎么进入'' → path_a_location

          6. 用户报告 ''bug/错误/不工作'' → path_d_bug

          7. 模糊/太短 → path_e_unclear'
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        query_variable_selector:
        - '5001'
        - input_text
        selected: false
        title: 意图分类 (LLM 语义)
        type: question-classifier
      height: 304
      id: '5003'
      position:
        x: 127.51964802034968
        y: -110.46074065759466
      positionAbsolute:
        x: 127.51964802034968
        y: -110.46074065759466
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        - qiObsMxLa6goPNUgmSUP80dC+6bIiCDN0j3GzwiSDfKjL3jJ1iJeBXBbavRn5n+U
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
        query_attachment_selector: []
        query_variable_selector:
        - '5001'
        - input_text
        retrieval_mode: multiple
        selected: false
        title: KR 项目功能库 (C端+B端)
        type: knowledge-retrieval
      height: 118
      id: '5010'
      position:
        x: 420
        y: -300
      positionAbsolute:
        x: 420
        y: -300
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '5010'
          - result
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: 30ed88f7-3329-49f1-bde7-3dcb92ac4df2
          role: system
          text: '你是充电桩智能客服,负责基于下方“知识库检索结果”回答用户的问题


            **核心规则**:

            1. **严格只输出最终答案文本**

            2. **必须基于知识库检索结果回答,严禁编造**

            3. 如果上下文为空,直接说:"该功能暂未在公开文档中收录,建议联系平台客服"

            4. 如果 class_name 不是 ''path_a_location'',严格只输出:NOT_MY_PATH

            5. 回答简洁,不超过 100 字


            用户问: {{#5001.input_text#}}

            意图分类: {{#5003.class_name#}}

            项目功能库检索结果:{{#context#}}'
        - id: 4a8f7dc7-3e2a-486f-973e-2e43adb3e934
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: LLM 路径A (功能位置)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '5001'
            - input_img_id
          enabled: true
      height: 88
      id: '5011'
      position:
        x: 700
        y: -300
      positionAbsolute:
        x: 700
        y: -300
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - mMBLSIkOryH2hTIeO9w2Z1NlM+zsD4Vnd3Uf1sr+/GbrMq1Cr1JZt0obm2pXQzbX
        - qJS3GAAPpZkv7N/VhqjoRyr6iwCE2kAaDBcZSVx2EM6B5YfaxSMgw+DH9DITM5Dh
        - qiObsMxLa6goPNUgmSUP80dC+6bIiCDN0j3GzwiSDfKjL3jJ1iJeBXBbavRn5n+U
        - d2U6w4rM7sVExIzdVsjbNplOMWIVFQ80hm85Etd1g5zp12TMoIrmHwNVYXahlpjC
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
        query_attachment_selector: []
        query_variable_selector:
        - '5001'
        - input_text
        retrieval_mode: multiple
        selected: false
        title: KR 项目功能库 (操作步骤)
        type: knowledge-retrieval
      height: 174
      id: '5020'
      position:
        x: 420
        y: -147.69027014663624
      positionAbsolute:
        x: 420
        y: -147.69027014663624
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '5020'
          - result
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: b9fb56f3-ea57-480f-8b21-f71805488646
          role: system
          text: '你是充电桩智能客服,负责基于下方“知识库检索结果”回答用户的问题


            **核心规则**:

            1. **严格只输出最终答案文本**

            2. **必须基于上下文回答,严禁编造**

            3. 如果上下文为空,直接说:"该问题暂未收录到公开知识库,建议联系平台客服获取详细指引"

            4. 如果 class_name 不是 ''path_b_business'',严格只输出:NOT_MY_PATH

            5. 回答简洁,150 字以内,引用原文


            用户问: {{#5001.input_text#}}

            意图分类: {{#5003.class_name#}}

            项目功能库检索结果:

            {{#context#}}'
        - id: 24a407b4-edb5-4d1b-9378-d9def873780d
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: LLM 路径B (业务操作)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '5001'
            - input_img_id
          enabled: true
      height: 88
      id: '5021'
      position:
        x: 700
        y: -147.69027014663624
      positionAbsolute:
        x: 700
        y: -147.69027014663624
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - d2U6w4rM7sVExIzdVsjbNplOMWIVFQ80hm85Etd1g5zp12TMoIrmHwNVYXahlpjC
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
        query_attachment_selector: []
        query_variable_selector:
        - '5001'
        - input_text
        retrieval_mode: multiple
        selected: false
        title: KR 流程
        type: knowledge-retrieval
      height: 118
      id: '5030'
      position:
        x: 420
        y: 30.606818623059695
      positionAbsolute:
        x: 420
        y: 30.606818623059695
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '5030'
          - result
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: 9b16c1df-a5cf-488d-87cd-c0535c98c577
          role: system
          text: '你是充电桩智能客服,负责基于下方“知识库检索结果”回答用户的问题


            **核心规则**:

            1. **严格只输出最终答案文本**

            2. **必须基于上下文回答,严禁编造**

            3. 如果上下文为空,直接说:"该流程问题暂未收录,建议提供具体操作页面和错误提示"

            4. 如果 class_name 不是 ''path_c_process'',严格只输出:NOT_MY_PATH


            用户问: {{#5001.input_text#}}

            意图分类: {{#5003.class_name#}}

            流程库检索结果:

            {{#context#}}'
        - id: 82df3293-1083-4ce7-9bf4-dcc29583aa01
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: LLM 路径C (流程卡点)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '5001'
            - input_img_id
          enabled: true
      height: 88
      id: '5031'
      position:
        x: 700
        y: 30.606818623059695
      positionAbsolute:
        x: 700
        y: 30.606818623059695
      selected: false
      type: custom
      width: 242
    - data:
        dataset_ids:
        - VcBiFnZNjdnZ2cxehDh+oNlTGHwBN3UMDpHNHj012ETQjjZYo/L3gyOmbvdcZm5e
        - cJ687vaaJbsFc7MghKK/6gS+0+mJHna8xcsp3EgZpz4FTn6Z2PZ8MtU8c36SDHxB
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: 0.3
          top_k: 3
        query_attachment:
          enabled: false
        query_attachment_selector: []
        query_variable_selector:
        - '5001'
        - input_text
        retrieval_mode: multiple
        selected: false
        title: KR FAQ
        type: knowledge-retrieval
      height: 118
      id: '5040'
      position:
        x: 420
        y: 193.3536219396479
      positionAbsolute:
        x: 420
        y: 193.3536219396479
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '5040'
          - result
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: 82cff1fe-90b6-4b12-8f5a-d16f1111e875
          role: system
          text: '你是充电桩智能客服,正在处理用户**bug/问题反馈**(可能带截图)。


            **核心规则**:

            1. **严格只输出最终答案文本**

            2. **必须基于上下文回答,严禁编造**

            3. 如果上下文为空,直接说:"已记录您的问题,会转给技术团队跟进"

            4. 如果 class_name 不是 ''path_d_bug'',严格只输出:NOT_MY_PATH


            用户问: {{#5001.input_text#}}

            意图分类: {{#5003.class_name#}}

            FAQ 知识库检索结果:

            {{#context#}}'
        - id: 91c5680a-10f7-4fe4-8c83-a5071c8c8c4a
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: false
        title: LLM 路径D (bug/FAQ)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '5001'
            - input_img_id
          enabled: true
      height: 88
      id: '5041'
      position:
        x: 700
        y: 193.3536219396479
      positionAbsolute:
        x: 700
        y: 193.3536219396479
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: a11abd0a-3d5c-499a-85e0-72e7641ed2ba
          role: system
          text: '你是充电桩智能客服,用户输入模糊或太短。


            **核心规则**:

            1. **严格只输出最终答案文本**

            2. 礼貌引导用户选择 4 类方向

            3. 如果 class_name 不是 ''path_e_unclear'',严格只输出:NOT_MY_PATH


            用户问: {{#5001.input_text#}}

            意图分类: {{#5003.class_name#}}'
        - id: 1aac25b7-c930-4af1-8ebc-7a81018e4971
          role: user
          text: '{{#5001.input_text#}}'
        reasoning_format: separated
        selected: true
        title: LLM unclear (引导)
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - '5001'
            - input_img_id
          enabled: true
      height: 88
      id: '5004'
      position:
        x: 544.8467055003573
        y: 386.0264951863738
      positionAbsolute:
        x: 544.8467055003573
        y: 386.0264951863738
      selected: true
      type: custom
      width: 242
    - data:
        code: "\ndef main(text_a, text_b, text_c, text_d, text_e,\n         kb_a, kb_b, kb_c, kb_d,\n         thinking_a, thinking_b, thinking_c, thinking_d, thinking_e):\n    texts = [text_a, text_b, text_c, text_d, text_e]\n    kbs = [kb_a, kb_b, kb_c, kb_d, []]\n    thinkings = [thinking_a, thinking_b, thinking_c, thinking_d, thinking_e]\n    for i, t in enumerate(texts):\n        if t and t.strip() and t.strip() != \"NOT_MY_PATH\":\n            return {\n                \"text\": t,\n                \"knowledge\": kbs[i] if i < len(kbs) else [],\n                \"thinking\": thinkings[i] if i < len(thinkings) else \"\",\n            }\n    return {\n        \"text\": \"抱歉,我没理解您的问题。请问您想咨询:1)功能位置 2)业务规则 3)流程问题 4)Bug反馈?\",\n        \"knowledge\": [],\n        \"thinking\": \"\",\n    }\n"
        code_language: python3
        outputs:
          knowledge:
            children: null
            type: array[object]
          text:
            children: null
            type: string
          thinking:
            children: null
            type: string
        selected: false
        title: code_选择最优答案
        type: code
        variables:
        - value_selector:
          - '5011'
          - text
          variable: text_a
        - value_selector:
          - '5021'
          - text
          variable: text_b
        - value_selector:
          - '5031'
          - text
          variable: text_c
        - value_selector:
          - '5041'
          - text
          variable: text_d
        - value_selector:
          - '5004'
          - text
          variable: text_e
        - value_selector:
          - '5010'
          - result
          variable: kb_a
        - value_selector:
          - '5020'
          - result
          variable: kb_b
        - value_selector:
          - '5030'
          - result
          variable: kb_c
        - value_selector:
          - '5040'
          - result
          variable: kb_d
        - value_selector:
          - '5011'
          - reasoning_content
          variable: thinking_a
        - value_selector:
          - '5021'
          - reasoning_content
          variable: thinking_b
        - value_selector:
          - '5031'
          - reasoning_content
          variable: thinking_c
        - value_selector:
          - '5041'
          - reasoning_content
          variable: thinking_d
        - value_selector:
          - '5004'
          - reasoning_content
          variable: thinking_e
      height: 52
      id: '5098'
      position:
        x: 998.6030783306026
        y: 0
      positionAbsolute:
        x: 998.6030783306026
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '5098'
          - knowledge
          value_type: array[object]
          variable: knowledge
        - value_selector:
          - '5098'
          - thinking
          value_type: string
          variable: reasoning_content
        - value_selector:
          - '5098'
          - text
          value_type: string
          variable: text
        selected: false
        title: 输出 AI 回答
        type: end
      height: 89
      id: '5099'
      position:
        x: 1265.907986401772
        y: 0
      positionAbsolute:
        x: 1265.907986401772
        y: 0
      selected: false
      type: custom
      width: 242
    viewport:
      x: 244.5714641489774
      y: 427.5801170990403
      zoom: 0.6831952898057484
  rag_pipeline_variables: []
