Workflow-China_charge_seriver-draft-9380/workflow/charge_charging_v24.yml
app:
  description: '充电桩客服 v16 - chatflow 对齐架构框架: L1板块路由(流程1+流程2) → FAQ快路径 → L3意图识别(4路) → A/B/C/D处理路径, 多轮会话状态机+转人工出口'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: charge_charging_v16
  use_icon_as_answer_icon: false
dependencies:
  - current_identifier:
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/volcengine_maas:0.0.51@10500d8c8e350242a0db2dda11c276685ab947ec0b41f9b94ea73c2919aacab7
      version:
  - current_identifier:
    type: marketplace
    value:
      marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
      version:
kind: app
version: 0.6.0
workflow:
  conversation_variables:
    - description: 是否正在等待用户澄清功能板块(对应架构"流程1-N:再问对话提问"的回流态)
      id: 5fa8c5e1-4a2e-4b3c-8d7e-1a2b3c4d5e6f
      name: cv_pending_clarify
      value: false
      value_type: boolean
    - description: 最近一次确认到的功能板块名称
      id: 6fb9d6e2-5b3f-5c4d-9e8f-2b3c4d5e6f7a
      name: cv_matched_module
      value: ''
      value_type: string
    - description: 最近一次命中的意图路径(a/b/c/d/faq/clarify/custom)
      id: 7ca0e1f3-6c4a-6d5e-af9a-3c4d5e6f7a8b
      name: cv_last_intent
      value: ''
      value_type: string
    - description: 当前会话内是否已记录过bug(避免路径D重复录入)
      id: 8ad1f2a4-7d5a-7e6f-bf0b-4d5e6f7a8b9c
      name: cv_bug_logged
      value: false
      value_type: boolean
    - description: '二阶段主状态机: IDLE/await_confirm_identity/await_diff/await_diff_decision/await_confirm_modify/await_confirm_new'
      id: 9be2e3b5-8e6b-9f7c-ac1c-5e6f7a8b9c0d
      name: cv_flow_state
      value: IDLE
      value_type: string
    - description: 当前相关行的企微 record_id (N14修改/N19缓存关联用)
      id: acf3f4c6-9f7c-a08d-bd2d-6f7a8b9c0d1e
      name: cv_record_id
      value: ''
      value_type: string
    - description: 旧行内容快照 (N9对比 + N17相关性识别的历史锚点)
      id: bd04e5d7-a08d-b19e-ce3e-7a8b9c0d1e2f
      name: cv_row_summary
      value: ''
      value_type: string
    - description: N5转写后的标准化中文反馈 (N9对比 + N17相关性识别的新内容锚点)
      id: ce15f6e8-b19e-c2af-df4f-8b9c0d1e2f3a
      name: cv_feedback_zh
      value: ''
      value_type: string
    - description: N5转写的模块字段 (跨轮保留供N16写表/N17锚点)
      id: a1b2c3d4-0001-4000-8000-000000000001
      name: cv_mokuai
      value: ''
      value_type: string
    - description: N5转写的环境字段 (跨轮保留供N16写表)
      id: a1b2c3d4-0001-4000-8000-000000000002
      name: cv_huanjing
      value: ''
      value_type: string
    - description: N5转写的类型字段 (跨轮保留供N16写表)
      id: a1b2c3d4-0001-4000-8000-000000000003
      name: cv_leixing
      value: ''
      value_type: string
    - description: 信息不足引导补充计数(0=未引导,1=引导1次,2=引导2次,>=2触发兜底待确认)
      id: a1b2c3d4-0001-4000-8000-000000000004
      name: cv_clarify_count
      value: 0
      value_type: number
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - JPG
        - PNG
        - JPEG
        - WEBP
        - PDF
      allowed_file_types:
        - image
        - document
      allowed_file_upload_methods:
        - remote_url
        - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
          - local_file
          - remote_url
      number_limits: 3
    opening_statement: 您好,我是充电桩智能客服。请问您想咨询:1)功能位置 2)业务规则 3)流程问题 4)Bug反馈?可直接描述您的问题。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          sourceType: start
          targetType: code
        id: e-6001-6002
        source: '6001'
        sourceHandle: source
        target: '6002'
        targetHandle: target
        type: custom
      - data:
          sourceType: start
          targetType: code
        id: e-6001-6901
        source: '6001'
        sourceHandle: source
        target: '6901'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6003-in_clarify-6004
        source: '6003'
        sourceHandle: in_clarify
        target: '6004'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: question-classifier
        id: e-6003-default-6101
        source: '6003'
        sourceHandle: default
        target: '6101'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: question-classifier
        id: e-6004-6101
        source: '6004'
        sourceHandle: source
        target: '6101'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: variable-assigner
        id: e-6101-6104
        source: '6101'
        sourceHandle: class_unclear
        target: '6104'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6104-6105
        source: '6104'
        sourceHandle: source
        target: '6105'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: variable-assigner
        id: e-6101-6106
        source: '6101'
        sourceHandle: class_custom
        target: '6106'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6106-6107
        source: '6106'
        sourceHandle: source
        target: '6107'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: variable-assigner
        id: e-6101-6108
        source: '6101'
        sourceHandle: class_basic
        target: '6108'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: knowledge-retrieval
        id: e-6108-6102
        source: '6108'
        sourceHandle: source
        target: '6102'
        targetHandle: target
        type: custom
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e-6102-6103-llm
        source: '6102'
        sourceHandle: source
        target: '6103-llm'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6103-llm-6103-parse
        source: '6103-llm'
        sourceHandle: source
        target: '6103-parse'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6103-parse-6103-if
        source: '6103-parse'
        sourceHandle: source
        target: '6103-if'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6103-if-relevant-6110
        source: '6103-if'
        sourceHandle: relevant
        target: '6110'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: question-classifier
        id: e-6103-if-default-6201
        source: '6103-if'
        sourceHandle: default
        target: '6201'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6110-6111
        source: '6110'
        sourceHandle: source
        target: '6111'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: llm
        id: e-6201-6210
        source: '6201'
        sourceHandle: class_a
        target: '6210'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: knowledge-retrieval
        id: e-6210-6211
        source: '6210'
        sourceHandle: source
        target: '6211'
        targetHandle: target
        type: custom
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e-6211-6212
        source: '6211'
        sourceHandle: source
        target: '6212'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: knowledge-retrieval
        id: e-6201-6220
        source: '6201'
        sourceHandle: class_b
        target: '6220'
        targetHandle: target
        type: custom
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e-6220-6221
        source: '6220'
        sourceHandle: source
        target: '6221'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: knowledge-retrieval
        id: e-6201-6230
        source: '6201'
        sourceHandle: class_c
        target: '6230'
        targetHandle: target
        type: custom
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e-6230-6231
        source: '6230'
        sourceHandle: source
        target: '6231'
        targetHandle: target
        type: custom
      - data:
          sourceType: question-classifier
          targetType: llm
        id: e-6201-6250
        source: '6201'
        sourceHandle: class_d
        target: '6250'
        targetHandle: target
        type: custom
      - data:
          sourceType: http-request
          targetType: code
        id: e-6240-6240-parse
        source: '6240'
        sourceHandle: source
        target: '6240-parse'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6240-parse-6241
        source: '6240-parse'
        sourceHandle: source
        target: '6241'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6241-bug_exist-6242
        source: '6241'
        sourceHandle: bug_exist
        target: '6242'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6243-6244
        source: '6243'
        sourceHandle: source
        target: '6244'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6105-6098
        source: '6105'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6107-6098
        source: '6107'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6111-6098
        source: '6111'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6212-6098
        source: '6212'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6221-6098
        source: '6221'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: answer
        id: e-6231-6098
        source: '6231'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6244-6244-timer
        source: '6244'
        sourceHandle: source
        target: '6244-timer'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6244-timer-6098
        source: '6244-timer'
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: variable-assigner
        id: e-6242-6242b
        source: '6242'
        sourceHandle: source
        target: '6242b'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-aggregator
          targetType: answer
        id: e-6098-6099
        source: '6098'
        sourceHandle: source
        target: '6099'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6002-6601
        source: '6002'
        sourceHandle: source
        target: '6601'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6601-await_confirm_new-6170
        source: '6601'
        sourceHandle: await_confirm_new
        target: '6170'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6170-6170-parse
        source: '6170'
        sourceHandle: source
        target: 6170-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6170-parse-6171
        source: 6170-parse
        sourceHandle: source
        target: '6171'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6171-confirm-6260a
        source: '6171'
        sourceHandle: confirm_new
        target: 6260a
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6171-modify-6172
        source: '6171'
        sourceHandle: modify_new
        target: '6172'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171-default-6162
        source: '6171'
        sourceHandle: default
        target: '6162'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: llm
        id: e-6172-6250b
        source: '6172'
        sourceHandle: source
        target: 6250b
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-assigner
        id: e-6250b-parse-6243b
        source: 6250b-parse
        sourceHandle: source
        target: 6243b
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6243b-6244
        source: 6243b
        sourceHandle: source
        target: '6244'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: http-request
        id: e-6260a-6260b
        source: 6260a
        sourceHandle: source
        target: 6260b
        targetHandle: target
        type: custom
      - data:
          sourceType: http-request
          targetType: code
        id: e-6260b-6260c
        source: 6260b
        sourceHandle: source
        target: 6260c
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-assigner
        id: e-6260c-6261
        source: 6260c
        sourceHandle: source
        target: '6261'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6261-6262
        source: '6261'
        sourceHandle: source
        target: '6262'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6262-6262b
        source: '6262'
        sourceHandle: source
        target: 6262b
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-aggregator
        id: e-6262b-6098
        source: 6262b
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: if-else
        id: e-6162-6003
        source: '6162'
        sourceHandle: source
        target: '6003'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: http-request
        id: e-6240build-6240
        source: 6240build
        sourceHandle: source
        target: '6240'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6242b-6242c
        source: 6242b
        sourceHandle: source
        target: 6242c
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6242c-6098
        source: 6242c
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6601-await_confirm_identity-6170b
        source: '6601'
        sourceHandle: await_confirm_identity
        target: 6170b
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6601-await_diff_decision-6170c
        source: '6601'
        sourceHandle: await_diff_decision
        target: 6170c
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6601-await_confirm_modify-6170d
        source: '6601'
        sourceHandle: await_confirm_modify
        target: 6170d
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: if-else
        id: e-6601-default-6003
        source: '6601'
        sourceHandle: default
        target: '6003'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: if-else
        id: e-6170b-6171b
        source: 6170b
        sourceHandle: source
        target: 6171b
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171b-confirm_identity-6173
        source: 6171b
        sourceHandle: confirm_identity
        target: '6173'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171b-modify_existing-6173
        source: 6171b
        sourceHandle: modify_existing
        target: '6173'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171b-deny_identity-6177
        source: 6171b
        sourceHandle: deny_identity
        target: '6177'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171b-default-6162
        source: 6171b
        sourceHandle: default
        target: '6162'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: if-else
        id: e-6170c-6171c
        source: 6170c
        sourceHandle: source
        target: 6171c
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171c-confirm_modify-6175
        source: 6171c
        sourceHandle: confirm_modify
        target: '6175'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171c-modify_existing-6175
        source: 6171c
        sourceHandle: modify_existing
        target: '6175'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171c-default-6162
        source: 6171c
        sourceHandle: default
        target: '6162'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: if-else
        id: e-6170d-6171d
        source: 6170d
        sourceHandle: source
        target: 6171d
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6171d-confirm_done-6176a
        source: 6171d
        sourceHandle: confirm_done
        target: 6176a
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6171d-modify_existing-6175
        source: 6171d
        sourceHandle: modify_existing
        target: '6175'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171d-default-6162
        source: 6171d
        sourceHandle: default
        target: '6162'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: variable-assigner
        id: e-6173-6173-assigner
        source: '6173'
        sourceHandle: source
        target: 6173-assigner
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6173-assigner-6173-timer
        source: 6173-assigner
        sourceHandle: source
        target: 6173-timer
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6173-timer-6098
        source: 6173-timer
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6175-6175-parse
        source: '6175'
        sourceHandle: source
        target: 6175-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-assigner
        id: e-6175-parse-6175-assigner
        source: 6175-parse
        sourceHandle: source
        target: 6175-assigner
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6175-assigner-6175-timer
        source: 6175-assigner
        sourceHandle: source
        target: 6175-timer
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6175-timer-6098
        source: 6175-timer
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: http-request
        id: e-6176a-6176b
        source: 6176a
        sourceHandle: source
        target: 6176b
        targetHandle: target
        type: custom
      - data:
          sourceType: http-request
          targetType: variable-assigner
        id: e-6176b-6176c
        source: 6176b
        sourceHandle: source
        target: 6176c
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6176c-6176d
        source: 6176c
        sourceHandle: source
        target: 6176d
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6176d-6098
        source: 6176d
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6177-6177-parse
        source: '6177'
        sourceHandle: source
        target: 6177-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-assigner
        id: e-6177-parse-6177-assigner
        source: 6177-parse
        sourceHandle: source
        target: 6177-assigner
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6601-amw-6239llm
        source: '6601'
        sourceHandle: await_modify_window
        target: 6239-llm
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: if-else
        id: e-6239llm-6239if
        source: 6239-llm
        sourceHandle: source
        target: 6239-if
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6239if-modify-6239trans
        source: 6239-if
        sourceHandle: modify
        target: 6239-trans
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6239if-new-6239idle
        source: 6239-if
        sourceHandle: new
        target: 6239-new-idle
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6239if-default-6239idle
        source: 6239-if
        sourceHandle: default
        target: 6239-new-idle
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6239trans-6239parse
        source: 6239-trans
        sourceHandle: source
        target: 6239-trans-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: variable-assigner
        id: e-6239parse-6239assigner
        source: 6239-trans-parse
        sourceHandle: source
        target: 6239-modify-assigner
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: llm
        id: e-6239assigner-6173
        source: 6239-modify-assigner
        sourceHandle: source
        target: '6173'
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: if-else
        id: e-6239idle-6003
        source: 6239-new-idle
        sourceHandle: source
        target: '6003'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6250-6250judge
        source: '6250'
        sourceHandle: source
        target: 6250-judge
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6250if-ins-6250insuf
        source: 6250-if
        sourceHandle: insufficient
        target: 6250-insuf
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6250insuf-6250insufout
        source: 6250-insuf
        sourceHandle: source
        target: 6250-insuf-out
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6250insufout-6098
        source: 6250-insuf-out
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: llm
          targetType: code
        id: e-6250b-6250bjudge
        source: 6250b
        sourceHandle: source
        target: 6250b-judge
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6250bjudge-6250bif
        source: 6250b-judge
        sourceHandle: source
        target: 6250b-if
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6250bif-suf-6250bparse
        source: 6250b-if
        sourceHandle: sufficient
        target: 6250b-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6250bif-fb-6250bparse
        source: 6250b-if
        sourceHandle: fallback
        target: 6250b-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: code
        id: e-6250bif-def-6250bparse
        source: 6250b-if
        sourceHandle: default
        target: 6250b-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6250bif-ins-6250binsuf
        source: 6250b-if
        sourceHandle: insufficient
        target: 6250b-insuf
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6250binsuf-6250binsufout
        source: 6250b-insuf
        sourceHandle: source
        target: 6250b-insuf-out
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6250binsufout-6098
        source: 6250b-insuf-out
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: code
        id: e-6250judge-6240build
        source: 6250-judge
        sourceHandle: source
        target: 6240build
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: if-else
        id: e-6241-default-6250if
        source: '6241'
        sourceHandle: default
        target: 6250-if
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6250if-suf-6243
        source: 6250-if
        sourceHandle: sufficient
        target: '6243'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6250if-def-6243
        source: 6250-if
        sourceHandle: default
        target: '6243'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171-abort
        source: '6171'
        sourceHandle: abandon
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171b-abort
        source: 6171b
        sourceHandle: abandon
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171c-abort-ab
        source: 6171c
        sourceHandle: abandon
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171c-abort-dm
        source: 6171c
        sourceHandle: deny_modify
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171d-abort
        source: 6171d
        sourceHandle: abandon
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6162abort-6162out
        source: 6162-abort
        sourceHandle: source
        target: 6162-out
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6162out-6098
        source: 6162-out
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6171c-nodiff-abort
        source: 6171c
        sourceHandle: no_diff
        target: 6162-abort
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6177a-6240builddnl
        source: 6177-assigner
        sourceHandle: source
        target: 6240builddnl
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: http-request
        id: e-6240builddnl-6240-d
        source: 6240builddnl
        sourceHandle: source
        target: 6240-denial
        targetHandle: target
        type: custom
      - data:
          sourceType: http-request
          targetType: code
        id: e-6240-d-6240parse-d
        source: 6240-denial
        sourceHandle: source
        target: 6240-denial-parse
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: if-else
        id: e-6240parse-d-6241-d
        source: 6240-denial-parse
        sourceHandle: source
        target: 6241-denial
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: variable-assigner
        id: e-6241-d-be-6242b-d
        source: 6241-denial
        sourceHandle: bug_exist
        target: 6242b-denial
        targetHandle: target
        type: custom
      - data:
          sourceType: variable-assigner
          targetType: code
        id: e-6242b-d-6242-d
        source: 6242b-denial
        sourceHandle: source
        target: 6242-denial
        targetHandle: target
        type: custom
      - data:
          sourceType: code
          targetType: answer
        id: e-6242-d-6098
        source: 6242-denial
        sourceHandle: source
        target: '6098'
        targetHandle: target
        type: custom
      - data:
          sourceType: if-else
          targetType: llm
        id: e-6241-d-def-6244
        source: 6241-denial
        sourceHandle: default
        target: '6244'
        targetHandle: target
        type: custom
    nodes:
      - data:
          selected: false
          title: Start
          type: start
          variables:
            - default: ''
              label: 语言(可选)
              options:
                - zh
                - en
                - vi
                - ''
              required: false
              type: select
              variable: input_language
            - default: ''
              label: 端类型
              options:
                - user
                - butler
                - pc
                - ''
              required: false
              type: select
              variable: input_hint_endpoint
            - default: ''
              label: 地域
              options:
                - cn
                - overseas
                - ''
              required: false
              type: select
              variable: input_hint_region
        height: 200
        id: '6001'
        position:
          x: -760
          y: 0
        positionAbsolute:
          x: -760
          y: 0
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(query: str, input_language: str) -> dict:\n    text = (query or \"\").strip()\n    if input_language and input_language.strip():\n        lang = input_language.strip()\n    else:\n        cjk = sum(1 for c in text if '一' <= c <= '鿿')\n        vi_chars = \"ăâđêôơưĂÂĐÊÔƠƯáàảãạắằẳẵặấầẩẫậéèẻẽẹếềểễệíìỉĩịóòỏõọốồổỗộớờởỡợúùủũụứừửữựýỳỷỹỵ\"\n        if any(c in vi_chars for c in text): lang = \"vi\"\n        elif cjk > 0: lang = \"zh\"\n        else: lang = \"en\"\n    return {\"query_text\": text, \"language\": lang}\n"
          code_language: python3
          outputs:
            language:
              children:
              type: string
            query_text:
              children:
              type: string
          selected: false
          title: code_准备本轮输入
          type: code
          variables:
            - value_selector:
                - sys
                - query
              variable: query
            - value_selector:
                - '6001'
                - input_language
              variable: input_language
        height: 52
        id: '6002'
        position:
          x: -480
          y: 0
        positionAbsolute:
          x: -480
          y: 0
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: in_clarify
              conditions:
                - comparison_operator: is
                  id: cond_0_0
                  value: 'true'
                  varType: boolean
                  variable_selector:
                    - conversation
                    - cv_pending_clarify
              logical_operator: and
            - case_id: default
              conditions:
                - comparison_operator: not empty
                  id: cond_default_0
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
              logical_operator: and
          selected: false
          title: 是否澄清回流态
          type: if-else
        height: 118
        id: '6003'
        position:
          x: -220
          y: 0
        positionAbsolute:
          x: -220
          y: 0
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - value_false
              variable_selector:
                - conversation
                - cv_pending_clarify
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_clarify
              variable_selector:
                - conversation
                - cv_last_intent
          selected: false
          title: var_清除澄清标记
          type: assigner
          version: '2'
        height: 88
        id: '6004'
        position:
          x: -220
          y: 180
        positionAbsolute:
          x: -220
          y: 180
        selected: false
        type: custom
        width: 242
      - data:
          classes:
            - id: class_basic
              name: 基础功能或bug反馈(充电/计费/启动/支付等基础功能咨询,或任何bug/故障/报错反馈)
            - id: class_custom
              name: 定制功能(非基础的高级/定制功能咨询)
            - id: class_unclear
              name: 不清楚(无法判断)
          instruction: '基于语义理解,先做"流程1:是否清楚功能板块",再做"流程2:是否属于基础功能",给出唯一分类。


            **判定规则**:

            1. 用户模糊/太短/无法判断涉及哪个功能板块 → class_unclear

            2. 用户清楚表达了功能板块,且属于标准基础功能(计费/订单/设备/场地/用户/财务/报表等平台通用功能) → class_basic

            3. 用户问的是项目级/定制/增值/对接类功能(非标准基础功能,通常需产品或商务确认) → class_custom

            4. 不要用关键词匹配,要理解用户意图的语义

            5. 只能选一个分类'
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          query_variable_selector:
            - '6002'
            - query_text
          selected: false
          title: L1 板块路由 (流程1+流程2)
          type: question-classifier
        height: 304
        id: '6101'
        position:
          x: 40
          y: 0
        positionAbsolute:
          x: 40
          y: 0
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - value_true
              variable_selector:
                - conversation
                - cv_pending_clarify
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_clarify
              variable_selector:
                - conversation
                - cv_last_intent
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_matched_module
          selected: false
          title: var_置澄清态
          type: assigner
          version: '2'
        height: 88
        id: '6104'
        position:
          x: 320
          y: -380
        positionAbsolute:
          x: 320
          y: -380
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: l1-unclear-sys
              role: system
              text: '你是充电桩智能客服。用户输入模糊或无法判断功能板块,需要礼貌追问以确认功能板块(对应架构"流程1-N:再问对话提问")。


                **规则**:

                1. 严格只输出追问文本

                2. 引导用户说明:涉及哪个功能板块(如计费/订单/设备/场地/用户/财务)以及具体问题

                3. 简洁,不超过80字


                用户问: {{#6002.query_text#}}

                板块判定: {{#6101.class_name#}}'
            - id: l1-unclear-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: 流程1-N 再问对话提问
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6105'
        position:
          x: 600
          y: -380
        positionAbsolute:
          x: 600
          y: -380
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: over-write
              value: 'custom'
              variable_selector:
                - conversation
                - cv_last_intent
            - input_type: variable
              operation: over-write
              value:
                - '6101'
                - class_name
              variable_selector:
                - conversation
                - cv_matched_module
          selected: false
          title: var_记录定制功能
          type: assigner
          version: '2'
        height: 88
        id: '6106'
        position:
          x: 320
          y: -180
        positionAbsolute:
          x: 320
          y: -180
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: l1-custom-sys
              role: system
              text: '你是充电桩智能客服。用户询问的是项目级/定制/增值功能(非标准基础功能,对应架构"流程2-N")。


                **规则**:

                1. 严格只输出最终答案文本

                2. 简要介绍该功能的定位(基于已知信息,不编造)

                3. 提示:该功能需与产品和商务进一步沟通确认

                4. 提示:如该功能在本项目已开通,请二次确认项目名称

                5. 简洁,150字以内


                用户问: {{#6002.query_text#}}

                板块判定: {{#6101.class_name#}}'
            - id: l1-custom-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: 流程2-N 非基础功能(转产品/商务)
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6107'
        position:
          x: 600
          y: -180
        positionAbsolute:
          x: 600
          y: -180
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6101'
                - class_name
              variable_selector:
                - conversation
                - cv_matched_module
            - input_type: constant
              operation: over-write
              value: 'faq'
              variable_selector:
                - conversation
                - cv_last_intent
          selected: false
          title: var_记录基础模块
          type: assigner
          version: '2'
        height: 88
        id: '6108'
        position:
          x: 320
          y: 60
        positionAbsolute:
          x: 320
          y: 60
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n5-sys
              role: system
              text: '你是 B 端 SaaS 产品客户反馈一体化处理引擎,承接客户原始反馈。核心职责:

                1. 提取 mokuai/caozuomiaoshu/huanjing/leixing 四字段(总是提取,信息不足字段填"待确认",但应尽量识别模块名)

                2. 判定信息充足度,不足时生成引导话术;充足时生成确认话术


                【输入】用户反馈: {{#6002.query_text#}}


                【信息充足度判定】满足任意1条即"信息不足":

                1. 模块/场景完全不明确(仅"系统有问题""充电桩用不了",无法定位具体功能/页面)

                2. 问题现象过于笼统(仅"注册不了""充不了电",无操作路径/报错原文/触发条件)

                3. 终端环境不明确(无法区分用户端/管家端/后台)

                4. 诉求属性不明确(无法区分bug还是优化)

                5. 完全无有效业务信息

                注意:即使整体信息不足,只要能识别出模块名(如"订单""充电""支付"),mokuai 必须填该模块名,不要填"待确认"。


                【输出规范】严格按以下结构输出(顺序不变):

                【充足度】SUFFICIENT 或 INSUFFICIENT

                【内部结构化数据】

                {"mokuai":"模块标准名称(15字以内,无法识别填待确认,但尽量识别)","caozuomiaoshu":"标准化操作路径与问题现象描述(80字以内,结构:操作终端+操作路径+执行动作+问题现象+业务影响,过滤情绪废话)","huanjing":"后台/管家端/用户端(无法判定填待确认)","leixing":"bug/优化(无法判定填待确认)"}


                若【充足度】INSUFFICIENT,继续输出:

                【客户侧引导话术】

                针对缺失信息点精准提问(缺什么问什么),末尾追加"如果您有相关的用户ID、订单ID、充电桩编号,也可以一并提供,能帮助我们更快定位排查问题"。参考:模块不明问业务场景;现象笼统问操作步骤+异常现象;终端不明问web管理后台/管家端APP/用户端APP;属性不明问功能故障还是优化建议;无信息问1.功能页面 2.异常现象 3.终端。


                若【充足度】SUFFICIENT,继续输出:

                【客户侧回复话术】

                正式亲和语气,无技术黑话。结构:开篇问候+4字段通俗描述(bug译为功能故障,优化译为优化建议)+主动确认+补充提示+礼貌收尾。


                【全局约束】

                - 100%基于输入文本,不脑补不编造

                - 枚举字段严格遵守可选值范围

                - 客户回复只做信息同步与确认,不做排期/解决方案承诺

                - 必须输出【充足度】SUFFICIENT 或【充足度】INSUFFICIENT 标签'
            - id: n5-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: N5 转写+关键词
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
        height: 88
        id: '6250'
        position:
          x: 1200
          y: 740
        positionAbsolute:
          x: 1200
          y: 740
        selected: false
        type: custom
        width: 242
      - data:
          dataset_ids:
            - 56ce2834-9ff5-4dd4-b1ec-b91cb9bb42de
          multiple_retrieval_config:
            reranking_enable: true
            reranking_mode: reranking_model
            reranking_model:
              model: qwen3-rerank
              provider: langgenius/tongyi/tongyi
            score_threshold: 0.55
            top_k: 3
          query_attachment:
            enabled: false
            query_attachment_selector: []
          query_variable_selector:
            - '6002'
            - query_text
          retrieval_mode: multiple
          selected: false
          title: KR 常见问题 (FAQ快路径)
          type: knowledge-retrieval
        height: 118
        id: '6102'
        position:
          x: 600
          y: 60
        positionAbsolute:
          x: 600
          y: 60
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - '6102'
              - result
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: faig-check-sys
              role: system
              text: '你是知识检索相关性判定助手。判断知识库召回的片段是否与用户问题真正相关,仅在能直接回答或强关联时返回 true。

                **严格判断标准**: 1. 召回片段的内容必须能直接回答用户的具体问题(不是仅含相同关键词) 2. 用户问 A,召回片段答 B(即便主题相近也不算相关) 3. 召回片段数量为 0,直接 false 4. 多条片段都不相关也是 false

                **输出格式**: 严格只输出一行 JSON,无任何额外文字/markdown: {"relevant": true, "reason": "判定理由 20 字以内"}

                示例 1(相关): {"relevant": true, "reason": "片段直接回答了用户问题"} 示例 2(不相关): {"relevant": false, "reason": "片段是同类主题但不回答此问题"}'
            - id: faig-check-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: FAQ相关性判定(LLM)
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
        height: 88
        id: '6103-llm'
        position:
          x: 760
          y: 60
        positionAbsolute:
          x: 760
          y: 60
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if not m:\n        return {\"relevant\": False}\n    try:\n        obj = json.loads(m.group(0))\n        rel = bool(obj.get(\"relevant\", False))\n        return {\"relevant\": rel}\n    except Exception:\n        return {\"relevant\": False}\n"
          code_language: python3
          outputs:
            relevant:
              children:
              type: boolean
          selected: false
          title: FAQ相关性判定解析
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6103-llm'
                - text
        height: 88
        id: '6103-parse'
        position:
          x: 880
          y: 60
        positionAbsolute:
          x: 880
          y: 60
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: relevant
              conditions:
                - comparison_operator: is
                  id: cond_relevant_0
                  value: true
                  varType: boolean
                  variable_selector:
                    - '6103-parse'
                    - relevant
              logical_operator: and
            - case_id: default
              conditions:
                - comparison_operator: is
                  id: cond_default_0
                  value: false
                  varType: boolean
                  variable_selector:
                    - '6103-parse'
                    - relevant
              logical_operator: and
          selected: false
          title: FAQ相关则命中
          type: if-else
        height: 118
        id: '6103-if'
        position:
          x: 1000
          y: 60
        positionAbsolute:
          x: 1000
          y: 60
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: constant
              operation: over-write
              value: 'faq'
              variable_selector:
                - conversation
                - cv_last_intent
          selected: false
          title: var_记录FAQ命中
          type: assigner
          version: '2'
        height: 88
        id: '6110'
        position:
          x: 880
          y: 220
        positionAbsolute:
          x: 880
          y: 220
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - '6102'
              - result
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: faq-sys
              role: system
              text: '你是充电桩智能客服,基于下方常见问题知识库回答(对应架构"FAQ命中:输出问题答案,并询问是否有其他问题")。


                **规则**:

                1. 严格只输出最终答案文本

                2. 必须基于知识库检索结果,严禁编造

                3. **只有检索结果完全为空(0条),或检索结果与用户问题不相关**,才说:"该问题暂未收录,建议联系平台客服"

                4. 如果检索到相关结果(即使问题不完全匹配),要整合已有内容给用户排查指引

                5. 回答后追问:"请问还有其他问题吗?"

                6. 简洁,150字以内


                用户问: {{#6002.query_text#}}

                常见问题检索结果:

                {{#context#}}'
            - id: faq-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: FAQ 命中答案
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6111'
        position:
          x: 1160
          y: 220
        positionAbsolute:
          x: 1160
          y: 220
        selected: false
        type: custom
        width: 242
      - data:
          classes:
            - id: class_a
              name: 功能位置咨询(问某功能在哪/怎么找到/入口/菜单位置)
            - id: class_b
              name: 业务规则咨询(问计费规则/收费标准/业务逻辑/为什么这样设计)
            - id: class_c
              name: 流程操作指引(问怎么操作/如何设置/步骤,功能可用只是不会用)
            - id: class_d
              name: Bug反馈或功能故障(功能无法使用/操作失败/报错/异常/没反应/达不到预期,要求修复或询问原因)
          instruction: "你是充电桩 SaaS 平台的意图分类器。在已确认的基础功能板块内,判断用户问题属于哪条意图路径。\n\n【分类定义】\n- class_a 功能位置:用户想知道某功能在哪、怎么找到、入口在哪、菜单位置。\n- class_b 业务规则:用户问计费规则、收费标准、业务逻辑、为什么这样设计等规则性疑问。\n- class_c 流程操作:用户想知道怎么操作/如何设置/操作步骤(当前功能可用,只是不会用)。\n- class_d Bug反馈/功能故障:用户描述某功能无法使用、操作失败、报错、异常、没反应、达不到预期,或询问\"为什么无法XX/怎么回事\"且核心是功能失效。\n\n【判定优先级(逐条自上而下匹配,命中即定,不再往下)——bug失效判定最优先】\n1. 【bug失效·最高优先】出现\"无法/不能/用不了/不工作/失败/报错/异常/没反应/卡住/XX不了/修改不了/添加不了/提交不了/不生效/达不到预期\"等功能失效表述,或带截图反馈问题 → class_d\n   关键:即使句中带\"怎么回事/为什么/是什么原因\"等询问口吻,只要核心是某功能做不到/坏了 → 仍归 class_d\n2. 【功能位置】用户问\"在哪/怎么找/怎么进入/入口在哪/菜单位置\" → class_a\n3. 【流程操作】用户问\"怎么操作/如何设置/步骤是什么/教程\"(功能可用,想学怎么用) → class_c\n4. 【业务规则】用户问\"规则/标准/为什么这么收费/计费逻辑/业务规则\" → class_b\n\n【关键边界消歧】\n- \"无法修改/修改不了/修改失败\" = 功能失效 → class_d(不是 c)\n- \"怎么修改/如何修改\" = 想学操作步骤 → class_c\n- \"修改入口在哪\" = 找功能位置 → class_a\n- \"为什么无法修改/无法修改是怎么回事\" = 功能失效+询问原因 → class_d(不是 b)\n- \"计费规则是什么\" = 规则咨询 → class_b\n- \"计费怎么设置\" = 操作指引 → class_c\n- \"计费设置后不生效/计费算错了\" = 功能失效 → class_d\n\n【示例】\n- \"运营商关联的C端用户无法修改是怎么回事\" → class_d\n- \"用户注册报错,打包时未添加fingerprint模块\" → class_d\n- \"怎么配置计费模板\" → class_c\n- \"计费模板入口在哪\" → class_a\n- \"夜间服务费怎么收的\" → class_b\n- \"我截图这个报错帮我看看\" → class_d\n\n只输出一个分类 id。"
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          query_variable_selector:
            - '6002'
            - query_text
          selected: false
          title: L3 意图识别 (4路分发)
          type: question-classifier
        height: 304
        id: '6201'
        position:
          x: 1160
          y: 440
        positionAbsolute:
          x: 1160
          y: 440
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: a2-sys
              role: system
              text: '你是充电桩功能导航助手。根据用户问题和可能的功能模块,生成用于菜单路径检索的短词条(对应架构"路径A-流程1:生成可能的存在性短词条")。


                **规则**:

                1. 输出3-6个短词条,用逗号分隔,只输出词条本身

                2. 词条应为功能/菜单名称的同义词和可能叫法(如"计费模板""节日计费""场地设置")

                3. 不要输出解释、编号或引号


                用户问: {{#6002.query_text#}}'
            - id: a2-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: A2 生成短词条
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6210'
        position:
          x: 1440
          y: 260
        positionAbsolute:
          x: 1440
          y: 260
        selected: false
        type: custom
        width: 242
      - data:
          dataset_ids:
            - c1a4258e-c485-42c8-8423-aa7f1436f7b2
          multiple_retrieval_config:
            reranking_enable: true
            reranking_mode: reranking_model
            reranking_model:
              model: qwen3-rerank
              provider: langgenius/tongyi/tongyi
            score_threshold: 0.3
            top_k: 5
          query_attachment:
            enabled: false
            query_attachment_selector: []
          query_variable_selector:
            - '6210'
            - text
          retrieval_mode: multiple
          selected: false
          title: A3 查询菜单路径
          type: knowledge-retrieval
        height: 118
        id: '6211'
        position:
          x: 1700
          y: 260
        positionAbsolute:
          x: 1700
          y: 260
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - '6211'
              - result
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: a4-sys
              role: system
              text: '你是充电桩功能导航助手,根据菜单路径检索结果,告诉用户功能设置在哪里操作(对应架构"路径A4:输出菜单路径,上限五个菜单以内")。


                **规则**:

                1. 严格只输出最终答案文本

                2. 基于检索结果,按菜单路径输出,**最多5条**

                3. 格式示例:

                1. 如果你要查找计费模板在哪设置,可以在 充电桩>计费模板管理 查找

                2. 如果你要查找节日计费模板,可以在 充电桩>场地设置

                4. 若检索结果为空,说:"未找到该功能的菜单路径,建议联系平台客服"

                5. 简洁


                用户问: {{#6002.query_text#}}

                菜单路径检索结果:

                {{#context#}}'
            - id: a4-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: A4 输出菜单路径(≤5)
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6212'
        position:
          x: 1960
          y: 260
        positionAbsolute:
          x: 1960
          y: 260
        selected: false
        type: custom
        width: 242
      - data:
          dataset_ids:
            - 39659847-228a-402c-a18a-3ce9334565a4
          multiple_retrieval_config:
            reranking_enable: true
            reranking_mode: reranking_model
            reranking_model:
              model: qwen3-rerank
              provider: langgenius/tongyi/tongyi
            score_threshold: 0.3
            top_k: 3
          query_attachment:
            enabled: false
            query_attachment_selector: []
          query_variable_selector:
            - '6002'
            - query_text
          retrieval_mode: multiple
          selected: false
          title: B2 查询功能清单
          type: knowledge-retrieval
        height: 174
        id: '6220'
        position:
          x: 1440
          y: 420
        positionAbsolute:
          x: 1440
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - '6220'
              - result
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: b3-sys
              role: system
              text: '你是充电桩智能客服,基于功能清单回答业务规则/功能内容问题(对应架构"路径B3:输出问题答案并回复是否需要产品沟通")。


                **规则**:

                1. 严格只输出最终答案文本

                2. 必须基于上下文,严禁编造

                3. 若上下文为空,说:"该问题暂未收录到公开知识库,建议联系平台客服获取详细指引"

                4. 回答后主动询问:"是否需要进一步与产品沟通?"

                5. 150字以内,引用原文


                用户问: {{#6002.query_text#}}

                功能清单检索结果:

                {{#context#}}'
            - id: b3-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: B3 业务答案(转产品沟通)
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6221'
        position:
          x: 1700
          y: 420
        positionAbsolute:
          x: 1700
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          dataset_ids:
            - 39659847-228a-402c-a18a-3ce9334565a4
          multiple_retrieval_config:
            reranking_enable: true
            reranking_mode: reranking_model
            reranking_model:
              model: qwen3-rerank
              provider: langgenius/tongyi/tongyi
            score_threshold: 0.3
            top_k: 3
          query_attachment:
            enabled: false
            query_attachment_selector: []
          query_variable_selector:
            - '6002'
            - query_text
          retrieval_mode: multiple
          selected: false
          title: C2 查询流程操作
          type: knowledge-retrieval
        height: 118
        id: '6230'
        position:
          x: 1440
          y: 580
        positionAbsolute:
          x: 1440
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: true
            variable_selector:
              - '6230'
              - result
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: c3-sys
              role: system
              text: '你是充电桩智能客服,诊断用户操作被拦截/卡住的流程问题(对应架构"路径C2:查询当前流程及前面流程的操作;C3:输出可能需要补充的操作流程,并回复是否需要产品沟通")。


                **规则**:

                1. 严格只输出最终答案文本

                2. 基于上下文,指出当前流程及前置流程可能缺失/未完成的操作步骤

                3. 若上下文为空,说:"该流程问题暂未收录,建议提供具体操作页面和错误提示"

                4. 回答后主动询问:"是否需要进一步与产品沟通?"

                5. 简洁


                用户问: {{#6002.query_text#}}

                流程库检索结果:

                {{#context#}}'
            - id: c3-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: C3 流程卡点诊断(转产品沟通)
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6231'
        position:
          x: 1700
          y: 580
        positionAbsolute:
          x: 1700
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          authorization:
            config:
            type: no-auth
          body:
            data:
              - type: text
                value: '{{#6240build.body_json#}}'
            type: json
          error_strategy: fail-branch
          headers: 'Content-Type:application/json

            Authorization:Bearer rTlcyp8ezVWupzXmGrfPh-l_BQxEQaEqCHCtJbyxs6E'
          method: POST
          params: ''
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 100
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 30
          title: D2 查询问题追踪表
          type: http-request
          url: http://120.55.45.59:8501/internal/bugtrack/search
        height: 200
        id: '6240'
        position:
          x: 1440
          y: 740
        positionAbsolute:
          x: 1440
          y: 740
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(http_body: str) -> dict:\n    import json\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    hits = data.get(\"hits\") or []\n    if not hits:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    h = hits[0]\n    rid = h.get(\"record_id\", \"\")\n    op = h.get(\"op_desc\", \"\") or h.get(\"summary\", \"\")\n    return {\"hit_record_id\": rid, \"row_summary\": op[:500]}\n"
          code_language: python3
          outputs:
            hit_record_id:
              children:
              type: string
            row_summary:
              children:
              type: string
          selected: false
          title: D2解析查表
          type: code
          variables:
            - variable: http_body
              value_selector:
                - '6240'
                - body
        height: 88
        id: '6240-parse'
        position:
          x: 1620
          y: 740
        positionAbsolute:
          x: 1620
          y: 740
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: bug_exist
              conditions:
                - comparison_operator: not empty
                  id: cond_0_0
                  varType: string
                  variable_selector:
                    - '6240-parse'
                    - hit_record_id
              logical_operator: and
            - case_id: default
              conditions:
                - comparison_operator: not empty
                  id: cond_default_0
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
              logical_operator: and
          selected: false
          title: D2 是否已存在该问题
          type: if-else
        height: 118
        id: '6241'
        position:
          x: 1700
          y: 740
        positionAbsolute:
          x: 1700
          y: 740
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(row_summary: str) -> dict:\n    s = (row_summary or \"\").strip()\n    if not s:\n        s = \"该记录内容\"\n    return {\"answer_text\": \"我们查询到已有相关追踪记录:\\n\" + s + \"\\n\\n请问这是您反馈的问题吗？\"}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: D4 命中汇报(模板)
          type: code
          variables:
            - variable: row_summary
              value_selector:
                - 6240-parse
                - row_summary
        height: 88
        id: '6242'
        position:
          x: 1960
          y: 700
        positionAbsolute:
          x: 1960
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - value_true
              variable_selector:
                - conversation
                - cv_bug_logged
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_d
              variable_selector:
                - conversation
                - cv_last_intent
            - input_type: variable
              operation: over-write
              value:
                - 6250-judge
                - mokuai
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - 6250-judge
                - huanjing
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - 6250-judge
                - leixing
              variable_selector:
                - conversation
                - cv_leixing
            - input_type: variable
              operation: over-write
              value:
                - 6250-judge
                - caozuomiaoshu
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_new
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - clarify_count_0
              variable_selector:
                - conversation
                - cv_clarify_count
          selected: false
          title: var_标记bug已记录
          type: assigner
          version: '2'
        height: 88
        id: '6243'
        position:
          x: 1960
          y: 960
        positionAbsolute:
          x: 1960
          y: 960
        selected: false
        type: custom
        width: 242
      - data:
          context:
            enabled: false
            variable_selector: []
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: d3-sys
              role: system
              text: '你是充电桩智能客服,基于下方 4 个结构化字段(模块/操作描述/环境/类型)生成专业客户确认话术。


                **规则**:


                1. 用通俗化语言整合 4 字段,生成面向客户的确认话术


                2. 结构:开篇问候 + 4 字段分点通俗描述 + 主动确认 + 补充提示 + 礼貌收尾


                3. 类型为 bug 时译为''''功能故障'''',为优化时译为''''优化建议''''


                4. 简洁,150字以内



                用户反馈: {{#6002.query_text#}}


                整理后的中文反馈: {{#conversation.cv_feedback_zh#}}


                模块: {{#conversation.cv_mokuai#}}


                环境: {{#conversation.cv_huanjing#}}


                类型: {{#conversation.cv_leixing#}}'
            - id: d3-user
              role: user
              text: '{{#6002.query_text#}}'
          reasoning_format: separated
          selected: false
          title: N6 引导确认新增
          type: llm
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: true
        height: 88
        id: '6244'
        position:
          x: 2200
          y: 960
        positionAbsolute:
          x: 2200
          y: 960
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str, mokuai: str, caozuomiaoshu: str, huanjing: str, leixing: str) -> dict:\n    parts = [\"<!--SYS:TIMER|action=arm|state=await_confirm_new\"]\n    parts.append(f\"|mokuai={(mokuai or \"\")[:30]}\")\n    parts.append(f\"|op_desc={(caozuomiaoshu or \"\")[:200]}\")\n    parts.append(f\"|env={(huanjing or \"\")[:10]}\")\n    parts.append(f\"|type={(leixing or \"\")[:10]}\")\n    parts.append(\"-->\")\n    marker = \"\".join(parts)\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N6拼TIMER标记
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6244'
                - text
            - variable: mokuai
              value_selector:
                - conversation
                - cv_mokuai
            - variable: caozuomiaoshu
              value_selector:
                - conversation
                - cv_feedback_zh
            - variable: huanjing
              value_selector:
                - conversation
                - cv_huanjing
            - variable: leixing
              value_selector:
                - conversation
                - cv_leixing
        height: 88
        id: '6244-timer'
        position:
          x: 2200
          y: 1080
        positionAbsolute:
          x: 2200
          y: 1080
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main() -> dict:\n    return {\n        \"value_true\": True,\n        \"value_false\": False,\n        \"str_clarify\": \"clarify\",\n        \"str_faq\": \"faq\",\n        \"str_custom\": \"custom\",\n        \"str_d\": \"d\",\n        \"str_a\": \"a\",\n        \"str_b\": \"b\",\n        \"str_c\": \"c\",\n        \"str_empty\": \"\",\n        \"str_await_confirm_new\": \"await_confirm_new\",\n        \"str_idle\": \"IDLE\",\n        \"str_await_confirm_identity\": \"await_confirm_identity\",\n        \"str_await_diff_decision\": \"await_diff_decision\",\n        \"str_await_confirm_modify\": \"await_confirm_modify\",\n        \"str_await_modify_window\": \"await_modify_window\",\n        \"clarify_count_0\": 0,\n        \"clarify_count_1\": 1\n    }\n"
          code_language: python3
          outputs:
            str_a:
              children:
              type: string
            str_b:
              children:
              type: string
            str_c:
              children:
              type: string
            str_clarify:
              children:
              type: string
            str_custom:
              children:
              type: string
            str_d:
              children:
              type: string
            str_empty:
              children:
              type: string
            str_faq:
              children:
              type: string
            value_false:
              children:
              type: boolean
            value_true:
              children:
              type: boolean
            str_await_confirm_new:
              children:
              type: string
            str_idle:
              children:
              type: string
            str_await_confirm_identity:
              children:
              type: string
            str_await_diff_decision:
              children:
              type: string
            str_await_confirm_modify:
              children:
              type: string
            str_await_modify_window:
              children:
              type: string
            clarify_count_0:
              children:
              type: number
            clarify_count_1:
              children:
              type: number
          selected: false
          title: code_常量
          type: code
          variables: []
        height: 52
        id: '6901'
        position:
          x: -760
          y: 280
        positionAbsolute:
          x: -760
          y: 280
        selected: false
        type: custom
        width: 242
      - data:
          advanced_settings:
            group_enabled: false
            groups: []
          output_type: string
          outputs:
            output:
              children:
              type: string
          selected: false
          title: 汇聚最终答案
          type: variable-aggregator
          variables:
            -   - '6105'
                - text
            -   - '6107'
                - text
            -   - '6111'
                - text
            -   - '6212'
                - text
            -   - '6221'
                - text
            -   - '6231'
                - text
            -   - '6244-timer'
                - answer_text
            -   - 6262b
                - answer_text
            -   - 6242c
                - answer_text
            -   - 6173-timer
                - answer_text
            -   - 6175-timer
                - answer_text
            -   - 6176d
                - answer_text
            -   - 6250-insuf-out
                - answer_text
            -   - 6250b-insuf-out
                - answer_text
            -   - 6162-out
                - answer_text
            -   - 6242-denial
                - answer_text
        height: 200
        id: '6098'
        position:
          x: 2240
          y: 280
        positionAbsolute:
          x: 2240
          y: 280
        selected: false
        type: custom
        width: 242
      - data:
          answer: '{{#6098.output#}}'
          selected: false
          title: 输出 AI 回答
          type: answer
          variables:
            - value_selector:
                - '6098'
                - output
              variable: final_text
        height: 89
        id: '6099'
        position:
          x: 2480
          y: 280
        positionAbsolute:
          x: 2480
          y: 280
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: await_confirm_new
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: cond_6601_acn
                  value: await_confirm_new
                  varType: string
                  variable_selector:
                    - conversation
                    - cv_flow_state
            - case_id: await_confirm_identity
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: cond_6601_aci
                  value: await_confirm_identity
                  varType: string
                  variable_selector:
                    - conversation
                    - cv_flow_state
            - case_id: await_diff_decision
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: cond_6601_add
                  value: await_diff_decision
                  varType: string
                  variable_selector:
                    - conversation
                    - cv_flow_state
            - case_id: await_confirm_modify
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: cond_6601_acm
                  value: await_confirm_modify
                  varType: string
                  variable_selector:
                    - conversation
                    - cv_flow_state
            - case_id: await_modify_window
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: cond_6601_amw
                  value: await_modify_window
                  varType: string
                  variable_selector:
                    - conversation
                    - cv_flow_state
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6601_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: 是否二阶段待确认态
          type: if-else
        height: 118
        id: '6601'
        position:
          x: -350
          y: 120
        positionAbsolute:
          x: -350
          y: 120
        selected: false
        type: custom
        width: 242
      - data:
          model: &id001
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n17-sys
              role: system
              text: "你是客服对话相关性判定器。当前用户有一条【待确认事项】尚未完成,30分钟内又发了新消息。判断这条新消息与待确认事项的关系。\n\n【当前待确认态】: {{#conversation.cv_flow_state#}}\n【已整理的反馈内容】: {{#conversation.cv_feedback_zh#}}\n【用户新消息】: {{#6002.query_text#}}\n\n只输出一个分类标签,不要输出任何其他文字:\n- CONFIRM_NEW       : 用户确认新增记录(回\"是/对/确认/没问题/就这样记录/可以\")\n- MODIFY_NEW        : 用户补充或要求修改新反馈内容\n- MODIFY_EXISTING   : 用户要求修改已命中的旧记录(本版本按 IRRELEVANT 处理)\n- ABANDON          : 用户要结束/放弃本次反馈,不是开新话题(算了/不报了/没事/不用了/结束吧)\n- IRRELEVANT        : 开新话题/与待确认事项无关\n\n判定要点:\n1. 用户在回应\"确认吗/记录吗\"且表示肯定 → CONFIRM_NEW\n2. 用户补充反馈内容或要求改某字段 → MODIFY_NEW\n3. 用户跳转问别的事(如计费规则/怎么操作) → IRRELEVANT"
            - id: n17-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision: &id002
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N17 相关性识别
          type: llm
        height: 88
        id: '6170'
        position:
          x: -220
          y: 200
        positionAbsolute:
          x: -220
          y: 200
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import re\n    t = (llm_text or \"\").upper()\n    for label in [\"CONFIRM_NEW\", \"MODIFY_NEW\", \"MODIFY_EXISTING\", \"ABANDON\", \"IRRELEVANT\"]:\n        if label in t:\n            return {\"label\": label}\n    return {\"label\": \"IRRELEVANT\"}\n"
          code_language: python3
          outputs:
            label:
              children:
              type: string
          selected: false
          title: N17 解析标签
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6170'
                - text
        height: 88
        id: 6170-parse
        position:
          x: 0
          y: 200
        positionAbsolute:
          x: 0
          y: 200
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: confirm_new
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_cn
                  value: CONFIRM_NEW
                  varType: string
                  variable_selector:
                    - 6170-parse
                    - label
            - case_id: modify_new
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_mn
                  value: MODIFY_NEW
                  varType: string
                  variable_selector:
                    - 6170-parse
                    - label
            - case_id: abandon
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_ab_6171
                  value: ABANDON
                  varType: string
                  variable_selector:
                    - 6170-parse
                    - label
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6171_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N17 分发
          type: if-else
        height: 118
        id: '6171'
        position:
          x: 220
          y: 200
        positionAbsolute:
          x: 220
          y: 200
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(feedback_zh: str, query_text: str) -> dict:\n    fb = (feedback_zh or \"\").strip()\n    q = (query_text or \"\").strip()\n    if fb:\n        merged = f\"已有反馈: {fb}\\n用户补充: {q}\"\n    else:\n        merged = q\n    return {\"merged\": merged}\n"
          code_language: python3
          outputs:
            merged:
              children:
              type: string
          selected: false
          title: 合并历史反馈+补充
          type: code
          variables:
            - variable: feedback_zh
              value_selector:
                - conversation
                - cv_feedback_zh
            - variable: query_text
              value_selector:
                - '6002'
                - query_text
        height: 88
        id: '6172'
        position:
          x: 220
          y: 420
        positionAbsolute:
          x: 220
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          model: *id001
          prompt_template:
            - id: n5b-sys
              role: system
              text: "你是 B 端 SaaS 产品客户反馈一体化处理引擎。当前是【迭代场景】:已有一轮反馈整理,用户现在补充/修改信息,需整合后重新判定。\n\n【输入】整合后的反馈(已有反馈+用户补充): {{#6172.merged#}}\n\n【信息充足度判定】满足任意1条即判为\"信息不足\":\n1. 模块/场景完全不明确(无法定位具体功能/页面)\n2. 问题现象过于笼统(无操作路径/报错原文/触发条件)\n3. 终端环境不明确(无法区分用户端/管家端/后台)\n4. 诉求属性不明确(无法区分bug还是优化)\n5. 完全无有效业务信息\n\n【迭代修正规则】若用户补充了修改要求,100%按客户要求修正对应字段:\n- 模块归属错误→调整mokuai为客户指定名称\n- 描述偏差/遗漏→修正caozuomiaoshu对应内容\n- 环境/类型错误→同步调整huanjing、leixing\n- 客户未提及的字段保留原值,不变动\n\n【输出规范】必须先输出【充足度】标签:\n\n若信息充足:\n【充足度】SUFFICIENT\n【内部结构化数据】\n{\"mokuai\":\"模块标准名称(15字以内,无法识别填待确认)\",\"caozuomiaoshu\":\"标准化操作路径与问题现象描述(80字以内,结构:操作终端+操作路径+执行动作+问题现象+业务影响)\",\"huanjing\":\"后台/管家端/用户端(无法判定填待确认)\",\"leixing\":\"bug/优化(无法判定填待确认)\"}\n【客户侧回复话术】\n告知已根据补充内容更新记录,同步调整后的内容请客户确认(开篇+4字段通俗描述,bug译为功能故障,优化译为优化建议+确认+补充提示+收尾)\n\n若信息不足:\n【充足度】INSUFFICIENT\n【客户侧引导话术】\n针对仍缺失的信息点精准提问,末尾追加用户ID/订单ID/充电桩编号提示\n\n【全局约束】\n- 100%基于输入文本,不脑补不编造\n- 枚举字段严格遵守可选值范围\n- 客户回复只做信息同步与确认,不做排期/解决方案承诺\n- 必须输出【充足度】SUFFICIENT 或【充足度】INSUFFICIENT 标签"
            - id: n5b-user
              role: user
              text: '{{#6172.merged#}}'
          context:
            enabled: false
            variable_selector: []
          vision: *id002
          reasoning_format: separated
          selected: false
          title: N5b 转写(合并补充)
          type: llm
        height: 88
        id: 6250b
        position:
          x: 480
          y: 420
        positionAbsolute:
          x: 480
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str, label: str) -> dict:\n    import json, re\n    if label == \"FALLBACK\":\n        return {\"mokuai\":\"待确认\",\"caozuomiaoshu\":\"待确认\",\"huanjing\":\"待确认\",\"leixing\":\"待确认\"}\n    text = llm_text or \"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if not m:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n    try:\n        obj = json.loads(m.group(0))\n        return {\n            \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n            \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n            \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n            \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20]\n        }\n    except Exception:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n"
          code_language: python3
          outputs:
            mokuai:
              children:
              type: string
            caozuomiaoshu:
              children:
              type: string
            huanjing:
              children:
              type: string
            leixing:
              children:
              type: string
          selected: false
          title: N5b 解析JSON
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - 6250b
                - text
            - variable: label
              value_selector:
                - 6250b-judge
                - label
        height: 88
        id: 6250b-parse
        position:
          x: 740
          y: 420
        positionAbsolute:
          x: 740
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6250b-parse
                - mokuai
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - 6250b-parse
                - huanjing
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - 6250b-parse
                - leixing
              variable_selector:
                - conversation
                - cv_leixing
            - input_type: variable
              operation: over-write
              value:
                - 6250b-parse
                - caozuomiaoshu
              variable_selector:
                - conversation
                - cv_feedback_zh
          selected: false
          title: var_更新反馈(MODIFY_NEW)
          type: assigner
          version: '2'
        height: 88
        id: 6243b
        position:
          x: 1000
          y: 420
        positionAbsolute:
          x: 1000
          y: 420
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(mokuai: str, caozuomiaoshu: str, leixing: str) -> dict:\n    import json\n    fields = {}\n    if mokuai:\n        fields[\"模块/功能点\"] = mokuai[:100]\n    if caozuomiaoshu:\n        fields[\"操作描述\"] = ((mokuai + \" \") if mokuai else \"\") + caozuomiaoshu[:2000]\n    fields[\"类型\"] = (leixing or \"bug\")[:10]\n    fields[\"问题状态\"] = \"问题未查阅\"\n    fields[\"产品备注\"] = (caozuomiaoshu or \"\")[:500]\n    return {\"body_json\": json.dumps({\"fields\": fields}, ensure_ascii=False)}\n"
          code_language: python3
          outputs:
            body_json:
              children:
              type: string
          selected: false
          title: N16 组装飞书fields
          type: code
          variables:
            - variable: mokuai
              value_selector:
                - conversation
                - cv_mokuai
            - variable: caozuomiaoshu
              value_selector:
                - conversation
                - cv_feedback_zh
            - variable: leixing
              value_selector:
                - conversation
                - cv_leixing
        height: 88
        id: 6260a
        position:
          x: 480
          y: 100
        positionAbsolute:
          x: 480
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          authorization:
            config:
            type: no-auth
          body:
            data:
              - type: text
                value: '{{#6260a.body_json#}}'
            type: json
          error_strategy: fail-branch
          headers: "Content-Type:application/json\n\nAuthorization:Bearer rTlcyp8ezVWupzXmGrfPh-l_BQxEQaEqCHCtJbyxs6E"
          method: POST
          params: ''
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 100
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 30
          selected: false
          title: N16 写主表(飞书)
          type: http-request
          url: http://120.55.45.59:8501/internal/bugtrack/add
        height: 200
        id: 6260b
        position:
          x: 740
          y: 100
        positionAbsolute:
          x: 740
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(http_body: str) -> dict:\n    import json\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        return {\"record_id\": \"\"}\n    return {\"record_id\": str(data.get(\"record_id\",\"\"))}\n"
          code_language: python3
          outputs:
            record_id:
              children:
              type: string
          selected: false
          title: N16 解析record_id
          type: code
          variables:
            - variable: http_body
              value_selector:
                - 6260b
                - body
        height: 88
        id: 6260c
        position:
          x: 1000
          y: 100
        positionAbsolute:
          x: 1000
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6260c
                - record_id
              variable_selector:
                - conversation
                - cv_record_id
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_modify_window
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - conversation
                - cv_feedback_zh
              variable_selector:
                - conversation
                - cv_row_summary
          selected: false
          title: var_设IDLE+record_id
          type: assigner
          version: '2'
        height: 88
        id: '6261'
        position:
          x: 1260
          y: 100
        positionAbsolute:
          x: 1260
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          model: *id001
          prompt_template:
            - id: d5-sys
              role: system
              text: "你是充电桩智能客服。用户已确认反馈,系统已记录。输出简短汇报。\n\n**规则**:\n\n1. 严格只输出最终答案文本\n\n2. 告知已记录+会跟进,附记录编号\n\n3. 礼貌收尾\n\n4. 50字以内\n\n\n反馈摘要: {{#conversation.cv_feedback_zh#}}\n\n记录编号: {{#6260c.record_id#}}"
            - id: d5-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision: *id002
          reasoning_format: separated
          selected: false
          title: N16 汇报已记录
          type: llm
        height: 88
        id: '6262'
        position:
          x: 1520
          y: 100
        positionAbsolute:
          x: 1520
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str, record_id: str) -> dict:\n    rid = (record_id or \"\").strip()\n    base = \"https://my.feishu.cn/base/Vi5lbLUxtaqFIBsxTvacVweRnVb?table=tbl1XIU7FSCvsTLk&view=vewP9vGR2m&record=\"\n    link = (\"\\n记录链接: \" + base + rid) if rid else \"\"\n    return {\"answer_text\": (llm_text or \"\") + link + \"\\n<!--SYS:TIMER|action=cancel-->\"}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: 拼cancel标记
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6262'
                - text
            - variable: record_id
              value_selector:
                - 6260c
                - record_id
        height: 88
        id: 6262b
        position:
          x: 1780
          y: 100
        positionAbsolute:
          x: 1780
          y: 100
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_idle
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_record_id
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_leixing
          selected: false
          title: var_reset(IDLE)
          type: assigner
          version: '2'
        height: 88
        id: '6162'
        position:
          x: 480
          y: 600
        positionAbsolute:
          x: 480
          y: 600
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6240-parse
                - hit_record_id
              variable_selector:
                - conversation
                - cv_record_id
            - input_type: variable
              operation: over-write
              value:
                - 6240-parse
                - row_summary
              variable_selector:
                - conversation
                - cv_row_summary
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_identity
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: var_标记命中待确认身份
          type: assigner
          version: '2'
        height: 88
        id: 6242b
        position:
          x: 1960
          y: 820
        positionAbsolute:
          x: 1960
          y: 820
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_identity-->\"\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: 命中拼TIMER标记
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6242'
                - answer_text
        height: 88
        id: 6242c
        position:
          x: 2200
          y: 820
        positionAbsolute:
          x: 2200
          y: 820
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(mokuai: str) -> dict:\n    import json\n    return {\"body_json\": json.dumps({\"keyword\": mokuai or \"\", \"limit\": 5}, ensure_ascii=False)}\n"
          code_language: python3
          outputs:
            body_json:
              children:
              type: string
          selected: false
          title: D2组装查表body
          type: code
          variables:
            - variable: mokuai
              value_selector:
                - 6250-judge
                - mokuai
        height: 88
        id: 6240build
        position:
          x: 1380
          y: 620
        positionAbsolute:
          x: 1380
          y: 620
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n17b-sys
              role: system
              text: "你是客服对话相关性判定器。当前待确认态: await_confirm_identity(我们告知用户命中了已有问题记录,在问\"这是您反馈的问题吗\")。\n\n【命中旧行内容】: {{#conversation.cv_row_summary#}}\n【用户已转写反馈】: {{#conversation.cv_feedback_zh#}}\n【用户新消息】: {{#6002.query_text#}}\n\n只输出一个标签,不要任何其他文字:\n- CONFIRM_IDENTITY : 用户确认是自己的问题(是/对/是我的)\n- DENY_IDENTITY    : 用户否认(不是/不对/不是我的)\n- MODIFY_EXISTING  : 用户要求修改这条已有记录\n- ABANDON          : 用户要结束对话/不继续了(算了/不查了/没事/结束),非否认非开新话题\n- IRRELEVANT       : 开新话题/无关"
            - id: n17b-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N17b 身份确认分类
          type: llm
        height: 88
        id: 6170b
        position:
          x: -220
          y: 340
        positionAbsolute:
          x: -220
          y: 340
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: confirm_identity
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_ci_b
                  value: CONFIRM_IDENTITY
                  varType: string
                  variable_selector:
                    - 6170b
                    - text
            - case_id: modify_existing
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_me_b
                  value: MODIFY_EXISTING
                  varType: string
                  variable_selector:
                    - 6170b
                    - text
            - case_id: deny_identity
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_di_b
                  value: DENY_IDENTITY
                  varType: string
                  variable_selector:
                    - 6170b
                    - text
            - case_id: abandon
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_ab_6171b
                  value: ABANDON
                  varType: string
                  variable_selector:
                    - 6170b
                    - text
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6171b_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N17b 分发
          type: if-else
        height: 118
        id: 6171b
        position:
          x: 220
          y: 340
        positionAbsolute:
          x: 220
          y: 340
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n17c-sys
              role: system
              text: "你是客服对话相关性判定器。当前待确认态: await_diff_decision(我们问了用户\"是否要修改这条已有记录\")。\n\n【已有记录】: {{#conversation.cv_row_summary#}}\n【用户反馈】: {{#conversation.cv_feedback_zh#}}\n【用户新消息】: {{#6002.query_text#}}\n\n只输出一个标签,不要任何其他文字:\n- CONFIRM_MODIFY   : 用户确认要修改(是/改/修改/要改)\n- DENY_MODIFY      : 用户不改了(不用/算了/不改/不用改)\n- MODIFY_EXISTING  : 用户补充新的修改要求\n- ABANDON          : 用户要结束对话/不继续了(结束/不查了/没事/再见),非\"不用改\"非开新话题\n- NO_DIFF          : 用户表示内容一致/记录准确,无需修改(没差异/一样/内容对的/一致)\n- IRRELEVANT       : 开新话题/无关"
            - id: n17c-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N17c 修改决策分类
          type: llm
        height: 88
        id: 6170c
        position:
          x: -220
          y: 460
        positionAbsolute:
          x: -220
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: confirm_modify
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_cm_c
                  value: CONFIRM_MODIFY
                  varType: string
                  variable_selector:
                    - 6170c
                    - text
            - case_id: modify_existing
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_me_c
                  value: MODIFY_EXISTING
                  varType: string
                  variable_selector:
                    - 6170c
                    - text
            - case_id: deny_modify
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_dm_6171c
                  value: DENY_MODIFY
                  varType: string
                  variable_selector:
                    - 6170c
                    - text
            - case_id: abandon
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_ab_6171c
                  value: ABANDON
                  varType: string
                  variable_selector:
                    - 6170c
                    - text
            - case_id: no_diff
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_nd_6171c
                  value: NO_DIFF
                  varType: string
                  variable_selector:
                    - 6170c
                    - text
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6171c_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N17c 分发
          type: if-else
        height: 118
        id: 6171c
        position:
          x: 220
          y: 460
        positionAbsolute:
          x: 220
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n17d-sys
              role: system
              text: "你是客服对话相关性判定器。当前待确认态: await_confirm_modify(我们汇报了修改后的内容,在问\"确认无误吗\")。\n\n【已有记录】: {{#conversation.cv_row_summary#}}\n【修改后反馈】: {{#conversation.cv_feedback_zh#}}\n【用户新消息】: {{#6002.query_text#}}\n\n只输出一个标签,不要任何其他文字:\n- CONFIRM_DONE     : 用户确认无误(确认/对/没问题/可以)\n- MODIFY_EXISTING  : 用户还要改\n- ABANDON          : 用户要结束/放弃(算了/没事/不确认了/结束)\n- IRRELEVANT       : 开新话题/无关"
            - id: n17d-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N17d 修改完成确认分类
          type: llm
        height: 88
        id: 6170d
        position:
          x: -220
          y: 580
        positionAbsolute:
          x: -220
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: confirm_done
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_cd_d
                  value: CONFIRM_DONE
                  varType: string
                  variable_selector:
                    - 6170d
                    - text
            - case_id: modify_existing
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_me_d
                  value: MODIFY_EXISTING
                  varType: string
                  variable_selector:
                    - 6170d
                    - text
            - case_id: abandon
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_ab_6171d
                  value: ABANDON
                  varType: string
                  variable_selector:
                    - 6170d
                    - text
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6171d_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N17d 分发
          type: if-else
        height: 118
        id: 6171d
        position:
          x: 220
          y: 580
        positionAbsolute:
          x: 220
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n9-sys
              role: system
              text: "你是充电桩客服。用户确认命中的问题是他反馈的。对比他的反馈与已有记录,询问是否需要修改已有记录。\n\n【已有记录】: {{#conversation.cv_row_summary#}}\n【用户反馈】: {{#conversation.cv_feedback_zh#}}\n【本轮补充】: {{#6002.query_text#}}\n\n**规则**:\n1. 简述对比差异(若有)\n2. 询问\"是否需要修改这条记录\"\n3. 150字内通俗友好"
            - id: n9-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N9对比+N11询问修改
          type: llm
        height: 88
        id: '6173'
        position:
          x: 480
          y: 340
        positionAbsolute:
          x: 480
          y: 340
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_diff_decision
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: var_设await_diff_decision
          type: assigner
          version: '2'
        height: 88
        id: 6173-assigner
        position:
          x: 640
          y: 340
        positionAbsolute:
          x: 640
          y: 340
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_diff_decision-->\"\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N11拼TIMER标记
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6173'
                - text
        height: 88
        id: 6173-timer
        position:
          x: 840
          y: 340
        positionAbsolute:
          x: 840
          y: 340
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n12-sys
              role: system
              text: "你是充电桩客服。用户确认要修改已有记录。整合用户反馈,汇报修改后内容,询问确认。\n\n【已有记录】: {{#conversation.cv_row_summary#}}\n【用户修改要求】: {{#conversation.cv_feedback_zh#}}\n【本轮补充】: {{#6002.query_text#}}\n\n**规则**:\n1. 整合出修改后的操作描述(纯内容,无问候,将写入操作描述字段)\n2. 生成汇报话术,询问\"确认这样修改吗\",话术150字内\n\n严格按以下格式输出两行:\n【修改后内容】<纯操作描述>\n【汇报话术】<汇报话术>"
            - id: n12-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N12汇报修改
          type: llm
        height: 88
        id: '6175'
        position:
          x: 480
          y: 460
        positionAbsolute:
          x: 480
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import re\n    t = llm_text or \"\"\n    m1 = re.search(r\"【修改后内容】(.+?)(【汇报话术】|$)\", t, re.S)\n    m2 = re.search(r\"【汇报话术】(.+)\", t, re.S)\n    content = m1.group(1).strip() if m1 else t\n    huibao = m2.group(1).strip() if m2 else t\n    return {\"content\": content, \"huibao\": huibao}\n"
          code_language: python3
          outputs:
            content:
              children:
              type: string
            huibao:
              children:
              type: string
          selected: false
          title: N12解析修改内容
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6175'
                - text
        height: 88
        id: 6175-parse
        position:
          x: 740
          y: 460
        positionAbsolute:
          x: 740
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6175-parse
                - content
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_modify
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: var_存修改后内容+设await_confirm_modify
          type: assigner
          version: '2'
        height: 88
        id: 6175-assigner
        position:
          x: 1000
          y: 460
        positionAbsolute:
          x: 1000
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(huibao: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_modify-->\"\n    return {\"answer_text\": (huibao or \"\") + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N12拼TIMER标记
          type: code
          variables:
            - variable: huibao
              value_selector:
                - 6175-parse
                - huibao
        height: 88
        id: 6175-timer
        position:
          x: 1260
          y: 460
        positionAbsolute:
          x: 1260
          y: 460
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(record_id: str, feedback_zh: str, mokuai: str, leixing: str) -> dict:\n    import json\n    fields = {}\n    if mokuai:\n        fields[\"模块/功能点\"] = mokuai[:100]\n    if feedback_zh:\n        fields[\"操作描述\"] = ((mokuai + \" \") if mokuai else \"\") + feedback_zh[:2000]\n        fields[\"产品备注\"] = feedback_zh[:500]\n    fields[\"类型\"] = (leixing or \"bug\")[:10]\n    return {\"body_json\": json.dumps({\"record_id\": record_id, \"fields\": fields}, ensure_ascii=False)}\n"
          code_language: python3
          outputs:
            body_json:
              children:
              type: string
          selected: false
          title: N14组装update fields
          type: code
          variables:
            - variable: record_id
              value_selector:
                - conversation
                - cv_record_id
            - variable: feedback_zh
              value_selector:
                - conversation
                - cv_feedback_zh
            - variable: mokuai
              value_selector:
                - conversation
                - cv_mokuai
            - variable: leixing
              value_selector:
                - conversation
                - cv_leixing
        height: 88
        id: 6176a
        position:
          x: 480
          y: 580
        positionAbsolute:
          x: 480
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          authorization:
            config:
            type: no-auth
          body:
            data:
              - type: text
                value: '{{#6176a.body_json#}}'
            type: json
          error_strategy: fail-branch
          headers: "Content-Type:application/json\n\nAuthorization:Bearer rTlcyp8ezVWupzXmGrfPh-l_BQxEQaEqCHCtJbyxs6E"
          method: POST
          params: ''
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 100
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 30
          selected: false
          title: N14写主表update(飞书)
          type: http-request
          url: http://120.55.45.59:8501/internal/bugtrack/update
        height: 200
        id: 6176b
        position:
          x: 740
          y: 580
        positionAbsolute:
          x: 740
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_modify_window
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - conversation
                - cv_feedback_zh
              variable_selector:
                - conversation
                - cv_row_summary
          selected: false
          title: var_设IDLE
          type: assigner
          version: '2'
        height: 88
        id: 6176c
        position:
          x: 1000
          y: 580
        positionAbsolute:
          x: 1000
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(record_id: str) -> dict:\n    rid = (record_id or \"\").strip()\n    base = \"https://my.feishu.cn/base/Vi5lbLUxtaqFIBsxTvacVweRnVb?table=tbl1XIU7FSCvsTLk&view=vewP9vGR2m&record=\"\n    text = \"已为您更新该问题记录(编号\" + rid + \"),我们将继续跟进处理,感谢您的反馈。\"\n    link = (\"\\n记录链接: \" + base + rid) if rid else \"\"\n    return {\"answer_text\": text + link + \"\\n<!--SYS:TIMER|action=cancel-->\"}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N14汇报+cancel
          type: code
          variables:
            - variable: record_id
              value_selector:
                - conversation
                - cv_record_id
        height: 88
        id: 6176d
        position:
          x: 1260
          y: 580
        positionAbsolute:
          x: 1260
          y: 580
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: n5c-sys
              role: system
              text: "你是 B 端 SaaS 产品客户反馈转写引擎。将用户反馈转为结构化数据。\n\n【输入】用户反馈: {{#6002.query_text#}}\n\n严格输出 JSON,仅含 mokuai/caozuomiaoshu/huanjing/leixing 四个字段,无额外说明:\n{\n  \"mokuai\": \"模块标准名称(15字以内,无法识别填待确认)\",\n  \"caozuomiaoshu\": \"标准化操作路径与问题现象描述(80字以内)\",\n  \"huanjing\": \"后台/管家端/用户端(无法判定填待确认)\",\n  \"leixing\": \"bug/优化(无法判定填待确认)\"\n}"
            - id: n5c-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: N5c 转写(否认命中转新增)
          type: llm
        height: 88
        id: '6177'
        position:
          x: 480
          y: 220
        positionAbsolute:
          x: 480
          y: 220
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if not m:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n    try:\n        obj = json.loads(m.group(0))\n        return {\n            \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n            \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n            \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n            \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20]\n        }\n    except Exception:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n"
          code_language: python3
          outputs:
            mokuai:
              children:
              type: string
            caozuomiaoshu:
              children:
              type: string
            huanjing:
              children:
              type: string
            leixing:
              children:
              type: string
          selected: false
          title: N5c解析JSON
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6177'
                - text
        height: 88
        id: 6177-parse
        position:
          x: 740
          y: 220
        positionAbsolute:
          x: 740
          y: 220
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6177-parse
                - mokuai
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - 6177-parse
                - huanjing
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - 6177-parse
                - leixing
              variable_selector:
                - conversation
                - cv_leixing
            - input_type: variable
              operation: over-write
              value:
                - 6177-parse
                - caozuomiaoshu
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_new
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: var_否认转新增设cv
          type: assigner
          version: '2'
        height: 88
        id: 6177-assigner
        position:
          x: 1000
          y: 220
        positionAbsolute:
          x: 1000
          y: 220
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: m6239-sys
              role: system
              text: "你是充电桩客服对话意图判定器。用户刚刚成功记录了一条bug反馈(记录编号 {{#conversation.cv_record_id#}}),记录内容摘要: {{#conversation.cv_row_summary#}}。\n\n现在用户又发来一条消息,请判断用户意图,只输出一个标签,不要任何其他文字:\n- MODIFY : 用户要修改/更正刚才记录的那条反馈(如\"记错了\"\"不对\"\"应该是\"\"改成\"\"我说错了\")\n- NEW    : 用户在反馈一个全新的、与刚才记录无关的问题\n- OTHER  : 闲聊、问候、或与bug反馈无关的内容\n\n用户消息: {{#6002.query_text#}}"
            - id: m6239-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: 修改窗意图判断
          type: llm
        height: 88
        id: 6239-llm
        position:
          x: -220
          y: 700
        positionAbsolute:
          x: -220
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: modify
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_m_6239
                  value: MODIFY
                  varType: string
                  variable_selector:
                    - 6239-llm
                    - text
            - case_id: new
              logical_operator: and
              conditions:
                - comparison_operator: contains
                  id: c_n_6239
                  value: NEW
                  varType: string
                  variable_selector:
                    - 6239-llm
                    - text
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6239_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: 修改窗分发
          type: if-else
        height: 118
        id: 6239-if
        position:
          x: 220
          y: 700
        positionAbsolute:
          x: 220
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          model:
            mode: chat
            name: Doubao-Seed-2.0-lite
            provider: langgenius/volcengine_maas/volcengine_maas
          prompt_template:
            - id: m6239t-sys
              role: system
              text: "你是 B 端 SaaS 产品客户反馈转写引擎。将用户反馈转为结构化数据。\n\n【输入】用户反馈: {{#6002.query_text#}}\n\n严格输出 JSON,仅含 mokuai/caozuomiaoshu/huanjing/leixing 四个字段,无额外说明:\n{\n  \"mokuai\": \"模块标准名称(15字以内,无法识别填待确认)\",\n  \"caozuomiaoshu\": \"标准化操作路径与问题现象描述(80字以内)\",\n  \"huanjing\": \"后台/管家端/用户端(无法判定填待确认)\",\n  \"leixing\": \"bug/优化(无法判定填待确认)\"\n}"
            - id: m6239t-user
              role: user
              text: '{{#6002.query_text#}}'
          context:
            enabled: false
            variable_selector: []
          vision:
            configs:
              detail: high
              variable_selector:
                - sys
                - files
            enabled: false
          reasoning_format: separated
          selected: false
          title: 修改窗转写
          type: llm
        height: 88
        id: 6239-trans
        position:
          x: 480
          y: 700
        positionAbsolute:
          x: 480
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if not m:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n    try:\n        obj = json.loads(m.group(0))\n        return {\n            \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n            \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n            \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n            \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20]\n        }\n    except Exception:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n"
          code_language: python3
          outputs:
            mokuai:
              children:
              type: string
            caozuomiaoshu:
              children:
              type: string
            huanjing:
              children:
              type: string
            leixing:
              children:
              type: string
          selected: false
          title: 修改窗转写解析
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - 6239-trans
                - text
        height: 88
        id: 6239-trans-parse
        position:
          x: 740
          y: 700
        positionAbsolute:
          x: 740
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6239-trans-parse
                - caozuomiaoshu
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - 6239-trans-parse
                - mokuai
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - 6239-trans-parse
                - huanjing
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - 6239-trans-parse
                - leixing
              variable_selector:
                - conversation
                - cv_leixing
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_diff_decision
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: 修改窗设cv+await_diff_decision
          type: assigner
          version: '2'
        height: 88
        id: 6239-modify-assigner
        position:
          x: 1000
          y: 700
        positionAbsolute:
          x: 1000
          y: 700
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_idle
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: 修改窗回IDLE
          type: assigner
          version: '2'
        height: 88
        id: 6239-new-idle
        position:
          x: 220
          y: 820
        positionAbsolute:
          x: 220
          y: 820
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    t = text.upper()\n    if \"INSUFFICIENT\" in t:\n        label = \"INSUFFICIENT\"\n    elif \"SUFFICIENT\" in t:\n        label = \"SUFFICIENT\"\n    else:\n        label = \"SUFFICIENT\" if re.search(r\"\\{[^{}]*\\}\", text) else \"INSUFFICIENT\"\n    mokuai=caozuomiaoshu=huanjing=leixing=\"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if m:\n        try:\n            obj = json.loads(m.group(0))\n            mokuai=str(obj.get(\"mokuai\",\"\")).strip()[:50]\n            caozuomiaoshu=str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500]\n            huanjing=str(obj.get(\"huanjing\",\"\")).strip()[:20]\n            leixing=str(obj.get(\"leixing\",\"\")).strip()[:20]\n        except Exception:\n            pass\n    return {\"label\": label, \"mokuai\": mokuai, \"caozuomiaoshu\": caozuomiaoshu, \"huanjing\": huanjing, \"leixing\": leixing}\n"
          code_language: python3
          outputs:
            label:
              children:
              type: string
            mokuai:
              children:
              type: string
            caozuomiaoshu:
              children:
              type: string
            huanjing:
              children:
              type: string
            leixing:
              children:
              type: string
          selected: false
          title: N5充足度判定
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6250'
                - text
        height: 88
        id: 6250-judge
        position:
          x: 1380
          y: 860
        positionAbsolute:
          x: 1380
          y: 860
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: sufficient
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_suf_6250
                  value: SUFFICIENT
                  varType: string
                  variable_selector:
                    - 6250-judge
                    - label
            - case_id: insufficient
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_ins_6250
                  value: INSUFFICIENT
                  varType: string
                  variable_selector:
                    - 6250-judge
                    - label
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6250_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N5充足度分支
          type: if-else
        height: 118
        id: 6250-if
        position:
          x: 1560
          y: 860
        positionAbsolute:
          x: 1560
          y: 860
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_new
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - '6002'
                - query_text
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - clarify_count_1
              variable_selector:
                - conversation
                - cv_clarify_count
          selected: false
          title: N5不足设态+存原始反馈
          type: assigner
          version: '2'
        height: 88
        id: 6250-insuf
        position:
          x: 1560
          y: 980
        positionAbsolute:
          x: 1560
          y: 980
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import re\n    text = llm_text or \"\"\n    text = re.sub(r\"【充足度】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧引导话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"【内部结构化数据】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧回复话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"\\{[^{}]*\\}\", \"\", text)\n    text = re.sub(r\"(?m)^\\s*(SUFFICIENT|INSUFFICIENT)\\s*$\", \"\", text)\n    text = re.sub(r\"\\n{3,}\", \"\\n\\n\", text)\n    text = text.strip()\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_new-->\"\n    return {\"answer_text\": text + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N5引导话术直出
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - '6250'
                - text
        height: 88
        id: 6250-insuf-out
        position:
          x: 1560
          y: 1100
        positionAbsolute:
          x: 1560
          y: 1100
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str, clarify_count) -> dict:\n    import re\n    text = llm_text or \"\"\n    t = text.upper()\n    if \"INSUFFICIENT\" in t:\n        is_suf = False\n    elif \"SUFFICIENT\" in t:\n        is_suf = True\n    else:\n        is_suf = bool(re.search(r\"\\{[^{}]*\\}\", text))\n    try:\n        count = int(clarify_count or 0)\n    except Exception:\n        count = 0\n    if (not is_suf) and count >= 2:\n        return {\"label\": \"FALLBACK\", \"next_count\": count}\n    if is_suf:\n        return {\"label\": \"SUFFICIENT\", \"next_count\": count}\n    return {\"label\": \"INSUFFICIENT\", \"next_count\": count + 1}\n"
          code_language: python3
          outputs:
            label:
              children:
              type: string
            next_count:
              children:
              type: number
          selected: false
          title: N5b充足度判定+兜底
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - 6250b
                - text
            - variable: clarify_count
              value_selector:
                - conversation
                - cv_clarify_count
        height: 88
        id: 6250b-judge
        position:
          x: 740
          y: 540
        positionAbsolute:
          x: 740
          y: 540
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: sufficient
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_suf_6250b
                  value: SUFFICIENT
                  varType: string
                  variable_selector:
                    - 6250b-judge
                    - label
            - case_id: fallback
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_fb_6250b
                  value: FALLBACK
                  varType: string
                  variable_selector:
                    - 6250b-judge
                    - label
            - case_id: insufficient
              logical_operator: and
              conditions:
                - comparison_operator: is
                  id: c_ins_6250b
                  value: INSUFFICIENT
                  varType: string
                  variable_selector:
                    - 6250b-judge
                    - label
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_6250b_default
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: N5b充足度分支
          type: if-else
        height: 118
        id: 6250b-if
        position:
          x: 920
          y: 540
        positionAbsolute:
          x: 920
          y: 540
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6250b-judge
                - next_count
              variable_selector:
                - conversation
                - cv_clarify_count
            - input_type: variable
              operation: over-write
              value:
                - '6172'
                - merged
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_new
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: N5b不足计数+累积补充
          type: assigner
          version: '2'
        height: 88
        id: 6250b-insuf
        position:
          x: 920
          y: 660
        positionAbsolute:
          x: 920
          y: 660
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(llm_text: str) -> dict:\n    import re\n    text = llm_text or \"\"\n    text = re.sub(r\"【充足度】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧引导话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"【内部结构化数据】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧回复话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"\\{[^{}]*\\}\", \"\", text)\n    text = re.sub(r\"(?m)^\\s*(SUFFICIENT|INSUFFICIENT)\\s*$\", \"\", text)\n    text = re.sub(r\"\\n{3,}\", \"\\n\\n\", text)\n    text = text.strip()\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_new-->\"\n    return {\"answer_text\": text + \"\\n\" + marker}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: N5b引导话术直出
          type: code
          variables:
            - variable: llm_text
              value_selector:
                - 6250b
                - text
        height: 88
        id: 6250b-insuf-out
        position:
          x: 920
          y: 780
        positionAbsolute:
          x: 920
          y: 780
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_idle
              variable_selector:
                - conversation
                - cv_flow_state
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_feedback_zh
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_record_id
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_mokuai
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_huanjing
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_empty
              variable_selector:
                - conversation
                - cv_leixing
          selected: false
          title: var_放弃结束reset IDLE
          type: assigner
          version: '2'
        height: 88
        id: 6162-abort
        position:
          x: 300
          y: 760
        positionAbsolute:
          x: 300
          y: 760
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main() -> dict:\n    text = \"好的,本次反馈就到这里啦。若还有其他问题,随时联系我为您处理哦~\"\n    return {\"answer_text\": text + \"\\n<!--SYS:TIMER|action=cancel-->\"}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: 放弃结束话术
          type: code
          variables: []
        height: 88
        id: 6162-out
        position:
          x: 300
          y: 880
        positionAbsolute:
          x: 300
          y: 880
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(mokuai: str) -> dict:\n    import json\n    return {\"body_json\": json.dumps({\"keyword\": mokuai or \"\", \"limit\": 5}, ensure_ascii=False)}\n"
          code_language: python3
          outputs:
            body_json:
              children:
              type: string
          selected: false
          title: D2组装查表body(否认)
          type: code
          variables:
            - variable: mokuai
              value_selector:
                - 6177-parse
                - mokuai
        height: 88
        id: 6240builddnl
        position:
          x: 1000
          y: 380
        positionAbsolute:
          x: 1000
          y: 380
        selected: false
        type: custom
        width: 242
      - data:
          authorization:
            config:
            type: no-auth
          body:
            data:
              - type: text
                value: '{{#6240builddnl.body_json#}}'
            type: json
          error_strategy: fail-branch
          headers: 'Content-Type:application/json

            Authorization:Bearer rTlcyp8ezVWupzXmGrfPh-l_BQxEQaEqCHCtJbyxs6E'
          method: POST
          params: ''
          retry_config:
            max_retries: 3
            retry_enabled: true
            retry_interval: 100
          ssl_verify: true
          timeout:
            max_connect_timeout: 10
            max_read_timeout: 30
            max_write_timeout: 30
          title: D2 查询问题追踪表(否认重查)
          type: http-request
          url: http://120.55.45.59:8501/internal/bugtrack/search
        height: 200
        id: 6240-denial
        position:
          x: 1240
          y: 380
        positionAbsolute:
          x: 1240
          y: 380
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(http_body: str) -> dict:\n    import json\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    hits = data.get(\"hits\") or []\n    if not hits:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    h = hits[0]\n    rid = h.get(\"record_id\", \"\")\n    op = h.get(\"op_desc\", \"\") or h.get(\"summary\", \"\")\n    return {\"hit_record_id\": rid, \"row_summary\": op[:500]}\n"
          code_language: python3
          outputs:
            hit_record_id:
              children:
              type: string
            row_summary:
              children:
              type: string
          selected: false
          title: D2解析查表(否认)
          type: code
          variables:
            - variable: http_body
              value_selector:
                - 6240-denial
                - body
        height: 88
        id: 6240-denial-parse
        position:
          x: 1480
          y: 380
        positionAbsolute:
          x: 1480
          y: 380
        selected: false
        type: custom
        width: 242
      - data:
          cases:
            - case_id: bug_exist
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_den_be
                  varType: string
                  variable_selector:
                    - 6240-denial-parse
                    - hit_record_id
            - case_id: default
              logical_operator: and
              conditions:
                - comparison_operator: not empty
                  id: cond_den_def
                  varType: string
                  variable_selector:
                    - '6002'
                    - query_text
          selected: false
          title: D2是否已存在(否认)
          type: if-else
        height: 118
        id: 6241-denial
        position:
          x: 1720
          y: 380
        positionAbsolute:
          x: 1720
          y: 380
        selected: false
        type: custom
        width: 242
      - data:
          items:
            - input_type: variable
              operation: over-write
              value:
                - 6240-denial-parse
                - hit_record_id
              variable_selector:
                - conversation
                - cv_record_id
            - input_type: variable
              operation: over-write
              value:
                - 6240-denial-parse
                - row_summary
              variable_selector:
                - conversation
                - cv_row_summary
            - input_type: variable
              operation: over-write
              value:
                - '6901'
                - str_await_confirm_identity
              variable_selector:
                - conversation
                - cv_flow_state
          selected: false
          title: var_否认命中设身份态
          type: assigner
          version: '2'
        height: 88
        id: 6242b-denial
        position:
          x: 1960
          y: 380
        positionAbsolute:
          x: 1960
          y: 380
        selected: false
        type: custom
        width: 242
      - data:
          code: "def main(row_summary: str) -> dict:\n    s = (row_summary or \"\").strip()\n    if not s:\n        s = \"该记录内容\"\n    text = \"我们查询到已有相关追踪记录:\\n\" + s + \"\\n\\n请问这是您反馈的问题吗？\"\n    return {\"answer_text\": text + \"\\n<!--SYS:TIMER|action=arm|state=await_confirm_identity-->\"}\n"
          code_language: python3
          outputs:
            answer_text:
              children:
              type: string
          selected: false
          title: D4 命中汇报(否认)
          type: code
          variables:
            - variable: row_summary
              value_selector:
                - 6240-denial-parse
                - row_summary
        height: 88
        id: 6242-denial
        position:
          x: 2200
          y: 380
        positionAbsolute:
          x: 2200
          y: 380
        selected: false
        type: custom
        width: 242
    viewport:
      x: 0
      y: 0
      zoom: 0.4
  rag_pipeline_variables: []
