Workflow-China_charge_seriver-draft-9380/workflow/charge_charging_B.yml
app:
  description: 'App B: bug反馈记录追踪 (D路径状态机), 有 cv_flow_state'
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: charge_charging_B_bugtrack
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/volcengine_maas:0.0.51@10500d8c8e350242a0db2dda11c276685ab947ec0b41f9b94ea73c2919aacab7
    version: null
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.2.0@4e5891a2f4fff19b005a662a1fadff0e56b62b2dd1b4a93bdffae83c5b38b05e
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: 是否正在等待用户澄清功能板块(对应架构"流程1-N:再问对话提问"的回流态)
    id: 5fa8c5e1-4a2e-4b3c-8d7e-1a2b3c4d5e6f
    name: cv_pending_clarify
    value: false
    value_type: boolean
  - description: 最近一次确认到的功能板块名称
    id: 6fb9d6e2-5b3f-5c4d-9e8f-2b3c4d5e6f7a
    name: cv_matched_module
    value: ''
    value_type: string
  - description: 最近一次命中的意图路径(a/b/c/d/faq/clarify/custom)
    id: 7ca0e1f3-6c4a-6d5e-af9a-3c4d5e6f7a8b
    name: cv_last_intent
    value: ''
    value_type: string
  - description: 当前会话内是否已记录过bug(避免路径D重复录入)
    id: 8ad1f2a4-7d5a-7e6f-bf0b-4d5e6f7a8b9c
    name: cv_bug_logged
    value: false
    value_type: boolean
  - description: '二阶段主状态机: IDLE/await_confirm_identity/await_diff/await_diff_decision/await_confirm_modify/await_confirm_new'
    id: 9be2e3b5-8e6b-9f7c-ac1c-5e6f7a8b9c0d
    name: cv_flow_state
    value: IDLE
    value_type: string
  - description: 当前相关行的企微 record_id (N14修改/N19缓存关联用)
    id: acf3f4c6-9f7c-a08d-bd2d-6f7a8b9c0d1e
    name: cv_record_id
    value: ''
    value_type: string
  - description: 旧行内容快照 (N9对比 + N17相关性识别的历史锚点)
    id: bd04e5d7-a08d-b19e-ce3e-7a8b9c0d1e2f
    name: cv_row_summary
    value: ''
    value_type: string
  - description: N5转写后的标准化中文反馈 (N9对比 + N17相关性识别的新内容锚点)
    id: ce15f6e8-b19e-c2af-df4f-8b9c0d1e2f3a
    name: cv_feedback_zh
    value: ''
    value_type: string
  - description: N5转写的模块字段 (跨轮保留供N16写表/N17锚点)
    id: a1b2c3d4-0001-4000-8000-000000000001
    name: cv_mokuai
    value: ''
    value_type: string
  - description: N5转写的环境字段 (跨轮保留供N16写表)
    id: a1b2c3d4-0001-4000-8000-000000000002
    name: cv_huanjing
    value: ''
    value_type: string
  - description: N5转写的类型字段 (跨轮保留供N16写表)
    id: a1b2c3d4-0001-4000-8000-000000000003
    name: cv_leixing
    value: ''
    value_type: string
  - description: 信息不足引导补充计数(0=未引导,1=引导1次,2=引导2次,>=2触发兜底待确认)
    id: a1b2c3d4-0001-4000-8000-000000000004
    name: cv_clarify_count
    value: 0
    value_type: number
  - description: 充足度标签(SUFFICIENT/INSUFFICIENT), 6250-if 读取(避免引用未运行节点)
    id: a1b2c3d4-0001-4000-8000-000000000005
    name: cv_sufficiency_label
    value: ''
    value_type: string
  - description: 查重核心词(跨轮保留供6240build查表, N5/N5b提取)
    id: a1b2c3d4-0010-4000-8000-000000000010
    name: cv_search_keyword
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - JPG
      - PNG
      - JPEG
      - WEBP
      - PDF
      allowed_file_types:
      - image
      - document
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好,我是充电桩智能客服。请问您想咨询:1)功能位置 2)业务规则 3)流程问题 4)Bug反馈?可直接描述您的问题。
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: start
        targetType: code
      id: e-6001-6002
      source: '6001'
      sourceHandle: source
      target: '6002'
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: code
      id: e-6001-6901
      source: '6001'
      sourceHandle: source
      target: '6901'
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: e-6240-6240-parse
      source: '6240'
      sourceHandle: source
      target: 6240-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: e-6240-parse-6241
      source: 6240-parse
      sourceHandle: source
      target: '6241'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6241-bug_exist-6242
      source: '6241'
      sourceHandle: bug_exist
      target: '6242'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: llm
      id: e-6243-6244
      source: '6243'
      sourceHandle: source
      target: '6244'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6244-6244-timer
      source: '6244'
      sourceHandle: source
      target: 6244-timer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6244-timer-6098
      source: 6244-timer
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: variable-assigner
      id: e-6242-6242b
      source: '6242'
      sourceHandle: source
      target: 6242b
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-aggregator
        targetType: answer
      id: e-6098-6099
      source: '6098'
      sourceHandle: source
      target: '6099'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: e-6002-6601
      source: '6002'
      sourceHandle: source
      target: '6601'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-await_confirm_new-6170
      source: '6601'
      sourceHandle: await_confirm_new
      target: '6170'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6170-6170-parse
      source: '6170'
      sourceHandle: source
      target: 6170-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: e-6170-parse-6171
      source: 6170-parse
      sourceHandle: source
      target: '6171'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
      id: e-6171-confirm-6260a
      source: '6171'
      sourceHandle: confirm_new
      target: 6260a
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171-default-6162
      source: '6171'
      sourceHandle: default
      target: '6162'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6250b-parse-6243b
      source: 6250b-parse
      sourceHandle: source
      target: 6243b
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e-6260a-6260b
      source: 6260a
      sourceHandle: source
      target: 6260b
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: code
      id: e-6260b-6260c
      source: 6260b
      sourceHandle: source
      target: 6260c
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6260c-6261
      source: 6260c
      sourceHandle: source
      target: '6261'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: llm
      id: e-6261-6262
      source: '6261'
      sourceHandle: source
      target: '6262'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6262-6262b
      source: '6262'
      sourceHandle: source
      target: 6262b
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-aggregator
      id: e-6262b-6098
      source: 6262b
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e-6240build-6240
      source: 6240build
      sourceHandle: source
      target: '6240'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6242b-6242c
      source: 6242b
      sourceHandle: source
      target: 6242c
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6242c-6098
      source: 6242c
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-await_confirm_identity-6170b
      source: '6601'
      sourceHandle: await_confirm_identity
      target: 6170b
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-await_diff_decision-6170c
      source: '6601'
      sourceHandle: await_diff_decision
      target: 6170c
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-await_confirm_modify-6170d
      source: '6601'
      sourceHandle: await_confirm_modify
      target: 6170d
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: e-6170b-6171b
      source: 6170b
      sourceHandle: source
      target: 6171b
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171b-confirm_identity-6173
      source: 6171b
      sourceHandle: confirm_identity
      target: '6173'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171b-modify_existing-6173
      source: 6171b
      sourceHandle: modify_existing
      target: '6173'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171b-deny_identity-6177
      source: 6171b
      sourceHandle: deny_identity
      target: '6177'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171b-default-6162
      source: 6171b
      sourceHandle: default
      target: '6162'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: e-6170c-6171c
      source: 6170c
      sourceHandle: source
      target: 6171c
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171c-confirm_modify-6175
      source: 6171c
      sourceHandle: confirm_modify
      target: '6175'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171c-modify_existing-6175
      source: 6171c
      sourceHandle: modify_existing
      target: '6175'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171c-default-6162
      source: 6171c
      sourceHandle: default
      target: '6162'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: e-6170d-6171d
      source: 6170d
      sourceHandle: source
      target: 6171d
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
      id: e-6171d-confirm_done-6176a
      source: 6171d
      sourceHandle: confirm_done
      target: 6176a
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6171d-modify_existing-6175
      source: 6171d
      sourceHandle: modify_existing
      target: '6175'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171d-default-6162
      source: 6171d
      sourceHandle: default
      target: '6162'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: variable-assigner
      id: e-6173-6173-assigner
      source: '6173'
      sourceHandle: source
      target: 6173-assigner
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6173-assigner-6173-timer
      source: 6173-assigner
      sourceHandle: source
      target: 6173-timer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6173-timer-6098
      source: 6173-timer
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6175-6175-parse
      source: '6175'
      sourceHandle: source
      target: 6175-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6175-parse-6175-assigner
      source: 6175-parse
      sourceHandle: source
      target: 6175-assigner
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6175-assigner-6175-timer
      source: 6175-assigner
      sourceHandle: source
      target: 6175-timer
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6175-timer-6098
      source: 6175-timer
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: http-request
      id: e-6176a-6176b
      source: 6176a
      sourceHandle: source
      target: 6176b
      targetHandle: target
      type: custom
    - data:
        sourceType: http-request
        targetType: variable-assigner
      id: e-6176b-6176c
      source: 6176b
      sourceHandle: source
      target: 6176c
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6176c-6176d
      source: 6176c
      sourceHandle: source
      target: 6176d
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6176d-6098
      source: 6176d
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6177-6177-parse
      source: '6177'
      sourceHandle: source
      target: 6177-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6177-parse-6177-assigner
      source: 6177-parse
      sourceHandle: source
      target: 6177-assigner
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-amw-6239llm
      source: '6601'
      sourceHandle: await_modify_window
      target: 6239-llm
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: if-else
      id: e-6239llm-6239if
      source: 6239-llm
      sourceHandle: source
      target: 6239-if
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6239if-modify-6239trans
      source: 6239-if
      sourceHandle: modify
      target: 6239-trans
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6239if-new-6239idle
      source: 6239-if
      sourceHandle: new
      target: 6239-new-idle
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6239if-default-6239idle
      source: 6239-if
      sourceHandle: default
      target: 6239-new-idle
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6239trans-6239parse
      source: 6239-trans
      sourceHandle: source
      target: 6239-trans-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6239parse-6239assigner
      source: 6239-trans-parse
      sourceHandle: source
      target: 6239-modify-assigner
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: llm
      id: e-6239assigner-6173
      source: 6239-modify-assigner
      sourceHandle: source
      target: '6173'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6250-6250judge
      source: '6250'
      sourceHandle: source
      target: 6250-judge
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6250if-ins-6250insuf
      source: 6250-if
      sourceHandle: insufficient
      target: 6250-insuf
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6250insuf-6250insufout
      source: 6250-insuf
      sourceHandle: source
      target: 6250-insuf-out
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6250insufout-6098
      source: 6250-insuf-out
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: code
      id: e-6250b-6250bjudge
      source: 6250b
      sourceHandle: source
      target: 6250b-judge
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: if-else
      id: e-6250bjudge-6250bif
      source: 6250b-judge
      sourceHandle: source
      target: 6250b-if
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
      id: e-6250bif-suf-6250bparse
      source: 6250b-if
      sourceHandle: sufficient
      target: 6250b-parse
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: code
      id: e-6250bif-def-6250bparse
      source: 6250b-if
      sourceHandle: default
      target: 6250b-insuf
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6250bif-ins-6250binsuf
      source: 6250b-if
      sourceHandle: insufficient
      target: 6250b-insuf
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6250binsuf-6250binsufout
      source: 6250b-insuf
      sourceHandle: source
      target: 6250b-insuf-out
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6250binsufout-6098
      source: 6250b-insuf-out
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: if-else
      id: e-6241-default-6250if
      source: '6241'
      sourceHandle: default
      target: 6250-if
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6250if-suf-6243
      source: 6250-if
      sourceHandle: sufficient
      target: '6243'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6250if-def-6243
      source: 6250-if
      sourceHandle: default
      target: '6243'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171-abort
      source: '6171'
      sourceHandle: abandon
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171b-abort
      source: 6171b
      sourceHandle: abandon
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171c-abort-ab
      source: 6171c
      sourceHandle: abandon
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171c-abort-dm
      source: 6171c
      sourceHandle: deny_modify
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171d-abort
      source: 6171d
      sourceHandle: abandon
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6162abort-6162out
      source: 6162-abort
      sourceHandle: source
      target: 6162-out
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6162out-6098
      source: 6162-out
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: variable-assigner
      id: e-6171c-nodiff-abort
      source: 6171c
      sourceHandle: no_diff
      target: 6162-abort
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: e-6601-default-6250
      source: '6601'
      sourceHandle: default
      target: '6250'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6162-switch
      source: '6162'
      sourceHandle: source
      target: 6162-switch-kb
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6162-switch-6098
      source: 6162-switch-kb
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6239newid-switch
      source: 6239-new-idle
      sourceHandle: source
      target: 6239-switch-kb
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: answer
      id: e-6239-switch-6098
      source: 6239-switch-kb
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - data:
        sourceType: code
        targetType: variable-assigner
      id: e-6250judge-6243pre
      source: 6250-judge
      sourceHandle: source
      target: 6243-pre
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6243pre-6240build
      source: 6243-pre
      sourceHandle: source
      target: 6240build
      targetHandle: target
      type: custom
    - data:
        sourceType: variable-assigner
        targetType: code
      id: e-6243b-6240build
      source: 6243b
      sourceHandle: source
      target: 6240build
      targetHandle: target
      type: custom
    - id: e-6171-modifynew-6250b
      source: '6171'
      sourceHandle: modify_new
      target: 6250b
      targetHandle: target
      type: custom
    - id: e-6250bif-esc-abort
      source: 6250b-if
      sourceHandle: escalate
      target: 6250b-escalate-abort
      targetHandle: target
      type: custom
    - id: e-6250bescabort-out
      source: 6250b-escalate-abort
      sourceHandle: source
      target: 6250b-escalate-out
      targetHandle: target
      type: custom
    - id: e-6250bescout-6098
      source: 6250b-escalate-out
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - id: e-6177a-denyout
      source: 6177-assigner
      sourceHandle: source
      target: 6177-deny-out
      targetHandle: target
      type: custom
    - id: e-6177denyout-6098
      source: 6177-deny-out
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
    - id: e-6171b-bugreset
      source: 6171b
      sourceHandle: bug_new_topic
      target: 6171b-bug-reset
      targetHandle: target
      type: custom
    - id: e-6171bbugreset-6250
      source: 6171b-bug-reset
      sourceHandle: source
      target: '6250'
      targetHandle: target
      type: custom
    - id: e-6171-bnt-bugreset
      source: '6171'
      sourceHandle: bug_new_topic
      target: 6171b-bug-reset
      targetHandle: target
      type: custom
    - id: e-6171c-bnt-bugreset
      source: 6171c
      sourceHandle: bug_new_topic
      target: 6171b-bug-reset
      targetHandle: target
      type: custom
    - id: e-6171d-bnt-bugreset
      source: 6171d
      sourceHandle: bug_new_topic
      target: 6171b-bug-reset
      targetHandle: target
      type: custom
    - id: e-6239if-progress-6239proghttp
      source: 6239-if
      sourceHandle: progress
      target: 6239-prog-http
      targetHandle: source
      type: custom
      zIndex: 0
    - id: e-6239proghttp-6239progreply
      source: 6239-prog-http
      sourceHandle: source
      target: 6239-prog-reply
      targetHandle: target
      type: custom
      zIndex: 0
    - id: e-6239progreply-6098
      source: 6239-prog-reply
      sourceHandle: source
      target: '6098'
      targetHandle: target
      type: custom
      zIndex: 0
    - id: e-6171b-progress-6239proghttp
      source: 6171b
      sourceHandle: progress
      target: 6239-prog-http
      targetHandle: source
      type: custom
      zIndex: 0
    - id: e-6171c-progress-6239proghttp
      source: 6171c
      sourceHandle: progress
      target: 6239-prog-http
      targetHandle: source
      type: custom
      zIndex: 0
    - id: e-6171d-progress-6239proghttp
      source: 6171d
      sourceHandle: progress
      target: 6239-prog-http
      targetHandle: source
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: Start
        type: start
        variables:
        - default: ''
          label: 语言(可选)
          options:
          - zh
          - en
          - vi
          - ''
          required: false
          type: select
          variable: input_language
        - default: ''
          label: 端类型
          options:
          - user
          - butler
          - pc
          - ''
          required: false
          type: select
          variable: input_hint_endpoint
        - default: ''
          label: 地域
          options:
          - cn
          - overseas
          - ''
          required: false
          type: select
          variable: input_hint_region
      height: 200
      id: '6001'
      position:
        x: -760
        y: 0
      positionAbsolute:
        x: -760
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(query: str, input_language: str) -> dict:\n    text = (query or \"\").strip()\n    if input_language and input_language.strip():\n        lang = input_language.strip()\n    else:\n        cjk = sum(1 for c in text if '一' <= c <= '鿿')\n        vi_chars = \"ăâđêôơưĂÂĐÊÔƠƯáàảãạắằẳẵặấầẩẫậéèẻẽẹếềểễệíìỉĩịóòỏõọốồổỗộớờởỡợúùủũụứừửữựýỳỷỹỵ\"\n        if any(c in vi_chars for c in text): lang = \"vi\"\n        elif cjk > 0: lang = \"zh\"\n        else: lang = \"en\"\n    return {\"query_text\": text, \"language\": lang}\n"
        code_language: python3
        outputs:
          language:
            children: null
            type: string
          query_text:
            children: null
            type: string
        selected: false
        title: code_准备本轮输入
        type: code
        variables:
        - value_selector:
          - sys
          - query
          variable: query
        - value_selector:
          - '6001'
          - input_language
          variable: input_language
      height: 52
      id: '6002'
      position:
        x: -480
        y: 0
      positionAbsolute:
        x: -480
        y: 0
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: n5-sys
          role: system
          text: '你是 B 端 SaaS 产品客户反馈一体化处理引擎,承接客户原始反馈。核心职责:

            1. 提取 mokuai/caozuomiaoshu/huanjing/leixing 四字段(总是提取,信息不足字段填"待确认",但应尽量识别模块名)

            2. 判定信息充足度,不足时生成引导话术;充足时生成确认话术


            【输入】用户反馈文本: {{#6002.query_text#}}

            用户附带截图时,必须同时读取 sys.files 中的图片内容,把截图里的页面、标签、报错和异常现象纳入四字段与查重词提取。


            【判定原则】同时具备模块+操作路径+问题现象+终端环境4要素即判SUFFICIENT(用户ID/订单ID/桩编号是加分项非必填, 无则不因此判INSUFFICIENT)。

            【信息充足度判定】满足任意1条即"信息不足":

            1. 模块/场景完全不明确(仅"系统有问题""充电桩用不了",无法定位具体功能/页面)

            2. 问题现象过于笼统(仅"注册不了""充不了电",无操作路径/报错原文/触发条件)

            3. 终端环境不明确(无法区分用户端/管家端/后台)

            4. 诉求属性不明确(无法区分bug还是优化)

            5. 完全无有效业务信息

            注意:即使整体信息不足,只要能识别出模块名(如"订单""充电""支付"),mokuai 必须填该模块名,不要填"待确认"。


            【输出规范】严格按以下结构输出(顺序不变):

            【充足度】SUFFICIENT 或 INSUFFICIENT

            【内部结构化数据】

            {"mokuai":"模块标准名称(15字以内,无法识别填待确认,但尽量识别)","caozuomiaoshu":"标准化操作路径与问题现象描述(80字以内,结构:操作终端+操作路径+执行动作+问题现象+业务影响,过滤情绪废话)","huanjing":"后台/管家端/用户端(无法判定填待确认)","leixing":"bug/优化(无法判定填待确认)","search_keyword":"2-6字核心问题词,用于查重搜已有记录(如扫码/离线/支付失败/订单结束),取最核心名词或动宾,不同客户对同类问题应输出相同词"}


            若【充足度】INSUFFICIENT,继续输出:

            【客户侧引导话术】

            针对缺失信息点精准提问(缺什么问什么),聚焦缺失的模块/操作/现象/终端,不追问用户ID/订单ID/桩编号(这些是加分项,用户主动提供才记录)。参考:模块不明问业务场景;现象笼统问操作步骤+异常现象;终端不明问web管理后台/管家端APP/用户端APP;属性不明问功能故障还是优化建议;无信息问1.功能页面 2.异常现象 3.终端。


            若【充足度】SUFFICIENT,继续输出:

            【客户侧回复话术】

            正式亲和语气,无技术黑话。结构:开篇问候+4字段通俗描述(bug译为功能故障,优化译为优化建议)+主动确认+补充提示+礼貌收尾。


            【全局约束】

            - 100%基于输入文本与用户截图,不脑补不编造

            - 枚举字段严格遵守可选值范围

            - 客户回复只做信息同步与确认,不做排期/解决方案承诺

            - 必须输出【充足度】SUFFICIENT 或【充足度】INSUFFICIENT 标签'
        - id: n5-user
          role: user
          text: '{{#6002.query_text#}}'
        reasoning_format: separated
        selected: false
        title: N5 转写+关键词
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6250'
      position:
        x: 1200
        y: 740
      positionAbsolute:
        x: 1200
        y: 740
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#6240build.body_json#}}'
          type: json
        error_strategy: fail-branch
        headers: Content-Type:application/json
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        title: D2 查询问题追踪表
        type: http-request
        url: http://120.55.45.59:8501/internal/bugtrack/search
      height: 200
      id: '6240'
      position:
        x: 1440
        y: 740
      positionAbsolute:
        x: 1440
        y: 740
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(http_body: str, cv_mokuai: str) -> dict:\n    import json, re\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    hits = data.get(\"hits\") or []\n    if not hits:\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    h = hits[0]\n    rid = h.get(\"record_id\", \"\")\n    module = (h.get(\"module\") or \"\").strip()\n    op_desc = (h.get(\"op_desc\") or h.get(\"summary\") or \"\").strip()\n    if module and op_desc.startswith(module):\n        op_desc = op_desc[len(module):].lstrip()\n    op_desc = re.sub(r\"^(所属模块|模块|功能点)[:：][^,，\\n]{1,30}[,，\\s]*\", \"\", op_desc).strip()\n    cv_mok = (cv_mokuai or \"\").strip()\n    if cv_mok and module and (cv_mok not in module) and (module not in cv_mok):\n        return {\"hit_record_id\": \"\", \"row_summary\": \"\"}\n    dev_status = (h.get(\"dev_status\") or \"\").strip()\n    reply = (h.get(\"reply\") or \"\").strip()\n    result = (h.get(\"result\") or \"\").strip()\n    parts = []\n    if module:\n        parts.append(\"所属模块:\" + module)\n    if op_desc:\n        parts.append(\"问题描述:\" + op_desc)\n    if dev_status:\n        parts.append(\"当前状态:\" + dev_status)\n    if reply:\n        parts.append(\"产品回复:\" + reply)\n    if result:\n        parts.append(\"完成结果:\" + result)\n    row_summary = \"\\n\".join(parts) if parts else op_desc[:500]\n    return {\"hit_record_id\": rid, \"row_summary\": row_summary}"
        code_language: python3
        outputs:
          hit_record_id:
            children: null
            type: string
          row_summary:
            children: null
            type: string
        selected: false
        title: D2解析查表
        type: code
        variables:
        - variable: http_body
          value_selector:
          - '6240'
          - body
        - variable: cv_mokuai
          value_selector:
          - conversation
          - cv_mokuai
      height: 88
      id: 6240-parse
      position:
        x: 1620
        y: 740
      positionAbsolute:
        x: 1620
        y: 740
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: bug_exist
          conditions:
          - comparison_operator: not empty
            id: cond_0_0
            varType: string
            variable_selector:
            - 6240-parse
            - hit_record_id
          logical_operator: and
        - case_id: default
          conditions:
          - comparison_operator: not empty
            id: cond_default_0
            varType: string
            variable_selector:
            - '6002'
            - query_text
          logical_operator: and
        selected: false
        title: D2 是否已存在该问题
        type: if-else
      height: 118
      id: '6241'
      position:
        x: 1700
        y: 740
      positionAbsolute:
        x: 1700
        y: 740
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(row_summary: str) -> dict:\n    s = (row_summary or \"\").strip()\n    if not s:\n        s = \"该记录内容\"\n    return {\"answer_text\": \"您好,这个问题我们之前已经记录在跟进中了:\\n\" + s + \"\\n\\n请问您这次反馈的是同一个问题吗?\"}"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: D4 命中汇报(模板)
        type: code
        variables:
        - variable: row_summary
          value_selector:
          - 6240-parse
          - row_summary
      height: 88
      id: '6242'
      position:
        x: 1960
        y: 700
      positionAbsolute:
        x: 1960
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - value_true
          variable_selector:
          - conversation
          - cv_bug_logged
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_d
          variable_selector:
          - conversation
          - cv_last_intent
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_new
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - clarify_count_0
          variable_selector:
          - conversation
          - cv_clarify_count
        selected: false
        title: var_标记bug已记录
        type: assigner
        version: '2'
      height: 88
      id: '6243'
      position:
        x: 1960
        y: 960
      positionAbsolute:
        x: 1960
        y: 960
      selected: false
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: d3-sys
          role: system
          text: '你是充电桩智能客服。系统已将用户反馈整理为下方结构化字段,请基于这些字段生成面向客户的确认话术,让客户核对信息是否准确。


            【系统整理的结构化字段】(非用户原话,是系统整合后的结果):

            模块: {{#conversation.cv_mokuai#}}

            操作描述: {{#conversation.cv_feedback_zh#}}

            环境: {{#conversation.cv_huanjing#}}

            类型: {{#conversation.cv_leixing#}}


            **规则**:

            1. 用通俗化语言整合上述字段,生成面向客户的确认话术

            2. 结构:开篇问候 + 分点通俗描述(模块/操作/环境/类型) + 主动确认"以上信息是否准确" + 补充提示 + 礼貌收尾

            3. 类型为 bug 时译为"功能故障",为优化时译为"优化建议"

            4. 严格基于上述字段,不要引入字段之外的信息

            5. 简洁,150字以内'
        - id: d3-user
          role: user
          text: '{{#conversation.cv_feedback_zh#}}'
        reasoning_format: separated
        selected: false
        title: N6 引导确认新增
        type: llm
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6244'
      position:
        x: 2200
        y: 960
      positionAbsolute:
        x: 2200
        y: 960
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str, mokuai: str, caozuomiaoshu: str, huanjing: str, leixing: str) -> dict:\n    parts = [\"<!--SYS:TIMER|action=arm|state=await_confirm_new\"]\n    parts.append(f\"|mokuai={(mokuai or \"\")[:30]}\")\n    parts.append(f\"|op_desc={(caozuomiaoshu or \"\")[:200]}\")\n    parts.append(f\"|env={(huanjing or \"\")[:10]}\")\n    parts.append(f\"|type={(leixing or \"\")[:10]}\")\n    parts.append(\"-->\")\n    marker = \"\".join(parts)\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N6拼TIMER标记
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6244'
          - text
        - variable: mokuai
          value_selector:
          - conversation
          - cv_mokuai
        - variable: caozuomiaoshu
          value_selector:
          - conversation
          - cv_feedback_zh
        - variable: huanjing
          value_selector:
          - conversation
          - cv_huanjing
        - variable: leixing
          value_selector:
          - conversation
          - cv_leixing
      height: 88
      id: 6244-timer
      position:
        x: 2200
        y: 1080
      positionAbsolute:
        x: 2200
        y: 1080
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {\n        \"value_true\": True,\n        \"value_false\": False,\n        \"str_clarify\": \"clarify\",\n        \"str_faq\": \"faq\",\n        \"str_custom\": \"custom\",\n        \"str_d\": \"d\",\n        \"str_a\": \"a\",\n        \"str_b\": \"b\",\n        \"str_c\": \"c\",\n        \"str_empty\": \"\",\n        \"str_await_confirm_new\": \"await_confirm_new\",\n        \"str_idle\": \"IDLE\",\n        \"str_await_confirm_identity\": \"await_confirm_identity\",\n        \"str_await_diff_decision\": \"await_diff_decision\",\n        \"str_await_confirm_modify\": \"await_confirm_modify\",\n        \"str_await_modify_window\": \"await_modify_window\",\n        \"clarify_count_0\": 0,\n        \"clarify_count_1\": 1,\n        \"str_sufficient\": \"SUFFICIENT\",\n        \"str_insufficient\": \"INSUFFICIENT\"\n    }"
        code_language: python3
        outputs:
          str_a:
            children: null
            type: string
          str_b:
            children: null
            type: string
          str_c:
            children: null
            type: string
          str_clarify:
            children: null
            type: string
          str_custom:
            children: null
            type: string
          str_d:
            children: null
            type: string
          str_empty:
            children: null
            type: string
          str_faq:
            children: null
            type: string
          value_false:
            children: null
            type: boolean
          value_true:
            children: null
            type: boolean
          str_await_confirm_new:
            children: null
            type: string
          str_idle:
            children: null
            type: string
          str_await_confirm_identity:
            children: null
            type: string
          str_await_diff_decision:
            children: null
            type: string
          str_await_confirm_modify:
            children: null
            type: string
          str_await_modify_window:
            children: null
            type: string
          clarify_count_0:
            children: null
            type: number
          clarify_count_1:
            children: null
            type: number
          str_sufficient:
            children: null
            type: string
          str_insufficient:
            children: null
            type: string
        selected: false
        title: code_常量
        type: code
        variables: []
      height: 52
      id: '6901'
      position:
        x: -760
        y: 280
      positionAbsolute:
        x: -760
        y: 280
      selected: false
      type: custom
      width: 242
    - data:
        advanced_settings:
          group_enabled: false
          groups: []
        output_type: string
        outputs:
          output:
            children: null
            type: string
        selected: false
        title: 汇聚最终答案
        type: variable-aggregator
        variables:
        - - 6244-timer
          - answer_text
        - - 6262b
          - answer_text
        - - 6242c
          - answer_text
        - - 6173-timer
          - answer_text
        - - 6175-timer
          - answer_text
        - - 6176d
          - answer_text
        - - 6250-insuf-out
          - answer_text
        - - 6250b-insuf-out
          - answer_text
        - - 6162-out
          - answer_text
        - - 6162-switch-kb
          - answer_text
        - - 6239-switch-kb
          - answer_text
        - - 6177-deny-out
          - answer_text
        - - 6250b-escalate-out
          - answer_text
        - - 6239-prog-reply
          - answer_text
      height: 200
      id: '6098'
      position:
        x: 2240
        y: 280
      positionAbsolute:
        x: 2240
        y: 280
      selected: false
      type: custom
      width: 242
    - data:
        answer: '{{#6098.output#}}'
        selected: false
        title: 输出 AI 回答
        type: answer
        variables:
        - value_selector:
          - '6098'
          - output
          variable: final_text
      height: 89
      id: '6099'
      position:
        x: 2480
        y: 280
      positionAbsolute:
        x: 2480
        y: 280
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: await_confirm_new
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: cond_6601_acn
            value: await_confirm_new
            varType: string
            variable_selector:
            - conversation
            - cv_flow_state
        - case_id: await_confirm_identity
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: cond_6601_aci
            value: await_confirm_identity
            varType: string
            variable_selector:
            - conversation
            - cv_flow_state
        - case_id: await_diff_decision
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: cond_6601_add
            value: await_diff_decision
            varType: string
            variable_selector:
            - conversation
            - cv_flow_state
        - case_id: await_confirm_modify
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: cond_6601_acm
            value: await_confirm_modify
            varType: string
            variable_selector:
            - conversation
            - cv_flow_state
        - case_id: await_modify_window
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: cond_6601_amw
            value: await_modify_window
            varType: string
            variable_selector:
            - conversation
            - cv_flow_state
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6601_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: 是否二阶段待确认态
        type: if-else
      height: 118
      id: '6601'
      position:
        x: -350
        y: 120
      positionAbsolute:
        x: -350
        y: 120
      selected: false
      type: custom
      width: 242
    - data:
        model: &id001
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: n17-sys
          role: system
          text: '你是客服对话相关性判定器。当前用户有一条【待确认事项】尚未完成,30分钟内又发了新消息。判断这条新消息与待确认事项的关系。


            【当前待确认态】: {{#conversation.cv_flow_state#}}

            【已整理的反馈内容】: {{#conversation.cv_feedback_zh#}}

            【用户新消息】: {{#6002.query_text#}}


            只输出一个分类标签,不要输出任何其他文字:

            - CONFIRM_NEW       : 用户确认新增记录(回"是/对/确认/没问题/就这样记录/可以")

            - MODIFY_NEW        : 用户补充或要求修改新反馈内容(包括模糊/说不清楚的补充,只要与当前反馈相关都算补充)

            - MODIFY_EXISTING   : 用户要求修改已命中的旧记录(本版本按 IRRELEVANT 处理)

            - ABANDON          : 用户要结束/放弃本次反馈,不是开新话题(算了/不报了/没事/不用了/结束吧)

            - BUG_NEW_TOPIC    : 用户开了新话题且是充电桩bug/故障反馈(另一个充电桩问题/设备故障/订单问题/充电异常)

            - IRRELEVANT        : 开新话题且与充电桩bug无关(查计费规则/怎么操作等非反馈类)


            判定要点:

            1. 用户在回应"确认吗/记录吗"且表示肯定 → CONFIRM_NEW

            2. 用户补充反馈内容或要求改某字段 → MODIFY_NEW

            3. 用户跳转问别的事(如计费规则/怎么操作) → IRRELEVANT


            【确认优先级补充规则】

            - 用户先明确肯定，再说“记得把图片/截图/附件上传”等流程要求，仍输出 CONFIRM_NEW。

            - 只有明确改变模块、操作描述、环境或类型时才输出 MODIFY_NEW。
            '
        - id: n17-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision: &id002
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N17 相关性识别
        type: llm
        memory: &id003
          window:
            enabled: true
            size: 10
      height: 88
      id: '6170'
      position:
        x: -220
        y: 200
      positionAbsolute:
        x: -220
        y: 200
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str, query_text: str) -> dict:\n    import re\n    q = re.sub(r\"[\\s,，。.!！?？;；:：、]+\", \"\", (query_text or \"\").lower())\n    if any(x in q for x in [\"算了\", \"不报了\", \"不用记录\", \"取消反馈\", \"结束反馈\"]):\n        return {\"label\": \"ABANDON\"}\n    confirm = re.match(r\"^(是的?|对的?|没错|正确|确认|可以|好的?|嗯+|没问题|信息准确|就这样)+\", q)\n    if confirm:\n        rest = q[confirm.end():]\n        if not rest:\n            return {\"label\": \"CONFIRM_NEW\"}\n        image_words = [\"图片\", \"截图\", \"附件\", \"照片\", \"图\"]\n        attach_actions = [\"上传\", \"附上\", \"带上\", \"保存\", \"记录\", \"提交\"]\n        change_markers = [\"改成\", \"修改\", \"更正\", \"补充\", \"不是\", \"不对\", \"应该是\", \"调整为\"]\n        if any(x in rest for x in image_words) and any(x in rest for x in attach_actions) and not any(x in rest for x in change_markers):\n            return {\"label\": \"CONFIRM_NEW\"}\n    t = (llm_text or \"\").upper()\n    for label in [\"CONFIRM_NEW\", \"MODIFY_NEW\", \"MODIFY_EXISTING\", \"ABANDON\", \"BUG_NEW_TOPIC\", \"IRRELEVANT\"]:\n        if label in t:\n            return {\"label\": label}\n    return {\"label\": \"IRRELEVANT\"}"
        code_language: python3
        outputs:
          label:
            children: null
            type: string
        selected: false
        title: N17 解析标签
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6170'
          - text
        - variable: query_text
          value_selector:
          - '6002'
          - query_text
      height: 88
      id: 6170-parse
      position:
        x: 0
        y: 200
      positionAbsolute:
        x: 0
        y: 200
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: confirm_new
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_cn
            value: CONFIRM_NEW
            varType: string
            variable_selector:
            - 6170-parse
            - label
        - case_id: modify_new
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_mn
            value: MODIFY_NEW
            varType: string
            variable_selector:
            - 6170-parse
            - label
        - case_id: abandon
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_ab_6171
            value: ABANDON
            varType: string
            variable_selector:
            - 6170-parse
            - label
        - case_id: bug_new_topic
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_bnt_bug_new_topic
            value: BUG_NEW_TOPIC
            varType: string
            variable_selector:
            - 6170-parse
            - label
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6171_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N17 分发
        type: if-else
      height: 118
      id: '6171'
      position:
        x: 220
        y: 200
      positionAbsolute:
        x: 220
        y: 200
      selected: false
      type: custom
      width: 242
    - data:
        model: *id001
        prompt_template:
        - id: n5b-sys
          role: system
          text: '你是 B 端 SaaS 产品客户反馈一体化处理引擎。当前是【迭代场景】:用户在已有反馈基础上补充/修改信息,需结合对话历史与上一轮结构化字段,整合后重新判定。


            【上一轮结构化字段】(系统整理,客户未提及的字段保留此原值):

            模块: {{#conversation.cv_mokuai#}}

            操作描述: {{#conversation.cv_feedback_zh#}}

            环境: {{#conversation.cv_huanjing#}}

            类型: {{#conversation.cv_leixing#}}


            【当前用户补充】: {{#6002.query_text#}}

            用户本轮附带截图时,必须同时读取 sys.files 中的图片内容并合并到结构化字段。

            【对话历史】: 系统自动注入此前各轮用户原话与客服回复(无需手动引用)


            【信息充足度判定】满足任意1条即判为"信息不足":

            1. 模块/场景完全不明确(无法定位具体功能/页面)

            2. 问题现象过于笼统(无操作路径/报错原文/触发条件)

            3. 终端环境不明确(无法区分用户端/管家端/后台)

            4. 诉求属性不明确(无法区分bug还是优化)

            5. 完全无有效业务信息

            【迭代修正规则】若用户补充了修改要求,100%按客户要求修正对应字段:

            - 模块归属错误->调整mokuai为客户指定名称

            - 描述偏差/遗漏->修正caozuomiaoshu对应内容

            - 环境/类型错误->同步调整huanjing、leixing

            - 客户未提及的字段保留上一轮原值,不变动


            【输出规范】必须先输出【充足度】标签:


            若信息充足:

            【充足度】SUFFICIENT

            【内部结构化数据】

            {"mokuai":"模块标准名称(15字以内,无法识别填待确认)","caozuomiaoshu":"标准化操作路径与问题现象描述(80字以内,结构:操作终端+操作路径+执行动作+问题现象+业务影响)","huanjing":"后台/管家端/用户端(无法判定填待确认)","leixing":"bug/优化(无法判定填待确认)","search_keyword":"2-6字核心问题词,用于查重搜已有记录(如扫码/离线/支付失败/订单结束),取最核心名词或动宾,不同客户对同类问题应输出相同词"}

            【客户侧回复话术】

            告知已根据补充内容更新记录,同步调整后的内容请客户确认(开篇+4字段通俗描述,bug译为功能故障,优化译为优化建议+确认+补充提示+收尾)


            若信息不足:

            【充足度】INSUFFICIENT

            【客户侧引导话术】

            针对仍缺失的信息点精准提问,末尾追加用户ID/订单ID/充电桩编号提示


            【全局约束】

            - 100%基于输入文本、历史字段与用户截图,不脑补不编造

            - 枚举字段严格遵守可选值范围

            - 客户回复只做信息同步与确认,不做排期/解决方案承诺

            - 必须输出【充足度】SUFFICIENT 或【充足度】INSUFFICIENT 标签


            【跨轮与附件规则】

            - 上一轮结构化字段同样属于有效信息；四字段已完整时，不得因本轮附件处理要求重新判为 INSUFFICIENT。

            - 当前 H5/客服窗口支持图片文件，严禁声称窗口无法接收文件或要求改走其他渠道。

            - “上传图片/附上截图”是附件处理要求，不等于修改反馈四字段。
            '
        - id: n5b-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: true
        reasoning_format: separated
        selected: false
        title: N5b 转写(合并补充)
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: 6250b
      position:
        x: 480
        y: 420
      positionAbsolute:
        x: 480
        y: 420
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str, label: str) -> dict:\n    import json, re\n    if label == \"FALLBACK\":\n        return {\"mokuai\":\"待人工核实\",\"caozuomiaoshu\":\"用户多次补充后信息仍不完整,需人工跟进核实具体问题\",\"huanjing\":\"待确认\",\"leixing\":\"bug\",\"search_keyword\":\"\"}\n    text = llm_text or \"\"\n    obj = None\n    try:\n        idx = text.find(\"{\")\n        if idx >= 0:\n            obj, _ = json.JSONDecoder().raw_decode(text[idx:])\n    except Exception:\n        obj = None\n    if not obj:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\",\"search_keyword\":\"\"}\n    return {\n        \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n        \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n        \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n        \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20],\n        \"search_keyword\": str(obj.get(\"search_keyword\",\"\")).strip()[:20]\n    }"
        code_language: python3
        outputs:
          mokuai:
            children: null
            type: string
          caozuomiaoshu:
            children: null
            type: string
          huanjing:
            children: null
            type: string
          leixing:
            children: null
            type: string
          search_keyword:
            children: null
            type: string
        selected: false
        title: N5b 解析JSON
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - 6250b
          - text
        - variable: label
          value_selector:
          - 6250b-judge
          - label
      height: 88
      id: 6250b-parse
      position:
        x: 740
        y: 420
      positionAbsolute:
        x: 740
        y: 420
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6250b-parse
          - mokuai
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - 6250b-parse
          - huanjing
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - 6250b-parse
          - leixing
          variable_selector:
          - conversation
          - cv_leixing
        - input_type: variable
          operation: over-write
          value:
          - 6250b-parse
          - caozuomiaoshu
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - 6250b-judge
          - label
          variable_selector:
          - conversation
          - cv_sufficiency_label
        - input_type: variable
          operation: over-write
          value:
          - 6250b-parse
          - search_keyword
          variable_selector:
          - conversation
          - cv_search_keyword
        selected: false
        title: var_更新反馈(MODIFY_NEW)
        type: assigner
        version: '2'
      height: 88
      id: 6243b
      position:
        x: 1000
        y: 420
      positionAbsolute:
        x: 1000
        y: 420
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(mokuai: str, caozuomiaoshu: str, huanjing: str, leixing: str, conversation_id: str, flow_state: str, query_text: str) -> dict:\n    import hashlib, json\n    fields = {}\n    if mokuai:\n        fields[\"模块/功能点\"] = mokuai[:100]\n    if caozuomiaoshu:\n        fields[\"操作描述\"] = caozuomiaoshu[:2000]\n    if huanjing and huanjing in (\"后台\", \"管家端\", \"用户端\"):\n        fields[\"环境\"] = huanjing\n    fields[\"类型\"] = (leixing or \"bug\")[:10]\n    fields[\"问题状态\"] = \"问题未查阅\"\n    conv = (conversation_id or \"\").strip()\n    query = (query_text or \"\").strip()\n    body = {\"fields\": fields, \"conversation_id\": conv, \"flow_state\": (flow_state or \"\").strip(), \"source_text\": query, \"idempotency_key\": \"dify-add-\" + hashlib.sha256((conv + \"|\" + query).encode(\"utf-8\")).hexdigest()}\n    return {\"body_json\": json.dumps(body, ensure_ascii=False)}"
        code_language: python3
        outputs:
          body_json:
            children: null
            type: string
        selected: false
        title: N16 组装飞书fields
        type: code
        variables:
        - variable: mokuai
          value_selector:
          - conversation
          - cv_mokuai
        - variable: caozuomiaoshu
          value_selector:
          - conversation
          - cv_feedback_zh
        - variable: leixing
          value_selector:
          - conversation
          - cv_leixing
        - variable: huanjing
          value_selector:
          - conversation
          - cv_huanjing
        - variable: conversation_id
          value_selector:
          - sys
          - conversation_id
        - variable: flow_state
          value_selector:
          - conversation
          - cv_flow_state
        - variable: query_text
          value_selector:
          - '6002'
          - query_text
      height: 88
      id: 6260a
      position:
        x: 480
        y: 100
      positionAbsolute:
        x: 480
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#6260a.body_json#}}'
          type: json
        error_strategy: fail-branch
        headers: Content-Type:application/json
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        selected: false
        title: N16 写主表(飞书)
        type: http-request
        url: http://120.55.45.59:8501/internal/bugtrack/add
      height: 200
      id: 6260b
      position:
        x: 740
        y: 100
      positionAbsolute:
        x: 740
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(http_body: str) -> dict:\n    import json\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        return {\"record_id\": \"\"}\n    return {\"record_id\": str(data.get(\"record_id\",\"\"))}\n"
        code_language: python3
        outputs:
          record_id:
            children: null
            type: string
        selected: false
        title: N16 解析record_id
        type: code
        variables:
        - variable: http_body
          value_selector:
          - 6260b
          - body
      height: 88
      id: 6260c
      position:
        x: 1000
        y: 100
      positionAbsolute:
        x: 1000
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6260c
          - record_id
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_modify_window
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - cv_feedback_zh
          variable_selector:
          - conversation
          - cv_row_summary
        selected: false
        title: var_设IDLE+record_id
        type: assigner
        version: '2'
      height: 88
      id: '6261'
      position:
        x: 1260
        y: 100
      positionAbsolute:
        x: 1260
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        model: *id001
        prompt_template:
        - id: d5-sys
          role: system
          text: '你是充电桩智能客服。用户已确认反馈,系统已记录。输出简短汇报。


            **规则**:


            1. 严格只输出最终答案文本


            2. 告知已记录+会跟进,附记录编号


            3. 礼貌收尾


            4. 100字以内



            反馈摘要: {{#conversation.cv_feedback_zh#}}


            记录编号: {{#6260c.record_id#}}'
        - id: d5-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision: *id002
        reasoning_format: separated
        selected: false
        title: N16 汇报已记录
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6262'
      position:
        x: 1520
        y: 100
      positionAbsolute:
        x: 1520
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str, record_id: str) -> dict:\n    rid = (record_id or \"\").strip()\n    base = \"https://l177u7fwggf.feishu.cn/base/DUCdbcr2ya2o5gszVKac2NuBnHh?table=tblkYK8aFYHLVQTa&view=vewUv7mfQs&record=\"\n    link = (\"\\n记录链接: \" + base + rid) if rid else \"\"\n    return {\"answer_text\": (llm_text or \"\") + link + \"\\n<!--SYS:TIMER|action=cancel-->\"}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 拼cancel标记
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6262'
          - text
        - variable: record_id
          value_selector:
          - 6260c
          - record_id
      height: 88
      id: 6262b
      position:
        x: 1780
        y: 100
      positionAbsolute:
        x: 1780
        y: 100
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_idle
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_leixing
        selected: false
        title: var_reset(IDLE)
        type: assigner
        version: '2'
      height: 88
      id: '6162'
      position:
        x: 480
        y: 600
      positionAbsolute:
        x: 480
        y: 600
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6240-parse
          - hit_record_id
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - 6240-parse
          - row_summary
          variable_selector:
          - conversation
          - cv_row_summary
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_identity
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: var_标记命中待确认身份
        type: assigner
        version: '2'
      height: 88
      id: 6242b
      position:
        x: 1960
        y: 820
      positionAbsolute:
        x: 1960
        y: 820
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_identity-->\"\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 命中拼TIMER标记
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6242'
          - answer_text
      height: 88
      id: 6242c
      position:
        x: 2200
        y: 820
      positionAbsolute:
        x: 2200
        y: 820
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(mokuai: str, search_keyword: str, op_desc: str, conversation_id: str, flow_state: str, query_text: str) -> dict:\n    import hashlib, json\n    module = (mokuai or \"\").strip()\n    keyword = (search_keyword or \"\").strip() or module\n    conv = (conversation_id or \"\").strip()\n    state = (flow_state or \"IDLE\").strip()\n    query = (query_text or \"\").strip()\n    idem_raw = \"|\".join([conv, state, query, keyword, module])\n    payload = {\"keyword\": keyword, \"module\": module, \"op_desc\": (op_desc or \"\").strip(), \"limit\": 5, \"conversation_id\": conv, \"flow_state\": state, \"source_text\": query, \"force_new\": state == \"IDLE\", \"idempotency_key\": \"dify-search-\" + hashlib.sha256(idem_raw.encode(\"utf-8\")).hexdigest()}\n    return {\"body_json\": json.dumps(payload, ensure_ascii=False)}"
        code_language: python3
        outputs:
          body_json:
            children: null
            type: string
        selected: false
        title: D2组装查表body
        type: code
        variables:
        - variable: mokuai
          value_selector:
          - conversation
          - cv_mokuai
        - variable: search_keyword
          value_selector:
          - conversation
          - cv_search_keyword
        - variable: op_desc
          value_selector:
          - conversation
          - cv_feedback_zh
        - variable: conversation_id
          value_selector:
          - sys
          - conversation_id
        - variable: flow_state
          value_selector:
          - conversation
          - cv_flow_state
        - variable: query_text
          value_selector:
          - '6002'
          - query_text
      height: 88
      id: 6240build
      position:
        x: 1380
        y: 620
      positionAbsolute:
        x: 1380
        y: 620
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: n17b-sys
          role: system
          text: '你是客服对话相关性判定器。当前待确认态: await_confirm_identity(我们告知用户命中了已有问题记录,在问"这是您反馈的问题吗")。


            【命中旧行内容】: {{#conversation.cv_row_summary#}}

            【用户已转写反馈】: {{#conversation.cv_feedback_zh#}}

            【用户新消息】: {{#6002.query_text#}}


            只输出一个标签,不要任何其他文字:

            - PROGRESS        : 用户在询问问题处理进度/状态(解决了吗/处理了吗/怎么样了/有结果吗/退了吗)

            - CONFIRM_IDENTITY : 用户确认是自己的问题(是/对/是我的)

            - DENY_IDENTITY    : 用户否认(不是/不对/不是我的)

            - MODIFY_EXISTING  : 用户要求修改这条已有记录

            - ABANDON          : 用户要结束对话/不继续了(算了/不查了/没事/结束),非否认非开新话题

            - BUG_NEW_TOPIC    : 用户开了新话题,且新话题是充电桩bug/故障反馈(另一个充电桩问题/设备故障/订单问题/充电异常)

            - IRRELEVANT       : 开新话题且与充电桩bug无关(查计费规则/怎么操作/咨询类)'
        - id: n17b-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N17b 身份确认分类
        type: llm
        memory: *id003
      height: 88
      id: 6170b
      position:
        x: -220
        y: 340
      positionAbsolute:
        x: -220
        y: 340
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: confirm_identity
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_ci_b
            value: CONFIRM_IDENTITY
            varType: string
            variable_selector:
            - 6170b
            - text
        - case_id: modify_existing
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_me_b
            value: MODIFY_EXISTING
            varType: string
            variable_selector:
            - 6170b
            - text
        - case_id: deny_identity
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_di_b
            value: DENY_IDENTITY
            varType: string
            variable_selector:
            - 6170b
            - text
        - case_id: abandon
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_ab_6171b
            value: ABANDON
            varType: string
            variable_selector:
            - 6170b
            - text
        - case_id: bug_new_topic
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_bnt_6171b
            value: BUG_NEW_TOPIC
            varType: string
            variable_selector:
            - 6170b
            - text
        - case_id: progress
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_p_6171b
            value: PROGRESS
            varType: string
            variable_selector:
            - 6170b
            - text
            sub_variable_condition: null
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6171b_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N17b 分发
        type: if-else
      height: 118
      id: 6171b
      position:
        x: 220
        y: 340
      positionAbsolute:
        x: 220
        y: 340
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: n17c-sys
          role: system
          text: '你是客服对话相关性判定器。当前待确认态: await_diff_decision(我们问了用户"是否要修改这条已有记录")。


            【已有记录】: {{#conversation.cv_row_summary#}}

            【用户反馈】: {{#conversation.cv_feedback_zh#}}

            【用户新消息】: {{#6002.query_text#}}


            只输出一个标签,不要任何其他文字:

            - PROGRESS        : 用户在询问问题处理进度/状态(解决了吗/处理了吗/怎么样了/有结果吗/退了吗)

            - CONFIRM_MODIFY   : 用户确认要修改(是/改/修改/要改)

            - DENY_MODIFY      : 用户不改了(不用/算了/不改/不用改)

            - MODIFY_EXISTING  : 用户补充新的修改要求

            - ABANDON          : 用户要结束对话/不继续了(结束/不查了/没事/再见),非"不用改"非开新话题

            - NO_DIFF          : 用户表示内容一致/记录准确,无需修改(没差异/一样/内容对的/一致)

            - BUG_NEW_TOPIC    : 用户开了新话题且是充电桩bug/故障反馈(另一个充电桩问题/设备故障/订单问题/充电异常)

            - IRRELEVANT       : 开新话题且与充电桩bug无关(查计费规则/怎么操作等非反馈类)'
        - id: n17c-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N17c 修改决策分类
        type: llm
        memory: *id003
      height: 88
      id: 6170c
      position:
        x: -220
        y: 460
      positionAbsolute:
        x: -220
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: confirm_modify
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_cm_c
            value: CONFIRM_MODIFY
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: modify_existing
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_me_c
            value: MODIFY_EXISTING
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: deny_modify
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_dm_6171c
            value: DENY_MODIFY
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: abandon
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_ab_6171c
            value: ABANDON
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: no_diff
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_nd_6171c
            value: NO_DIFF
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: bug_new_topic
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_bnt_bug_new_topic
            value: BUG_NEW_TOPIC
            varType: string
            variable_selector:
            - 6170c
            - text
        - case_id: progress
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_p_6171c
            value: PROGRESS
            varType: string
            variable_selector:
            - 6170c
            - text
            sub_variable_condition: null
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6171c_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N17c 分发
        type: if-else
      height: 118
      id: 6171c
      position:
        x: 220
        y: 460
      positionAbsolute:
        x: 220
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: n17d-sys
          role: system
          text: '你是客服对话相关性判定器。当前待确认态: await_confirm_modify(我们汇报了修改后的内容,在问"确认无误吗")。


            【已有记录】: {{#conversation.cv_row_summary#}}

            【修改后反馈】: {{#conversation.cv_feedback_zh#}}

            【用户新消息】: {{#6002.query_text#}}


            只输出一个标签,不要任何其他文字:

            - PROGRESS        : 用户在询问问题处理进度/状态(解决了吗/处理了吗/怎么样了/有结果吗/退了吗)

            - CONFIRM_DONE     : 用户确认无误(确认/对/没问题/可以)

            - MODIFY_EXISTING  : 用户还要改

            - ABANDON          : 用户要结束/放弃(算了/没事/不确认了/结束)

            - BUG_NEW_TOPIC    : 用户开了新话题且是充电桩bug/故障反馈(另一个充电桩问题/设备故障/订单问题/充电异常)

            - IRRELEVANT       : 开新话题且与充电桩bug无关(查计费规则/怎么操作等非反馈类)'
        - id: n17d-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N17d 修改完成确认分类
        type: llm
        memory: *id003
      height: 88
      id: 6170d
      position:
        x: -220
        y: 580
      positionAbsolute:
        x: -220
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: confirm_done
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_cd_d
            value: CONFIRM_DONE
            varType: string
            variable_selector:
            - 6170d
            - text
        - case_id: modify_existing
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_me_d
            value: MODIFY_EXISTING
            varType: string
            variable_selector:
            - 6170d
            - text
        - case_id: abandon
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_ab_6171d
            value: ABANDON
            varType: string
            variable_selector:
            - 6170d
            - text
        - case_id: bug_new_topic
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_bnt_bug_new_topic
            value: BUG_NEW_TOPIC
            varType: string
            variable_selector:
            - 6170d
            - text
        - case_id: progress
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_p_6171d
            value: PROGRESS
            varType: string
            variable_selector:
            - 6170d
            - text
            sub_variable_condition: null
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6171d_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N17d 分发
        type: if-else
      height: 118
      id: 6171d
      position:
        x: 220
        y: 580
      positionAbsolute:
        x: 220
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: n9-sys
          role: system
          text: '你是充电桩客服。用户确认命中的问题是他反馈的。对比他的反馈与已有记录,询问是否需要修改已有记录。


            【已有记录】: {{#conversation.cv_row_summary#}}

            【用户反馈】: {{#conversation.cv_feedback_zh#}}

            【本轮补充】: {{#6002.query_text#}}


            **规则**:

            1. 简述对比差异(若有)

            2. 询问"是否需要修改这条记录"

            3. 150字内通俗友好'
        - id: n9-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N9对比+N11询问修改
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6173'
      position:
        x: 480
        y: 340
      positionAbsolute:
        x: 480
        y: 340
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_diff_decision
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: var_设await_diff_decision
        type: assigner
        version: '2'
      height: 88
      id: 6173-assigner
      position:
        x: 640
        y: 340
      positionAbsolute:
        x: 640
        y: 340
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_diff_decision-->\"\n    return {\"answer_text\": (llm_text or \"\") + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N11拼TIMER标记
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6173'
          - text
      height: 88
      id: 6173-timer
      position:
        x: 840
        y: 340
      positionAbsolute:
        x: 840
        y: 340
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: n12-sys
          role: system
          text: '你是充电桩客服。用户确认要修改已有记录。整合用户反馈,汇报修改后内容,询问确认。


            【已有记录】: {{#conversation.cv_row_summary#}}

            【用户修改要求】: {{#conversation.cv_feedback_zh#}}

            【本轮补充】: {{#6002.query_text#}}


            **规则**:

            1. 整合出修改后的操作描述(纯问题描述:直接写操作终端+操作路径+问题现象+业务影响,严禁带【所属模块:】【模块:】等任何字段标签前缀,严禁重复模块名,无问候语,将写入操作描述字段)

            2. 生成汇报话术,询问"确认这样修改吗",话术150字内


            严格按以下格式输出两行:

            【修改后内容】<纯操作描述>

            【汇报话术】<汇报话术>'
        - id: n12-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N12汇报修改
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6175'
      position:
        x: 480
        y: 460
      positionAbsolute:
        x: 480
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import re\n    t = llm_text or \"\"\n    m1 = re.search(r\"【修改后内容】(.+?)(【汇报话术】|$)\", t, re.S)\n    m2 = re.search(r\"【汇报话术】(.+)\", t, re.S)\n    content = m1.group(1).strip() if m1 else t\n    huibao = m2.group(1).strip() if m2 else t\n    content = re.sub(r\"^(所属模块|模块|功能点)[:：][^,，\\n]{1,30}[,，]\\s*\", \"\", content).strip()\n    return {\"content\": content, \"huibao\": huibao}"
        code_language: python3
        outputs:
          content:
            children: null
            type: string
          huibao:
            children: null
            type: string
        selected: false
        title: N12解析修改内容
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6175'
          - text
      height: 88
      id: 6175-parse
      position:
        x: 740
        y: 460
      positionAbsolute:
        x: 740
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6175-parse
          - content
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_modify
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: var_存修改后内容+设await_confirm_modify
        type: assigner
        version: '2'
      height: 88
      id: 6175-assigner
      position:
        x: 1000
        y: 460
      positionAbsolute:
        x: 1000
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(huibao: str) -> dict:\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_modify-->\"\n    return {\"answer_text\": (huibao or \"\") + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N12拼TIMER标记
        type: code
        variables:
        - variable: huibao
          value_selector:
          - 6175-parse
          - huibao
      height: 88
      id: 6175-timer
      position:
        x: 1260
        y: 460
      positionAbsolute:
        x: 1260
        y: 460
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(record_id: str, feedback_zh: str, mokuai: str, huanjing: str, leixing: str, conversation_id: str, flow_state: str, query_text: str) -> dict:\n    import hashlib, json\n    fields = {}\n    if mokuai:\n        fields[\"模块/功能点\"] = mokuai[:100]\n    if feedback_zh:\n        fields[\"操作描述\"] = feedback_zh[:2000]\n    if huanjing and huanjing in (\"后台\", \"管家端\", \"用户端\"):\n        fields[\"环境\"] = huanjing\n    fields[\"类型\"] = (leixing or \"bug\")[:10]\n    conv = (conversation_id or \"\").strip()\n    query = (query_text or \"\").strip()\n    body = {\"record_id\": record_id, \"fields\": fields, \"conversation_id\": conv, \"flow_state\": (flow_state or \"\").strip(), \"source_text\": query, \"idempotency_key\": \"dify-update-\" + hashlib.sha256((conv + \"|\" + str(record_id) + \"|\" + query).encode(\"utf-8\")).hexdigest()}\n    return {\"body_json\": json.dumps(body, ensure_ascii=False)}"
        code_language: python3
        outputs:
          body_json:
            children: null
            type: string
        selected: false
        title: N14组装update fields
        type: code
        variables:
        - variable: record_id
          value_selector:
          - conversation
          - cv_record_id
        - variable: feedback_zh
          value_selector:
          - conversation
          - cv_feedback_zh
        - variable: mokuai
          value_selector:
          - conversation
          - cv_mokuai
        - variable: leixing
          value_selector:
          - conversation
          - cv_leixing
        - variable: huanjing
          value_selector:
          - conversation
          - cv_huanjing
        - variable: conversation_id
          value_selector:
          - sys
          - conversation_id
        - variable: flow_state
          value_selector:
          - conversation
          - cv_flow_state
        - variable: query_text
          value_selector:
          - '6002'
          - query_text
      height: 88
      id: 6176a
      position:
        x: 480
        y: 580
      positionAbsolute:
        x: 480
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - type: text
            value: '{{#6176a.body_json#}}'
          type: json
        error_strategy: fail-branch
        headers: Content-Type:application/json
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        selected: false
        title: N14写主表update(飞书)
        type: http-request
        url: http://120.55.45.59:8501/internal/bugtrack/update
      height: 200
      id: 6176b
      position:
        x: 740
        y: 580
      positionAbsolute:
        x: 740
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_modify_window
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - conversation
          - cv_feedback_zh
          variable_selector:
          - conversation
          - cv_row_summary
        selected: false
        title: var_设IDLE
        type: assigner
        version: '2'
      height: 88
      id: 6176c
      position:
        x: 1000
        y: 580
      positionAbsolute:
        x: 1000
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(record_id: str) -> dict:\n    rid = (record_id or \"\").strip()\n    base = \"https://l177u7fwggf.feishu.cn/base/DUCdbcr2ya2o5gszVKac2NuBnHh?table=tblkYK8aFYHLVQTa&view=vewUv7mfQs&record=\"\n    text = \"已为您更新该问题记录(编号\" + rid + \"),我们将继续跟进处理,感谢您的反馈。\"\n    link = (\"\\n记录链接: \" + base + rid) if rid else \"\"\n    return {\"answer_text\": text + link + \"\\n<!--SYS:TIMER|action=cancel-->\"}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N14汇报+cancel
        type: code
        variables:
        - variable: record_id
          value_selector:
          - conversation
          - cv_record_id
      height: 88
      id: 6176d
      position:
        x: 1260
        y: 580
      positionAbsolute:
        x: 1260
        y: 580
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: n5c-sys
          role: system
          text: "你是 B 端 SaaS 产品客户反馈转写引擎。将用户反馈转为结构化数据。\n\n【输入】用户反馈: {{#6002.query_text#}}\n\n严格输出 JSON,仅含 mokuai/caozuomiaoshu/huanjing/leixing 四个字段,无额外说明:\n{\n  \"mokuai\": \"模块标准名称(15字以内,无法识别填待确认)\",\n  \"caozuomiaoshu\": \"标准化操作路径与问题现象描述(80字以内)\",\n  \"huanjing\": \"后台/管家端/用户端(无法判定填待确认)\",\n  \"leixing\": \"bug/优化(无法判定填待确认)\"\n}"
        - id: n5c-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: N5c 转写(否认命中转新增)
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: '6177'
      position:
        x: 480
        y: 220
      positionAbsolute:
        x: 480
        y: 220
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    obj = None\n    try:\n        idx = text.find(\"{\")\n        if idx >= 0:\n            obj, _ = json.JSONDecoder().raw_decode(text[idx:])\n    except Exception:\n        obj = None\n    if not obj:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n    return {\n        \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n        \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n        \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n        \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20]\n    }"
        code_language: python3
        outputs:
          mokuai:
            children: null
            type: string
          caozuomiaoshu:
            children: null
            type: string
          huanjing:
            children: null
            type: string
          leixing:
            children: null
            type: string
        selected: false
        title: N5c解析JSON
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6177'
          - text
      height: 88
      id: 6177-parse
      position:
        x: 740
        y: 220
      positionAbsolute:
        x: 740
        y: 220
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_new
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_insufficient
          variable_selector:
          - conversation
          - cv_sufficiency_label
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - clarify_count_1
          variable_selector:
          - conversation
          - cv_clarify_count
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_search_keyword
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_row_summary
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_leixing
        selected: false
        title: var_否认转新增设cv
        type: assigner
        version: '2'
      height: 88
      id: 6177-assigner
      position:
        x: 1000
        y: 220
      positionAbsolute:
        x: 1000
        y: 220
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: Doubao-Seed-2.0-lite
          provider: langgenius/volcengine_maas/volcengine_maas
        prompt_template:
        - id: m6239-sys
          role: system
          text: '你是充电桩客服对话意图判定器。用户刚刚成功记录了一条bug反馈(记录编号 {{#conversation.cv_record_id#}}),记录内容摘要: {{#conversation.cv_row_summary#}}。


            现在用户又发来一条消息,请判断用户意图,只输出一个标签,不要任何其他文字:

            - MODIFY : 用户要修改/更正刚才记录的那条反馈(如"记错了""不对""应该是""改成""我说错了")

            - PROGRESS : 用户在询问刚才记录问题的处理进度/状态(如"解决了吗""处理了吗""怎么样了""有结果吗""退了吗""到现在还没退")

            - NEW    : 用户在反馈一个全新的、与刚才记录无关的问题

            - OTHER  : 闲聊、问候、或与bug反馈无关的内容


            用户消息: {{#6002.query_text#}}'
        - id: m6239-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: 修改窗意图判断
        type: llm
        memory: *id003
      height: 88
      id: 6239-llm
      position:
        x: -220
        y: 700
      positionAbsolute:
        x: -220
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: modify
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_m_6239
            value: MODIFY
            varType: string
            variable_selector:
            - 6239-llm
            - text
        - case_id: progress
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_p_6239
            value: PROGRESS
            varType: string
            variable_selector:
            - 6239-llm
            - text
            sub_variable_condition: null
        - case_id: new
          logical_operator: and
          conditions:
          - comparison_operator: contains
            id: c_n_6239
            value: NEW
            varType: string
            variable_selector:
            - 6239-llm
            - text
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6239_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: 修改窗分发
        type: if-else
      height: 118
      id: 6239-if
      position:
        x: 220
        y: 700
      positionAbsolute:
        x: 220
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        model:
          mode: chat
          name: qwen3.6-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: m6239t-sys
          role: system
          text: "你是 B 端 SaaS 产品客户反馈转写引擎。将用户反馈转为结构化数据。\n\n【输入】用户反馈: {{#6002.query_text#}}\n\n严格输出 JSON,仅含 mokuai/caozuomiaoshu/huanjing/leixing 四个字段,无额外说明:\n{\n  \"mokuai\": \"模块标准名称(15字以内,无法识别填待确认)\",\n  \"caozuomiaoshu\": \"标准化操作路径与问题现象描述(80字以内)\",\n  \"huanjing\": \"后台/管家端/用户端(无法判定填待确认)\",\n  \"leixing\": \"bug/优化(无法判定填待确认)\"\n}"
        - id: m6239t-user
          role: user
          text: '{{#6002.query_text#}}'
        context:
          enabled: false
          variable_selector: []
        vision:
          configs:
            detail: high
            variable_selector:
            - sys
            - files
          enabled: false
        reasoning_format: separated
        selected: false
        title: 修改窗转写
        type: llm
        memory:
          window:
            enabled: true
            size: 10
      height: 88
      id: 6239-trans
      position:
        x: 480
        y: 700
      positionAbsolute:
        x: 480
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    m = re.search(r\"\\{[^{}]*\\}\", text)\n    if not m:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n    try:\n        obj = json.loads(m.group(0))\n        return {\n            \"mokuai\": str(obj.get(\"mokuai\",\"\")).strip()[:50],\n            \"caozuomiaoshu\": str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500],\n            \"huanjing\": str(obj.get(\"huanjing\",\"\")).strip()[:20],\n            \"leixing\": str(obj.get(\"leixing\",\"\")).strip()[:20]\n        }\n    except Exception:\n        return {\"mokuai\":\"\",\"caozuomiaoshu\":\"\",\"huanjing\":\"\",\"leixing\":\"\"}\n"
        code_language: python3
        outputs:
          mokuai:
            children: null
            type: string
          caozuomiaoshu:
            children: null
            type: string
          huanjing:
            children: null
            type: string
          leixing:
            children: null
            type: string
        selected: false
        title: 修改窗转写解析
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - 6239-trans
          - text
      height: 88
      id: 6239-trans-parse
      position:
        x: 740
        y: 700
      positionAbsolute:
        x: 740
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6239-trans-parse
          - caozuomiaoshu
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - 6239-trans-parse
          - mokuai
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - 6239-trans-parse
          - huanjing
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - 6239-trans-parse
          - leixing
          variable_selector:
          - conversation
          - cv_leixing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_diff_decision
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: 修改窗设cv+await_diff_decision
        type: assigner
        version: '2'
      height: 88
      id: 6239-modify-assigner
      position:
        x: 1000
        y: 700
      positionAbsolute:
        x: 1000
        y: 700
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_idle
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: 修改窗回IDLE
        type: assigner
        version: '2'
      height: 88
      id: 6239-new-idle
      position:
        x: 220
        y: 820
      positionAbsolute:
        x: 220
        y: 820
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import json, re\n    text = llm_text or \"\"\n    t = text.upper()\n    if \"INSUFFICIENT\" in t or \"NOT SUFFICIENT\" in t:\n        label = \"INSUFFICIENT\"\n    elif \"SUFFICIENT\" in t:\n        label = \"SUFFICIENT\"\n    else:\n        label = \"INSUFFICIENT\"\n    mokuai=caozuomiaoshu=huanjing=leixing=search_keyword=\"\"\n    obj = None\n    try:\n        idx = text.find(\"{\")\n        if idx >= 0:\n            obj, _ = json.JSONDecoder().raw_decode(text[idx:])\n    except Exception:\n        obj = None\n    if obj:\n        mokuai=str(obj.get(\"mokuai\",\"\")).strip()[:50]\n        caozuomiaoshu=str(obj.get(\"caozuomiaoshu\",\"\")).strip()[:500]\n        huanjing=str(obj.get(\"huanjing\",\"\")).strip()[:20]\n        leixing=str(obj.get(\"leixing\",\"\")).strip()[:20]\n        search_keyword=str(obj.get(\"search_keyword\",\"\")).strip()[:20]\n    return {\"label\": label, \"mokuai\": mokuai, \"caozuomiaoshu\": caozuomiaoshu, \"huanjing\": huanjing, \"leixing\": leixing, \"search_keyword\": search_keyword}"
        code_language: python3
        outputs:
          label:
            children: null
            type: string
          mokuai:
            children: null
            type: string
          caozuomiaoshu:
            children: null
            type: string
          huanjing:
            children: null
            type: string
          leixing:
            children: null
            type: string
          search_keyword:
            children: null
            type: string
        selected: false
        title: N5充足度判定
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6250'
          - text
      height: 88
      id: 6250-judge
      position:
        x: 1380
        y: 860
      positionAbsolute:
        x: 1380
        y: 860
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: sufficient
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_suf_6250
            value: SUFFICIENT
            varType: string
            variable_selector:
            - conversation
            - cv_sufficiency_label
        - case_id: insufficient
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_ins_6250
            value: INSUFFICIENT
            varType: string
            variable_selector:
            - conversation
            - cv_sufficiency_label
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6250_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N5充足度分支
        type: if-else
      height: 118
      id: 6250-if
      position:
        x: 1560
        y: 860
      positionAbsolute:
        x: 1560
        y: 860
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_new
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - clarify_count_1
          variable_selector:
          - conversation
          - cv_clarify_count
        selected: false
        title: N5不足设态+存原始反馈
        type: assigner
        version: '2'
      height: 88
      id: 6250-insuf
      position:
        x: 1560
        y: 980
      positionAbsolute:
        x: 1560
        y: 980
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import re\n    text = llm_text or \"\"\n    text = re.sub(r\"【充足度】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧引导话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"【内部结构化数据】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧回复话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"\\{[^{}]*\\}\", \"\", text)\n    text = re.sub(r\"(?m)^\\s*(SUFFICIENT|INSUFFICIENT)\\s*$\", \"\", text)\n    text = re.sub(r\"\\n{3,}\", \"\\n\\n\", text)\n    text = text.strip()\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_new-->\"\n    return {\"answer_text\": text + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N5引导话术直出
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - '6250'
          - text
      height: 88
      id: 6250-insuf-out
      position:
        x: 1560
        y: 1100
      positionAbsolute:
        x: 1560
        y: 1100
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str, clarify_count) -> dict:\n    import re\n    text = llm_text or \"\"\n    t = text.upper()\n    if \"INSUFFICIENT\" in t or \"NOT SUFFICIENT\" in t:\n        is_suf = False\n    elif \"SUFFICIENT\" in t:\n        is_suf = True\n    else:\n        is_suf = False\n    try:\n        count = int(clarify_count or 0)\n    except Exception:\n        count = 0\n    if is_suf:\n        return {\"label\": \"SUFFICIENT\", \"next_count\": count}\n    if count >= 3:\n        return {\"label\": \"ESCALATE\", \"next_count\": count}\n    return {\"label\": \"INSUFFICIENT\", \"next_count\": count + 1}"
        code_language: python3
        outputs:
          label:
            children: null
            type: string
          next_count:
            children: null
            type: number
        selected: false
        title: N5b充足度判定+兜底
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - 6250b
          - text
        - variable: clarify_count
          value_selector:
          - conversation
          - cv_clarify_count
      height: 88
      id: 6250b-judge
      position:
        x: 740
        y: 540
      positionAbsolute:
        x: 740
        y: 540
      selected: false
      type: custom
      width: 242
    - data:
        cases:
        - case_id: sufficient
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_suf_6250b
            value: SUFFICIENT
            varType: string
            variable_selector:
            - 6250b-judge
            - label
        - case_id: insufficient
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_ins_6250b
            value: INSUFFICIENT
            varType: string
            variable_selector:
            - 6250b-judge
            - label
        - case_id: escalate
          logical_operator: and
          conditions:
          - comparison_operator: is
            id: c_esc_6250b
            value: ESCALATE
            varType: string
            variable_selector:
            - 6250b-judge
            - label
        - case_id: default
          logical_operator: and
          conditions:
          - comparison_operator: not empty
            id: cond_6250b_default
            varType: string
            variable_selector:
            - '6002'
            - query_text
        selected: false
        title: N5b充足度分支
        type: if-else
      height: 118
      id: 6250b-if
      position:
        x: 920
        y: 540
      positionAbsolute:
        x: 920
        y: 540
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6250b-judge
          - next_count
          variable_selector:
          - conversation
          - cv_clarify_count
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_await_confirm_new
          variable_selector:
          - conversation
          - cv_flow_state
        selected: false
        title: N5b不足计数+累积补充
        type: assigner
        version: '2'
      height: 88
      id: 6250b-insuf
      position:
        x: 920
        y: 660
      positionAbsolute:
        x: 920
        y: 660
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main(llm_text: str) -> dict:\n    import re\n    text = llm_text or \"\"\n    text = re.sub(r\"【充足度】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧引导话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"【内部结构化数据】[^\\n]*\\n?\", \"\", text)\n    text = re.sub(r\"【客户侧回复话术】\\s*\\n?\", \"\", text)\n    text = re.sub(r\"\\{[^{}]*\\}\", \"\", text)\n    text = re.sub(r\"(?m)^\\s*(SUFFICIENT|INSUFFICIENT)\\s*$\", \"\", text)\n    text = re.sub(r\"\\n{3,}\", \"\\n\\n\", text)\n    text = text.strip()\n    marker = \"<!--SYS:TIMER|action=arm|state=await_confirm_new-->\"\n    return {\"answer_text\": text + \"\\n\" + marker}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: N5b引导话术直出
        type: code
        variables:
        - variable: llm_text
          value_selector:
          - 6250b
          - text
      height: 88
      id: 6250b-insuf-out
      position:
        x: 920
        y: 780
      positionAbsolute:
        x: 920
        y: 780
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_idle
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_leixing
        selected: false
        title: var_放弃结束reset IDLE
        type: assigner
        version: '2'
      height: 88
      id: 6162-abort
      position:
        x: 300
        y: 760
      positionAbsolute:
        x: 300
        y: 760
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    text = \"好的,本次反馈就到这里啦。若还有其他问题,随时联系我为您处理哦~\"\n    return {\"answer_text\": text + \"\\n<!--SYS:TIMER|action=cancel-->\\n<!--SYS:SWITCH_TO_KB_DONE-->\"}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 放弃结束话术
        type: code
        variables: []
      height: 88
      id: 6162-out
      position:
        x: 300
        y: 880
      positionAbsolute:
        x: 300
        y: 880
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {\"answer_text\": \"正在为您切换到智能问答服务,稍等~\\n<!--SYS:SWITCH_TO_KB_REENTRY-->\"}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 切换KB模块(IRRELEVANT)
        type: code
        variables: []
      height: 88
      id: 6162-switch-kb
      position:
        x: 300
        y: 760
      positionAbsolute:
        x: 300
        y: 760
      selected: false
      type: custom
      width: 242
    - data:
        code: "def main() -> dict:\n    return {\"answer_text\": \"正在为您切换到智能问答服务,稍等~\\n<!--SYS:SWITCH_TO_KB_REENTRY-->\"}\n"
        code_language: python3
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
        title: 切换KB模块(修改窗NEW)
        type: code
        variables: []
      height: 88
      id: 6239-switch-kb
      position:
        x: 100
        y: 980
      positionAbsolute:
        x: 100
        y: 980
      selected: false
      type: custom
      width: 242
    - data:
        items:
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - mokuai
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - huanjing
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - leixing
          variable_selector:
          - conversation
          - cv_leixing
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - caozuomiaoshu
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - label
          variable_selector:
          - conversation
          - cv_sufficiency_label
        - input_type: variable
          operation: over-write
          value:
          - 6250-judge
          - search_keyword
          variable_selector:
          - conversation
          - cv_search_keyword
        selected: false
        title: var_首次反馈设cv四字段
        type: assigner
        version: '2'
      height: 88
      id: 6243-pre
      position:
        x: 1180
        y: 620
      positionAbsolute:
        x: 1180
        y: 620
      selected: false
      type: custom
      width: 242
    - id: 6250b-escalate-abort
      type: custom
      position:
        x: 920
        y: 700
      positionAbsolute:
        x: 920
        y: 700
      width: 242
      height: 88
      selected: false
      data:
        type: assigner
        version: '2'
        title: var_转人工reset IDLE
        selected: false
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_idle
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_record_id
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_leixing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_search_keyword
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - clarify_count_0
          variable_selector:
          - conversation
          - cv_clarify_count
    - id: 6250b-escalate-out
      type: custom
      position:
        x: 1180
        y: 700
      positionAbsolute:
        x: 1180
        y: 700
      width: 242
      height: 88
      selected: false
      data:
        type: code
        title: 转人工话术
        code_language: python3
        selected: false
        code: "def main() -> dict:\n    text = \"您的问题比较复杂,为更好帮您处理,我帮您转接人工客服跟进,稍后会有专人与您联系哦~\"\n    return {\"answer_text\": text + \"\\n<!--SYS:TIMER|action=cancel-->\\n<!--SYS:SWITCH_TO_KB_DONE-->\"}"
        outputs:
          answer_text:
            children: null
            type: string
        variables: []
    - id: 6177-deny-out
      type: custom
      position:
        x: 1260
        y: 220
      positionAbsolute:
        x: 1260
        y: 220
      width: 242
      height: 88
      selected: false
      data:
        type: code
        title: 否认引导话术
        code_language: python3
        selected: false
        code: "def main() -> dict:\n    text = \"好的,这不是您反馈的问题。请描述您遇到的新问题(如充电桩无法启动、订单未退款、设备故障等),我来帮您记录跟进~\"\n    return {\"answer_text\": text + \"\\n<!--SYS:TIMER|action=cancel-->\"}"
        outputs:
          answer_text:
            children: null
            type: string
        variables: []
    - id: 6171b-bug-reset
      type: custom
      position:
        x: 740
        y: 340
      positionAbsolute:
        x: 740
        y: 340
      width: 242
      height: 88
      selected: false
      data:
        type: assigner
        version: '2'
        title: var_新bug重置cv
        selected: false
        items:
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_idle
          variable_selector:
          - conversation
          - cv_flow_state
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_search_keyword
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_row_summary
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_feedback_zh
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_mokuai
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_huanjing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - str_empty
          variable_selector:
          - conversation
          - cv_leixing
        - input_type: variable
          operation: over-write
          value:
          - '6901'
          - clarify_count_0
          variable_selector:
          - conversation
          - cv_clarify_count
    - id: 6239-prog-http
      type: custom
      position:
        x: -600
        y: 500
      positionAbsolute:
        x: -600
        y: 500
      data:
        type: http-request
        title: PROGRESS查记录状态
        method: get
        url: http://120.55.45.59:8501/internal/bugtrack/record/{{#conversation.cv_record_id#}}
        headers: Authorization:Bearer rTlcyp8ezVWupzXmGrfPh-l_BQxEQaEqCHCtJbyxs6E
        params: ''
        body:
          type: none
          data: ''
        authorization:
          type: no-auth
          config: null
        error_strategy: fail-branch
        retry_config:
          max_retries: 2
          retry_enabled: true
          retry_interval: 100
        ssl_verify: true
        timeout:
          max_connect_timeout: 10
          max_read_timeout: 30
          max_write_timeout: 30
        variables: []
        selected: false
    - id: 6239-prog-reply
      type: custom
      position:
        x: -350
        y: 500
      positionAbsolute:
        x: -350
        y: 500
      data:
        type: code
        title: PROGRESS进度回报
        code_language: python3
        code: "def main(http_body: str) -> dict:\n    import json\n    try:\n        data = json.loads(http_body or \"{}\")\n    except Exception:\n        data = {}\n    rec = data.get(\"record\")\n    if not rec:\n        return {\"answer_text\": \"您当前会话暂未记录有效的反馈,如需反馈新问题请详细描述。\"}\n    dev = (rec.get(\"dev_status\") or \"\").strip()\n    op_desc = (rec.get(\"op_desc\") or \"\").strip()\n    rid = (rec.get(\"record_id\") or \"\").strip()\n    status_map = {\"问题未查阅\":\"已记录,待开发团队查阅\",\"开发中\":\"开发团队正在处理中\",\"已修复\":\"已修复完成\",\"已关闭\":\"已关闭\"}\n    status_text = status_map.get(dev, dev or \"处理中\")\n    text = \"您反馈的问题已记录,当前状态:\" + status_text + \"。\"\n    if op_desc:\n        text = \"您反馈的问题(\\\"\" + op_desc[:50] + \"\\\")已记录,当前状态:\" + status_text + \"。\"\n    if rid:\n        text += \"记录编号:\" + rid + \"。\"\n    text += \"我们会持续跟进,感谢您的耐心。\"\n    return {\"answer_text\": text}"
        variables:
        - variable: http_body
          value_selector:
          - 6239-prog-http
          - body
        outputs:
          answer_text:
            children: null
            type: string
        selected: false
    viewport:
      x: 0
      y: 0
      zoom: 0.4
  rag_pipeline_variables: []
